
<hr class="text-primary-bold" style="height: 1px; margin: 0px;" />
<div class="h4 text-primary-h4" style="margin-top: 5px;">
  <u>Secondary Details: Individual</u>
</div>
<app-input-duo
  [isNarrow]="isNarrow"
  [typeLeft]="'date'"
  [titleLeft]="'Date of Birth'"
  [typeRight]="'date'"
  [titleRight]="'Date of Death'"
  [doHideByFilter]="true"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
>
</app-input-duo>

<app-input-duo
[isNarrow]="isNarrow"
[typeLeft]="'select-entity'"
[filterText]="filterText"
[doHideByFilter]="true"
[titleLeft]="'Country'"
[valuesLeft]="dataService.getCountries()"
[valueLeft]="dataService.getDefault('countryKey')"
[typeRight]="'text'"
[titleRight]="'Passport Number'"
(onFile)="doFile($event)"
(onRecord)="doRecord($event)"
(onTask)="doTask($event)"
[showCheckLeft]="true"
[showCheckRight]="true"
></app-input-duo>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'text'"
  [titleLeft]="'Employee Number'"
  [typeRight]="'text'"
  [titleRight]="'Position / Job Grade'"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
></app-input-duo>

<app-input-textarea
  [title]="'Qualifications'"
  [placeholder]="'Degree, year, institution'"
  [showCheck]="false"
></app-input-textarea>

<app-input-textarea
  [title]="'Work history'"
  [placeholder]="'Organisation, period, position, responsibilities'"
  [showCheck]="false"
></app-input-textarea>

<div
  class="form-group input-group-sm less-bottom"
  [hidden]="hideByFilter('Appointments')"
  style="margin-top: 5px; margin-bottom: 5px;"
>
  <a href="#" data-toggle="collapse" data-target="#appointments-individual">
    <label class="nobottom text-primary-bold">Appointments </label
    ><span class="caret"></span>
  </a>

  <div id="appointments-individual" class="collapse">
    <table
      class="table table-condensed table-bordered table-hover less-bottom"
      style="font-size: smaller;"
    >
      <thead class="info">
        <tr class="info">
          <th>Full name</th>
          <th>Position</th>
          <th>Appointed</th>
          <th>
            Resigned
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-primary primary-color btn-xs"
                (click)="showAppointeeNewNew()"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-remove]="isAppointeeNewInput"
                  [class.glyphicon-plus]="!isAppointeeNewInput"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  [title]="
                    isAppointeeNewInput
                      ? 'Cancel the changes'
                      : 'Add an appointment'
                  "
                ></span
              ></a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Google (Pty) Ltd</td>
          <td>Director</td>
          <td>2015/04/03</td>
          <td>
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-primary primary-color btn-xs"
                (click)="showAppointeeNewEdit()"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-remove]="isAppointeeNewInput"
                  [class.glyphicon-pencil]="!isAppointeeNewInput"
                ></span
              ></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Amazon - SA</td>
          <td>Director</td>
          <td>2015/04/03</td>
          <td>
            2018/05/15
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-primary primary-color btn-xs"
                (click)="showAppointeeNewEdit()"
                ><span
                  class="glyphicon"
                  [class.glyphicon-remove]="isAppointeeNewInput"
                  [class.glyphicon-pencil]="!isAppointeeNewInput"
                ></span
              ></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Amazon - USA</td>
          <td>Director</td>
          <td>2015/04/03</td>
          <td>
            2018/05/15
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-primary primary-color btn-xs"
                (click)="showAppointeeNewEdit()"
                ><span
                  class="glyphicon"
                  [class.glyphicon-remove]="isAppointeeNewInput"
                  [class.glyphicon-pencil]="!isAppointeeNewInput"
                ></span
              ></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div
      class="panel panel-primary no-gutter nobottom"
      [hidden]="!isAppointeeNewInput"
    >
      <div class="panel panel-heading mt3 nobottom">
        <small>New Appointment</small>
        <div class="btn-group pull-right">
          <a
            href="#"
            class="btn btn-info btn-xs"
            (click)="showAppointeeNewNew()"
          >
            <span
              class="glyphicon glyphicon-remove"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Cancel the changes"
            ></span>
          </a>
          <a
            href="#"
            class="btn btn-info btn-xs"
            (click)="showAppointeeNewNew()"
            ><span
              class="glyphicon glyphicon-cloud-upload"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Save the changes"
            ></span>
          </a>
        </div>
      </div>
      <div class="panel panel-body mt3 nobottom">
        <div class="form-group input-group-sm nobottom">
          <label class="nobottom text-primary-bold">Appointee</label>
          <div class="btn-group pull-right">
            <a
              href="#"
              class="btn btn-primary primary-color btn-xs"
              (click)="showAppointeeNew()"
            >
              <span
                class="glyphicon"
                [class.glyphicon-remove]="isAppointeeInput"
                [class.glyphicon-pencil]="!isAppointeeInput"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="
                  isAppointeeInput ? 'Cancel the changes' : 'Edit an appointee'
                "
              ></span>
            </a>
            <a
              href="#"
              class="btn btn-primary primary-color btn-xs"
              (click)="showAppointeeNew()"
            >
              <span
                class="glyphicon"
                [class.glyphicon-cloud-upload]="isAppointeeInput"
                [class.glyphicon-plus]="!isAppointeeInput"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="
                  isAppointeeInput ? 'Save the changes' : 'Add an appointee'
                "
              ></span>
            </a>
          </div>
          <div class="input-group-sm" [hidden]="isAppointeeInput">
            <select class="form-control input-sm" style="font-size: small;">
              <option>Smith, John</option>
              <option>David, Bowe</option>
              <option>Campbell, Arthur</option>
            </select>
          </div>

          <div
            class="panel panel-primary no-gutter nobottom"
            [hidden]="!isAppointeeInput"
          >
            <div class="panel panel-body mt3 nobottom">
              <div class="input-group-sm">
                <label class="nobottom text-primary-bold">Surname</label>
                <input type="text" class="form-control" placeholder="" />
                <label class="nobottom text-primary-bold">First Name</label>
                <input type="text" class="form-control" placeholder="" />
                <label class="nobottom text-primary-bold">Optional Suffix</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Optional suffix to differenciate same names"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="container-flex">
          <div class="row">
            <div class="col-xs-6">
              <app-input-select
                [title]="'Position'"
                [values]="dataService.getPositions()"
                [filterText]="filterText"
                [value]="0"
              ></app-input-select>
            </div>
          </div>
        </div>

        <app-input-duo
          [typeLeft]="'date'"
          [typeRight]="'date'"
          [titleLeft]="'Appointment Date'"
          [titleRight]="'Resignation Date'"
          [filterText]="filterText"
          [showCheckLeft]="true"
          [showCheckRight]="true"
        ></app-input-duo>
      </div>
    </div>
  </div>
</div>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'text'"
  [titleLeft]="'Gender'"
  [typeRight]="'text'"
  [titleRight]="'Race'"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
></app-input-duo>

<hr style="height: 1px; margin: 0px;" />