.mat-icon-big {
    vertical-align: middle;
    font-size: 15.8px;
    width: 15.4px;
    height: 15.4px; 
  }

  .mat-icon-small {
    vertical-align: middle;
    font-size: 13px;
    width: 11.9px;
    height: 15px;
  }