<div *ngIf="showRadio">
  <div class="btn-group wide input-group-sm" data-toggle="buttons">
    <label
      *ngIf="showFlash"
      class="btn primary-color btn-hover btn-xs"
      (click)="doRadio('flash')"
      [class.primary-color-active]="radioChoice == 'flash'"
      [class.primary-color]="radioChoice != 'flash'"
      [title]="titleFlash"
    >
      <input
        type="radio"
        name="radioChoice"
        value="flash"
        [checked]="radioChoice == 'flash'"
        [class.active]="true"
        [class.focus]="radioChoice == 'flash'"
      />
      <mat-icon class="mat-icon-small" aria-hidden="true" aria-label="Entities"
        >flash_on</mat-icon
      >
      <small class="hidden-xs">&nbsp;{{ countFlash }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionFlash }}</span>
      <!-- <span class="hidden-xs hidden-sm hidden-sm">
        <span class="badge badge-xs progress-bar-primary"
          ><small>{{ countFlash }}</small></span
        >
      </span> -->
    </label>

    <label
      *ngIf="showPlay"
      class="btn btn-xs primary-color btn-hover "
      [class.primary-color-active]="radioChoice == 'play'"
      [class.primary-color]="radioChoice != 'play'"
      (click)="doRadio('play')"
      [title]="titlePlay"
    >
      <input
        type="radio"
        name="radioChoice"
        value="play"
        [checked]="radioChoice == 'play'"
      />
      <mat-icon class="mat-icon-small" aria-hidden="true" aria-label="Entities"
        >play_arrow</mat-icon
      >
      <small class="hidden-xs">&nbsp;{{ countPlay }}</small>
      <span class="hidden-xs" [hidden]="isNarrow"> {{ captionPlay }}</span>
      <!-- <span class="hidden-xs hidden-sm hidden-sm">
        <span class="badge badge-xs bg-primary"
          ><small>{{ countPlay }}</small></span
        ></span
      > -->
    </label>

    <label
      *ngIf="showPause"
      class="btn primary-color btn-hover btn-xs"
      (click)="doRadio('pause')"
      [class.primary-color-active]="radioChoice == 'pause'"
      [class.primary-color]="radioChoice != 'pause'"
      [title]="titlePause"
    >
      <input
        type="radio"
        name="radioChoice"
        value="pause"
        [checked]="radioChoice == 'pause'"
      />
      <mat-icon class="mat-icon-small" aria-hidden="true" aria-label="Entities"
        >pause</mat-icon
      >
      <small class="hidden-xs">&nbsp;{{ countPause }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionPause }}</span>
      <!-- <span class="hidden-xs hidden-sm hidden-sm">
        <span class="badge badge-xs"
          ><small>{{ countPause }}</small></span
        ></span
      > -->
    </label>

    <label
      *ngIf="showOk"
      class="btn primary-color btn-hover btn-xs"
      (click)="doRadio('ok')"
      [class.primary-color-active]="radioChoice == 'ok'"
      [class.primary-color]="radioChoice != 'ok'"
      [title]="titleOk"
    >
      <input
        type="radio"
        name="radioChoice"
        value="ok"
        [checked]="radioChoice == 'ok'"
      />
      <mat-icon class="mat-icon-small" aria-hidden="true" aria-label="Entities"
        >done</mat-icon
      >
      <small class="hidden-xs">&nbsp;{{ countOk }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionOk }}</span>
      <!-- <span class="hidden-xs hidden-sm hidden-sm">
        <span class="badge badge-xs">
          <small>{{ countOk }}</small></span
        ></span
      > -->
    </label>

    <label
      *ngIf="showEyeClose"
      class="btn primary-color btn-hover btn-xs"
      (click)="doRadio('eye-close')"
      [class.primary-color-active]="radioChoice == 'eye-close'"
      [class.primary-color]="radioChoice != 'eye-close'"
      [title]="titleEyeClose"
    >
      <input
        type="radio"
        name="radioChoice"
        value="eye-close"
        [checked]="radioChoice == 'eye-close'"
      />
      <mat-icon class="mat-icon-small" aria-hidden="true" aria-label="Entities"
        >visibility_off</mat-icon
      >
      <small class="hidden-xs">&nbsp;{{ countEyeClose }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionEyeClose }}</span>
      <!-- <span class="badge badge-xs"
        ><span class="hidden-xs hidden-sm hidden-sm">
          <small>{{ countEyeClose }}</small></span
        ></span
      > -->
    </label>

    <label
      *ngIf="showEyeOpen"
      class="btn primary-color btn-hover btn-xs"
      (click)="doRadio('eye-open')"
      [class.primary-color-active]="radioChoice == 'eye-open'"
      [class.primary-color]="radioChoice != 'eye-open'"
      [title]="titleEyeOpen"
    >
      <input
        type="radio"
        name="radioChoice"
        value="eye-open"
        [checked]="radioChoice == 'eye-open'"
      />
      <mat-icon class="mat-icon-small" aria-hidden="true" aria-label="Entities"
        >visibility</mat-icon
      >
      <small class="hidden-xs">&nbsp;{{ countEyeOpen }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionEyeOpen }}</span>
      <!-- <span class="badge badge-xs"
        ><span class="hidden-xs hidden-sm hidden-sm">
          <small>{{ countEyeOpen }}</small></span
        ></span
      > -->
    </label>

    <label
      *ngIf="showAll"
      class="btn primary-color btn-hover btn-hover btn-xs"
      [class.primary-color-active]="radioChoice == 'all'"
      [class.primary-color]="radioChoice != 'all'"
      (click)="doRadio('all')"
      [title]="titleAll"
    >
      <input
        type="radio"
        name="radioChoice"
        value="all"
        [checked]="radioChoice == 'all'"
      />
      <mat-icon class="mat-icon-small" aria-hidden="true" aria-label="Entities"
        >all_inclusive</mat-icon
      >
      <small class="hidden-xs">&nbsp;&nbsp;{{ countAll }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionAll }}</span>
    </label>
  </div>
</div>

<div class="input-group input-group-sm" style="width: 100%;">

  <app-input-dropdown *ngIf="showList"
    [values] = "listValues"
    [key] = "+listValue"
    (onChange) = "doListChange($event)"
    [marginTop] = "'2px'"
  ></app-input-dropdown>
  <!-- <select
    *ngIf="showList"
    class="form-control input-sm wide primary-color-input-reverse border-radious-3"
    style="
      font-size: small;
      border-top: none;
      border-bottom: none;
      border-radius: 3px;
    "
    (change)="doListChange($event)"
    [title]="titleList"
  >
    <option
      *ngFor="let e of listValues.all_keys"
      [selected]="e == listValue"
      [value]="e"
    >
      {{ listValues.all_values[e].name }}</option
    >
  </select> -->
</div>

<div [hidden]="!showInputFilter" [style.margin-top]="showList?'0px':'1px'">
  <div class="input-group input-group-sm">
    <span
      *ngIf="showA"
      class="input-group-addon btn"
      [class.primary-color]="!isA"
      [class.primary-color-active]="isA"
      (click)="doA()"
      [title]="(isA ? 'off: ' : 'on: ') + titleA"
      [class.btn-blocked]="disabledA"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >format_color_text</mat-icon
      >
    </span>

    <span
      *ngIf="showTick"
      class="input-group-addon btn primary-color btn-hover"
      (click)="doTick()"
      [class.btn-blocked]="disabledTick"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >done_outline</mat-icon
      >
    </span>

    <input
      type="text"
      class="form-control input-sm primary-color-input-reverse"
      [placeholder]="'Search ' + titlePlural"
      [(ngModel)]="filterText"
      (keyup)="doKey($event)"
      style="font-weight: normal; width: 100%;z-index: 999;"
      autocomplete="nope"
      [title]="'Type text to filter items'"
    />

    <span
      *ngIf="filterText.length > 0"
      class="input-group-addon btn primary-color btn-hover"
      style="border-left: none;"
      (click)="doFilterClear()"
      [class.btn-blocked]="disabledFilterCount"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >clear</mat-icon
      >
    </span>
    <span
      *ngIf="showSearch"
      class="input-group-addon btn primary-color btn-hover"
      style="border-left: none;"
      (click)="doSearch()"
      [class.btn-blocked]="filterText.length == -1"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >search</mat-icon
      >
    </span>

    <span
      *ngIf="showFilterCount"
      class="input-group-addon primary-color hidden-xs"
      title="Number of items"
      style="border-left: none; pointer-events: none;"
      [title]="'Showing ' + filterCount + ' items'"
    >
      {{ filterCount }}
    </span>

    <span
      *ngIf="showShare"
      class="input-group-addon btn primary-color btn-hover"
      style="border-left: none;"
      (click)="doShare()"
      [title]="'Share ' + title"
      [class.btn-blocked]="disabledShare"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >share</mat-icon
      >
    </span>

    <span
      *ngIf="showT"
      class="input-group-addon btn primary-color btn-hover"
      style="border-left: none;"
      (click)="doT()"
      [title]="(!isT ? 'Include ' : 'Exclude ') + titleT + ' in filter'"
      [class.btn-blocked]="disabledT"
      [class.primary-color-active]="isT"
      [class.primary-color]="!isT"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >clear_all</mat-icon
      >
    </span>

    <span
      *ngIf="showDuplicate"
      class="input-group-addon btn primary-color-active"
      style="border-left: none;"
      (click)="doDuplicate()"
      [title]="'Copy ' + title"
      [class.btn-blocked]="disabledDuplicate"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >file_copy</mat-icon
      >
    </span>

    <span
      *ngIf="showDownload"
      class="input-group-addon btn primary-color-active"
      style="border-left: none;"
      (click)="doDownload()"
      [title]="'Download ' + title"
      [class.btn-blocked]="disabledDownload"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >cloud_download</mat-icon
      >
    </span>

    <span
      *ngIf="showSave"
      class="input-group-addon btn primary-color-active"
      style="border-left: none;"
      (click)="doSave()"
      [title]="'Save ' + title"
      [class.btn-blocked]="disabledSave"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >done</mat-icon
      >
    </span>

    <span
      *ngIf="showDelete"
      class="input-group-addon btn primary-color-active"
      style="border-left: none;"
      (click)="doDelete()"
      [title]="'Delete ' + title"
      [class.btn-blocked]="disabledDelete"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >clear</mat-icon
      >
    </span>

    <span
      *ngIf="showAdd"
      class="input-group-addon btn primary-color-active"
      style="border-left: none;"
      (click)="doAdd()"
      [title]="'Add ' + title"
      [class.btn-blocked]="disabledAdd"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >add</mat-icon
      >
    </span>

    <span
      *ngIf="showCancel"
      class="input-group-addon btn primary-color-active"
      style="border-left: none;"
      (click)="doCancel()"
      [title]="'Discard changes'"
      [class.btn-blocked]="disabledCancel"
    >
      <mat-icon class="mat-icon-big" aria-hidden="true" aria-label="Entities"
        >clear</mat-icon
      >
    </span>
  </div>
</div>
