<div *ngIf="showRadio">
  <div class="btn-group wide input-group-sm" data-toggle="buttons">
    <label
      *ngIf="showFlash"
      class="btn primary-color btn-xs"
      (click)="doRadio('flash')"
      [class.primary-color-active]="radioChoice == 'flash'"
      [class.primary-color]="radioChoice != 'flash'"
      [title]="titleFlash"
    >
      <input
        type="radio"
        name="radioChoice"
        value="flash"
        [checked]="radioChoice == 'flash'"
        [class.active]="true"
        [class.focus]="radioChoice == 'flash'"
      />
      <span class="glyphicon glyphicon-flash"></span>
      <small class="hidden-xs">&nbsp;{{ countFlash }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionFlash }}</span>
      <!-- <span class="hidden-xs hidden-sm hidden-sm">
        <span class="badge badge-xs progress-bar-primary"
          ><small>{{ countFlash }}</small></span
        >
      </span> -->
    </label>

    <label
      *ngIf="showPlay"
      class="btn btn-xs primary-color"
      [class.primary-color-active]="radioChoice == 'play'"
      [class.primary-color]="radioChoice != 'play'"
      (click)="doRadio('play')"
      [title]="titlePlay"
    >
      <input
        type="radio"
        name="radioChoice"
        value="play"
        [checked]="radioChoice == 'play'"
      />
      <span class="glyphicon glyphicon-play"></span>
      <small class="hidden-xs">&nbsp;{{ countPlay }}</small>
      <span class="hidden-xs" [hidden]="isNarrow"> {{ captionPlay }}</span>
      <!-- <span class="hidden-xs hidden-sm hidden-sm">
        <span class="badge badge-xs bg-primary"
          ><small>{{ countPlay }}</small></span
        ></span
      > -->
    </label>

    <label
      *ngIf="showPause"
      class="btn primary-color btn-xs"
      (click)="doRadio('pause')"
      [class.primary-color-active]="radioChoice == 'pause'"
      [class.primary-color]="radioChoice != 'pause'"
      [title]="titlePause"
    >
      <input
        type="radio"
        name="radioChoice"
        value="pause"
        [checked]="radioChoice == 'pause'"
      />
      <span class="glyphicon glyphicon-pause"></span>
      <small class="hidden-xs">&nbsp;{{ countPause }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionPause }}</span>
      <!-- <span class="hidden-xs hidden-sm hidden-sm">
        <span class="badge badge-xs"
          ><small>{{ countPause }}</small></span
        ></span
      > -->
    </label>

    <label
      *ngIf="showOk"
      class="btn primary-color btn-xs"
      (click)="doRadio('ok')"
      [class.primary-color-active]="radioChoice == 'ok'"
      [class.primary-color]="radioChoice != 'ok'"
      [title]="titleOk"
    >
      <input
        type="radio"
        name="radioChoice"
        value="ok"
        [checked]="radioChoice == 'ok'"
      />
      <span class="glyphicon glyphicon-ok"></span>
      <small class="hidden-xs">&nbsp;{{ countOk }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionOk }}</span>
      <!-- <span class="hidden-xs hidden-sm hidden-sm">
        <span class="badge badge-xs">
          <small>{{ countOk }}</small></span
        ></span
      > -->
    </label>

    <label
      *ngIf="showEyeClose"
      class="btn primary-color btn-xs"
      (click)="doRadio('eye-close')"
      [class.primary-color-active]="radioChoice == 'eye-close'"
      [class.primary-color]="radioChoice != 'eye-close'"
      [title]="titleEyeClose"
    >
      <input
        type="radio"
        name="radioChoice"
        value="eye-close"
        [checked]="radioChoice == 'eye-close'"
      />
      <span class="glyphicon glyphicon-eye-close"></span>
      <small class="hidden-xs">&nbsp;{{ countEyeClose }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionEyeClose }}</span>
      <!-- <span class="badge badge-xs"
        ><span class="hidden-xs hidden-sm hidden-sm">
          <small>{{ countEyeClose }}</small></span
        ></span
      > -->
    </label>

    <label
      *ngIf="showEyeOpen"
      class="btn primary-color btn-xs"
      (click)="doRadio('eye-open')"
      [class.primary-color-active]="radioChoice == 'eye-open'"
      [class.primary-color]="radioChoice != 'eye-open'"
      [title]="titleEyeOpen"
    >
      <input
        type="radio"
        name="radioChoice"
        value="eye-open"
        [checked]="radioChoice == 'eye-open'"
      />
      <span class="glyphicon glyphicon-eye-open"></span>
      <small class="hidden-xs">&nbsp;{{ countEyeOpen }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionEyeOpen }}</span>
      <!-- <span class="badge badge-xs"
        ><span class="hidden-xs hidden-sm hidden-sm">
          <small>{{ countEyeOpen }}</small></span
        ></span
      > -->
    </label>

    <label
      *ngIf="showAll"
      class="btn primary-color btn-xs"
      [class.primary-color-active]="radioChoice == 'all'"
      [class.primary-color]="radioChoice != 'all'"
      (click)="doRadio('all')"
      [title]="titleAll"
    >
      <input
        type="radio"
        name="radioChoice"
        value="all"
        [checked]="radioChoice == 'all'"
      />
      <span class="glyphicon glyphicon-asterisk"></span>
      <small class="hidden-xs">&nbsp;{{ countAll }}</small
      ><span class="hidden-xs" [hidden]="isNarrow"> {{ captionAll }}</span>
      <!-- <span class="hidden-xs hidden-sm hidden-sm"> 
        glyphicon-option-horizontal
        <span class="badge badge-xs">
          <small>{{ countAll }}</small></span
        ></span
      > -->
    </label>
  </div>
</div>

<div class="input-group input-group-sm" style="width: 100%;">
  <select
    *ngIf="showList"
    class="form-control input-sm wide primary-color-input-reverse"
    style="font-size: small; border-bottom: none;"
    (change)="doListChange($event)"
    [title] = "titleList"
  >
    <option
      *ngFor="let e of listValues.all_keys"
      [selected]="e == listValue"
      [value]="e"
    >
      {{ listValues.all_values[e].name }}</option
    >
  </select>
</div>

<div [hidden]="!showInputFilter">
  <div class="input-group input-group-sm">
    <span
      *ngIf="showA"
      class="input-group-addon btn"
      [class.primary-color-reverse]="!isA"
      [class.primary-color]="isA"
      (click)="doA()"
      
      [title]="(isA ? 'off: ':'on: ') + titleA"
    >
      <span class="glyphicon glyphicon-text-color"></span>
    </span>
    <span
      *ngIf="showTick"
      class="input-group-addon btn primary-color-reverse"
      (click)="doTick()"
    >
      <span class="glyphicon glyphicon-ok"></span>
    </span>

    <input
      type="text"
      class="form-control input-sm primary-color-input-reverse"
      [placeholder]="'Filter ' + titlePlural"
      [(ngModel)]="filterText"
      (keyup)="doKey($event)"
      style="font-weight: normal; width: 100%;"
      autocomplete="nope"
      [title] = "'Type text to filter items'"
    />

    <span
      *ngIf="filterText.length > 0"
      class="input-group-addon btn primary-color-reverse"
      style="border-left: none;"
      (click)="doFilterClear()"
    >
      <span class="glyphicon glyphicon-erase"></span>
    </span>

    <span
      *ngIf="showFilterCount"
      class="input-group-addon primary-color-reverse primary-color-reverse-no-hover hidden-xs"
      title="Number of items"
      style="border-left: none; "
      [title] = "'Showing ' + filterCount + ' items'"
    >
      {{ filterCount }}
    </span>

    <span
      *ngIf="showShare"
      class="input-group-addon btn primary-color-reverse"
      style="border-left: none;"
      (click)="doShare()"
      [title]="'Share ' + title"
    >
      <span class="glyphicon glyphicon-share-alt"></span>
    </span>

    <span
      *ngIf="showT"
      class="input-group-addon btn primary-color-reverse"
      style="border-left: none;"
      (click)="doT()"
      [title]="(!isT ? 'Include ' : 'Exclude ') + titleT + ' in filter'"
    >
      <span
        class="glyphicon"
        [class.glyphicon-text-height]="isT"
        [class.glyphicon-text-width]="!isT"
      ></span>
    </span>

    <span
      *ngIf="showDuplicate"
      class="input-group-addon btn primary-color-reverse"
      style="border-left: none;"
      (click)="doDuplicate()"
      [title]="'Copy ' + title"
    >
      <span class="glyphicon glyphicon-duplicate"></span>
    </span>

    <span
      *ngIf="showDownload"
      class="input-group-addon btn primary-color-reverse"
      style="border-left: none;"
      (click)="doDownload()"
      [title]="'Download ' + title"
    >
      <span class="glyphicon glyphicon-cloud-download"></span>
    </span>

    <span
      *ngIf="showSave"
      class="input-group-addon btn primary-color-reverse"
      style="border-left: none;"
      (click)="doSave()"
      [title]="'Save ' + title"
    >
      <span class="glyphicon glyphicon-cloud-upload"></span>
    </span>

    <span
      *ngIf="showDelete"
      class="input-group-addon btn primary-color-reverse"
      style="border-left: none;"
      (click)="doDelete()"
      [title]="'Delete ' + title"
    >
      <span class="glyphicon" [class.glyphicon-minus]="showDelete"></span>
    </span>

    <span
      *ngIf="showAdd"
      class="input-group-addon btn primary-color-reverse"
      style="border-left: none;"
      (click)="doAdd()"
      [title]="'Add ' + title"
    >
      <span class="glyphicon" [class.glyphicon-plus]="showAdd"></span>
    </span>

    <span
      *ngIf="showCancel"
      class="input-group-addon btn primary-color-reverse"
      style="border-left: none;"
      (click)="doCancel()"
      [title]="'Discard changes'"
    >
      <span class="glyphicon" [class.glyphicon-remove]="showCancel"></span>
    </span>
  </div>
</div>
