.mat-icon-big {
    vertical-align: middle;
    font-size: 16px;
    width: 16px;
    height: 17px; 
  }

  .mat-icon-small {
    vertical-align: middle;
    font-size: 13px;
    width: 11.9px;
    height: 15px;
  }