<div class="panel  no-gutter nobottom app-input"
    [class.panel-default] = "panelDefault"
    [class.panel-primary] = "panelPrimary"
    [class.panel-info] = "panelInfo"
    
    >
    <div
      class="panel-heading mt3"
      style="vertical-align: middle; cursor: pointer;"
      [attr.data-target]="'#input-panel-' + getID()"
      data-toggle="collapse"
    >
      {{title}}
    </div>
    <div class="panel-body mt3 collapse" style="margin-bottom: 0px;" [attr.id]="'input-panel-' + getID()">
      <div style="overflow-y: scroll;overflow-x: hidden;">
        <ng-content></ng-content>
      </div>
    </div>
  </div>