<hr class="primary-color" style='height: 1px;margin:0px'>
<div class="h4 text-primary" style="margin-top: 5px;"><u>Primary Details</u></div>
<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'select-checkbox'"
  [titleLeft]="'Lists membership'"
  [optionsLeft]="['- Default -', 'Africa', 'Europe', 'Asia']"
  [valueLeft]="'- Default -'"
  [typeRight]="'text'"
  [titleRight]="'Internal Code'"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
>
</app-input-duo>

<app-input-duo
  [typeLeft]="'select'"
  [typeRight]="'select'"
  [filterText]="filterText"
  [doHideByFilter]="true"
  [titleLeft]="'Country'"
  [optionsLeft]="['South Africa', 'Botswana', 'UK']"
  [valueLeft]="'South Africa'"
  [titleRight]="'Industry'"
  [optionsRight]="['Banking', 'Asset Management', 'Property']"
  [valueRight]="'Banking'"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
></app-input-duo>

<app-input-duo
  [typeLeft]="'checkbox'"
  [typeRight]="'checkbox'"
  [filterText]="filterText"
  [doHideByFilter]="true"
  [titleLeft]="'Representative Office'"
  [valueLeft]="false"
  [titleRight]="'Foreign branch'"
  [valueRight]="false"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
></app-input-duo>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'date'"
  [titleLeft]="'Incorporation Date'"
  [valueLeft]=""
  [typeRight]="'select'"
  [titleRight]="'Anniversary (month)'"
  [optionsRight]="[
    '01',
    '02',
    '03',
    '04',
    '05',
    '06',
    '07',
    '08',
    '09',
    '10',
    '11',
    '12'
  ]"
  [valueRight]="'01'"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
></app-input-duo>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'date'"
  [titleLeft]="'Business Start Date'"
  [optionsLeft]="[]"
  [valueLeft]=""
  [typeRight]="'select'"
  [titleRight]="'Financial year end (month)'"
  [optionsRight]="[
    '01',
    '02',
    '03',
    '04',
    '05',
    '06',
    '07',
    '08',
    '09',
    '10',
    '11',
    '12'
  ]"
  [valueRight]="'01'"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
></app-input-duo>
