<!-- <hr class="text-primary-bold" style="height: 1px; margin: 0px;" /> -->
<hr>
<div class="h4 text-primary-h4" style="margin-top: 5px;">
  <u>Primary Details: Company</u>
</div>

<app-input-duo
  [filterText] = "filterText"
  [isNarrow]="isNarrow"
  [typeLeft]="'text'"
  [titleLeft]="'Suffix'"
  [placeholderLeft]="
    'Optional suffix - used to differenciate entities with the same name. E.g. Country of Incorporation (in brackets), used to differenciate entities with the same name, but from different countries'
  "
  [valueLeft] = "legalEntity.suffix"
  (onChangeLeft) = "legalEntity.suffix = $event"

  [typeRight]="'checkbox'"
  [titleRight]="'Active'"
  [valueRight]="legalEntity.isActive"
  [doHideByFilter]="true"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
>
</app-input-duo>

<app-input-duo
  [filterText] = "filterText"
  [isNarrow]="isNarrow"
  [typeLeft]="'text'"
  [typeRight]="'date'"
  [titleLeft]="'Registration Number'"
  [placeholderLeft] = "'Registration Number of the Entity'"
  [titleRight]="'Curr. Name Effective Date'"
  [doHideByFilter]="true"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft] = "true"
        [showCheckRight] = "true"
>
</app-input-duo>
<app-input-duo
  [filterText] = "filterText"
  [isNarrow]="isNarrow"
  [typeLeft]="'text'"
  [typeRight]="'date'"
  [titleLeft]="'Prev. Name'"
  [placeholderLeft] = "'Previous name of the entity, if applicable - only include most recent change'"
  [titleRight]="'Prev. Name Effective Date'"
  [doHideByFilter]="true"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft] = "true"
        [showCheckRight] = "true"
>
</app-input-duo>
<app-input-duo
  [isNarrow]="isNarrow"
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'select-checkbox'"
  [titleLeft]="'Entity Groups'"
  [valuesLeft]="dataService.getEntityGroups()"
  [valueLeft]="0"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft] = "true"
        [showCheckRight] = "true"
>
</app-input-duo>

<app-input-duo
  [isNarrow]="isNarrow"
  [typeLeft]="'select-entity'"
  [typeRight]="'select-entity'"
  [filterText]="filterText"
  [doHideByFilter]="true"
  [titleLeft]="'Country'"
  [placeholderLeft] = "'Country of Incorporation'"
  [valuesLeft]="dataService.getCountries()"
  [valueLeft]="dataService.getDefault('countryKey')"
  

  [titleRight]="'Industry'"
  [valuesRight]="dataService.getIndustries()"
  [valueRight]="0"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft] = "true"
        [showCheckRight] = "true"
></app-input-duo>

<app-input-duo
  [isNarrow]="isNarrow"
  [typeLeft]="'checkbox'"
  [typeRight]="'checkbox'"
  [filterText]="filterText"
  [doHideByFilter]="true"
  [titleLeft]="'Representative Office'"
  [valueLeft]="false"
  [titleRight]="'Foreign Branch'"
  [valueRight]="false"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft] = "true"
        [showCheckRight] = "true"
></app-input-duo>

<app-input-duo
  [isNarrow]="isNarrow"
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'date'"
  [titleLeft]="'Incorporation Date'"
  [placeholderLeft] = "'Incorporation date of the entity'"
  [showCheckLeft] = "true"

  [typeRight]="'select-entity'"
  [titleRight]="'Anniversary (month)'"
  [placeholderRight] = "'Anniversary Date (month) of the incorporation of the entity'"
  [valuesRight]="dataService.getMonths()"
  [valueRight]="0"
  [showAddRight]="false"
  [showDeleteRight]="false"
  [showEditRight]="false"
  [showCheckRight] = "false"

  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"      
></app-input-duo>

<app-input-duo
  [isNarrow]="isNarrow"
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'date'"
  [titleLeft]="'Business start date of the entity'"
  [valueLeft]=""
  [showCheckLeft] = "true"

  [typeRight]="'select-entity'"
  [titleRight]="'Financial Year End (month)'"
  [valuesRight]="dataService.getMonths()"
  [valueRight]="0"
  [showAddRight]="false"
  [showDeleteRight]="false"
  [showEditRight]="false"
  [showCheckRight] = "false"

  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  
></app-input-duo>

<div style="padding-bottom: 5px;"> </div>
