<!-- <div [class.alert] = "showApplyAlert" 
[class.alert-warning]="showApplyAlert" 
[hidden] = "!showApplyAlert" (closed.bs.alert)="showApplyAlert=false">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Warning!</strong> Are you sure you ant to apply the changes?
</div> -->

<div
  class="panel panel-warning narrow"
>
  <div class="panel-heading mt3">
    <span class="glyphicon glyphicon-check"></span>
    <a href="#" (click)="isEdit = !isEdit">
      {{ task.mainGoal.whenStringCreated() }} : {{ task.mainGoal.whoCreated }}
    </a>
    <!-- toggleDone() <a href="#" (click)="doEdit()" [hidden]="isEdit"
      ><span class="glyphicon glyphicon-pencil pull-right"></span
    ></a> -->

    <app-buttons-cancel-save
      [hidden]="!isEdit"
      [glyphOnly]="true"
      (onCancel)="doClose()"
      (onSave)="doClose()"
    ></app-buttons-cancel-save>
  </div>
  <div class="panel-body message" [hidden]="!isEdit">
    <table
      class="table table-condensed table-bordered table-hover less-bottom"
      style="font-size: smaller;"
    >
      <thead class="info">
        <tr class="info">
          <th>Attribute</th>
          <th>
            Previous value
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showConfirm('Previous values', '')"
                ><span class="glyphicon glyphicon-save"></span
              ></a>
            </div>
          </th>
          <th>
            Change to
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showConfirm('Change to', '')"
                ><span class="glyphicon glyphicon-save"></span
              ></a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Appointmnet Date: Smith, John</td>
          <td>
            no appointment date
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="
                  showConfirm(
                    'Appointment Date: Smith, John',
                    'no appointment date'
                  )
                "
                ><span class="glyphicon glyphicon-save"></span
              ></a>
            </div>
          </td>
          <td>
            2020/02/13
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="
                  showConfirm('Appointment Date: Smith, John', '2020/02/13')
                "
                ><span class="glyphicon glyphicon-save"></span
              ></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Entity Name</td>
          <td>
            New Co
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showConfirm('Entity Name', 'New Co')"
                ><span class="glyphicon glyphicon-save"></span
              ></a>
            </div>
          </td>
          <td>
            Steady Bank (Pty) Ltd
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showConfirm('Entity Name', 'Steady Bank (Pty) Ltd')"
                ><span class="glyphicon glyphicon-save"></span
              ></a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Share Issue</td>
          <td>
            Ordinary: 1,000,000
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showConfirm('Share Issue', 'Ordinary: 1,000,000')"
                ><span class="glyphicon glyphicon-save"></span
              ></a>
            </div>
          </td>
          <td>
            Ordinary: 1,500,000
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showConfirm('Share Issue', 'Ordinary: 1,500,000')"
                ><span class="glyphicon glyphicon-save"></span
              ></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
