<div
  class="panel panel-default"
  style="margin-bottom: 5px; margin-top: 5px;"
  [hidden]="hideByFilter()"
>
  <div
    *ngIf="showPanelHeading"
    class="panel panel-heading panel-info nobottom less-padding text-primary-bold"
    style="vertical-align: middle; padding-bottom: 0px;"
  >
    <a
      href="#"
      data-toggle="collapse"
      [attr.data-target]="'#meeting-' + getID()"
      style="white-space: nowrap; display: inline-block; overflow: hidden;"
      [attr.id] = "eid + '-title'" 
    >
      <label class="nobottom text-primary-bold">{{ title }}</label>
    </a>
  </div>

  <div
    class="panel panel-body noborder nobottom less-padding collapse"
    [class.in]="hideBody"
    id="{{ 'meeting-' + getID() }}"
    style="margin-top: 0px;"
  >
    <div class="container-flex">
      <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-6 col-lg-6">
          <div *ngIf="showTitleInput">
            <app-input-text
              [title]="'Title'"
              [value]="title"
              (onChange)="doChangeTitle($event)"
              [showCheck]="[showCheck]"
            ></app-input-text>
          </div>
        </div>
        <div class="col-xl-12 col-sm-12 col-md-6 col-lg-6">
          <app-input-checkbox
            [title]="'Active'"
            [value]="true"
          ></app-input-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-6 col-lg-6">
          <app-input-date [title]="'Start at'"></app-input-date>
          <app-input-date [title]="'Creation date'"></app-input-date>
        </div>
        <div class="col-xl-12 col-sm-12 col-md-6 col-lg-6">
          <app-input-textarea
            [title]="'Description'"
            [placeholder]="'Notes on the meeting'"
            [showCheck]="false"
          ></app-input-textarea>
        </div>
      </div>
    </div>
  </div>

  <div
    class="form-group input-group-sm"
    style="margin-bottom: 5px; padding-left: 3px; padding-right: 3px;"
  >
    <app-button-caret
      [title]="'Attendees'"
      [target]="'meeting-attendees-' + getID()"
      [isDown]="isDown_MeetingAttendees"
    ></app-button-caret>

    <div id="{{ 'meeting-attendees-' + getID() }}" class="collapse">
      <app-entity-details-attendees
        [title]="title"
        [showTitle]="false"
        [isNarrow]="isNarrow"
      ></app-entity-details-attendees>
    </div>
  </div>

  <div
    class="form-group input-group-sm"
    style="margin-bottom: 5px; padding-left: 3px; padding-right: 3px;"
  >
    <app-button-caret
      [title]="'Files'"
      [target]="'meeting-files-' + getID()"
      [isDown]="isDown_Files"
    ></app-button-caret>
    <div id="{{ 'meeting-files-' + getID() }}" class="collapse">
      <app-entity-details-files
        [title]="title"
        [showTitle]="false"
        [isNarrow]="isNarrow"
      ></app-entity-details-files>
    </div>
  </div>
</div>
