<div
  class="panel panel-default"
  style="margin-bottom: 5px; margin-top: 5px;"
  [hidden]="hideByFilter()"
>
  <div
    class="panel panel-heading panel-info nobottom less-padding text-primary-bold"
    style="vertical-align: middle; padding-bottom: 0px;"
  >
    <a
      href="#"
      data-toggle="collapse"
      [attr.data-target]="'#address-' + getID()"
      style="
        white-space: nowrap;
        display: inline-block;
        width: calc(100% - 145px);
        overflow: hidden;
      "
    >
      <label class="nobottom text-primary-bold"
        ><small>{{ title }}</small></label
      >
    </a>

    <div
      class="form-group pull-right nobottom"
      [hidden]="!allowDefaultAddressOption"
    >
      <!-- <label class="checkbox-inline text-primary-bold" style="padding-right: 8px;"
        ><input type="checkbox" value="" /><small>Default Address</small></label
      > -->
      <small><app-input-checkbox [showSmall]="true" [title]="'Default Address'" ></app-input-checkbox></small>
    </div>

    <div class="form-group pull-right nobottom" [hidden]="!allowCopyOption">
    <small><app-input-checkbox [showSmall]="true" [title]="'Copy from above'"></app-input-checkbox></small>
    </div>
  </div>

  <div
    class="panel panel-body noborder nobottom less-padding collapse"
    [class.in]="hideBody"
    id="{{ 'address-' + getID() }}"
    style="margin-top: 0px;"
  >
    <div class="container-flex">
      <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-6 col-lg-6">
          <app-input-textarea
            [title]="'Address'"
            [placeholder]="'Apartment, Building, Street, suburb'"
            (onTask)="doTask()"
            (onFile)="doFile()"
            (onRecord)="doRecord()"
            [showCheck] = "showCheck"
          ></app-input-textarea>
        </div>
        <div class="col-xl-12 col-sm-12 col-md-6 col-lg-6">
          
          <app-input-select-entity
            [title]="'Country'"
            [values]="countries"
            [value]="countryIndex"
            [showFlash]="false"
            [showPaperclip]="false"
            [showCD]="false"
            (onEdit)="doEditCountry($event)"
            (onAdd)="doAddCountry($event)"
            (onSelect)="doSelectCountry($event)"
            (onChange) = "doChangeInputTextCountry($event)"
            [showAdd] = "true"
            [showEdit] = "true"
            [showDelete] = "true"
            [showSmall]="true"
          ></app-input-select-entity>

          <!-- <div style="height: 3px;"></div> -->
          <app-input-select-entity
            [title]="'City'"
            [values]="this.cities"
            [value]="cityIndex"
            [showFlash]="false"
            [showPaperclip]="false"
            [showCD]="false"
            (onChange) = "doChangeInputTextCity($event)"
            (onSelect)="doSelectCity($event)"
            [showAdd] = "true"
            [showEdit] = "true"
            [showDelete] = "true"
            [showSmall]="true"
          >
          </app-input-select-entity>
        </div>
      </div>
    </div>
  </div>
</div>
