<div
  class="panel panel-default"
  style="margin-bottom: 0px; margin-top: 5px;"
  [hidden]="hideByFilter()"
>
  <div
    class="panel panel-heading panel-info nobottom less-padding text-primary-bold"
    style="vertical-align: middle; padding-bottom: 0px;"
  >
    <a
      href="#"
      data-toggle="collapse"
      [attr.data-target]="'#address-' + getID()"
      style="
        white-space: nowrap;
        display: inline-block;
        width: calc(100% - 145px);
        overflow: hidden;
      "
      [attr.id] = "eid + '-title'" 
    >
      <label class="nobottom label-bold"
        >{{ title }}</label
      >
    </a>

    <div
      class="form-group pull-right nobottom"
      [hidden]="!allowDefaultAddressOption"
    >
      <!-- <label class="checkbox-inline text-primary-bold" style="padding-right: 8px;"
        ><input type="checkbox" value="" /><small>Default Address</small></label
      > -->
      <small><app-input-checkbox [showSmall]="true" [title]="'Default Address'" ></app-input-checkbox></small>
    </div>

    <div class="form-group pull-right nobottom" [hidden]="!allowCopyOption">
    <small><app-input-checkbox [showSmall]="true" [title]="'Copy from above'"></app-input-checkbox></small>
    </div>
  </div>

  <div
    class="panel panel-body noborder nobottom less-padding collapse"
    [class.in]="hideBody"
    id="{{ 'address-' + getID() }}"
    style="margin-top: 0px;padding-bottom: 5px;margin-bottom:0px"
  >
    <div class="container-flex">
      <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-6">
          <app-input-textarea
            [title]="'Address'"
            [placeholder]="'Apartment, Building, Street, suburb'"
            (onTask)="doTask()"
            (onFile)="doFile()"
            (onRecord)="doRecord()"
            [showCheck] = "showCheck"
            [value] = "this.value.text"
            (onChange) = "doChangeText($event)"
            [autoFocus] = "autoFocus"
          ></app-input-textarea>
        </div>
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-6">
          <app-input-select-entity
            [title]="'Country'"
            [values]="countries"
            [value]="value.countryKey"
            [showFlash]="false"
            [showPaperclip]="false"
            [showCD]="false"
            (onEdit)="doEditCountry($event)"
            (onAdd)="doAddCountry($event)"
            (onSelect)="doChangeCountry($event)"
            (onChange) = "doChangeCountry($event)"
            [showAdd] = "true"
            [showEdit] = "true"
            [showDelete] = "true"
            [showSmall]="true"
          ></app-input-select-entity>
          <app-input-select-entity
            [title]="'City'"
            [values]="this.cities"
            [value]="value.cityKey"
            [showFlash]="false"
            [showPaperclip]="false"
            [showCD]="false"
            (onChange) = "doChangeCity($event)"
            [showAdd] = "true"
            [showEdit] = "true"
            [showDelete] = "true"
            [showSmall]="true"
          >
          </app-input-select-entity>
        </div>
      </div>
    </div>
  </div>
</div>
