<div class="form-group">
  <app-input-filter-add
    [filterCount]="countFiltered"
    [showAdd]="false"
    [showFilterCount]="true"
    [filterText] = "this.filterText"
    (onFilter)="doFilter($event)"
    [title]="entityTypeName"
    [titlePlural]="entityTypeNamePlural"
    [showList]="true"
    [listValues]="this.data.menus"
    [listValue]="entityTypeKey"
    (onListChange)="doEntityTypeChange($event)"
    [showFlash]="false"
    [showPlay]="!this.showActiveOnly"
    [showPause]="!this.showActiveOnly"
    [showAll]="true"
    [radioChoice]="rdoActiveDormantAll"
    [countFlash]="countTasks"
    [countPause]="countDormant"
    [countPlay]="countActive"
    [countAll]="countAll"
    (onChoice)="doChangeRdo($event)"
    [titleFlash]="'Entities with active tasks'"
    [titlePlay]="'Active Entities'"
    [titleAll]="'All Entities'"
    [titlePause]="'Dormant Entities'"
    [captionFlash]="'With tasks'"
    [captionPlay]="'Active'"
    [captionAll]="'All'"
    [captionPause]="'Inactive'"
    [isNarrow]="isNarrow"
    [showInputFilter]="true"
    [showA]="false"
    [isA]="showActiveOnly"
    (onA)="doChangeShowActive($event)"
    [titleA]="'Active only ' + entityTypeNamePlural.toLowerCase()"
    [titleList]="'Select entity type'"
  ></app-input-filter-add>
  <div >
    <div
      [class.entities-full]="isFullScreen()"
      [class.entities-half]="isHalfScreen()"
      style="overflow-y: scroll; overflow-x: auto; scrollbar-width: thin;"
      (scroll)="onScrollTable($event)"
    >
      <ng-container *ngFor="let t of data.entityTypes | keyvalue">

        <table
          class="table table-condensed table-bordered less-bottom"
          [class.table-show] = "entityTypeKey == t.key"
          [class.table-hide] = "entityTypeKey != t.key"
          [hidden]="entityTypeKey != t.key"
        >
          <thead class="info">
            <tr class="info">
              <th>Name</th>
              <th>Tasks</th>
              <th>Suffix</th>
            </tr>
          </thead>
          <tbody>
                <tr  *ngFor="let e of entities| keyvalue "
                  [class.tr-hide]="isHiddenMap.get(e.key)"
                  [class.tr-show]="!isHiddenMap.get(e.key)"
                >
                  <td
                    [style.border-bottom]="
                      e.key == selectedEntityKey ? '1px solid black' : 'inherit'
                    "
                  >
                    <a
                      href="#"
                      (click)="doEntityChoose(e.key)"
                      [attr.id]="eid + '-a-' + e.key"
                      [attr.name]="e.key"
                      routerLink="."
                      fragment="e.key"
                      ><span [class.text-bright]="e.key == selectedEntityKey">
                        {{ e.value.name }}</span
                      >
                    </a>
                  </td>
                  <td
                    [style.border-bottom]="
                      e.key == selectedEntityKey ? '1px solid black' : 'inherit'
                    "
                  >
                    <span
                      [class.text-bright]="e.key == selectedEntityKey"
                      >{{ e.value.tasksCount }}</span
                    >
                  </td>
                  <td
                    [style.border-bottom]="
                      e.key == selectedEntityKey ? '1px solid black' : 'inherit'
                    "
                  >
                    <span
                      [class.text-bright]="e.key == selectedEntityKey"
                      >{{ e.value.suffix }}</span
                    >
                  </td>
                </tr>
          </tbody>
        </table>
      </ng-container>

      <small class="text-primary"
        >Total {{ countAll }}. Showing
        {{ (rdoActiveDormantAll == "all" ? "all " : "") + countFiltered }}
        {{
          rdoActiveDormantAll == "play"
            ? "active "
            : rdoActiveDormantAll == "pause"
            ? "dormant "
            : ""
        }}
        {{ entityTypeNamePlural.toLowerCase() }}
        {{ rdoActiveDormantAll == "flash" ? " with outstanding tasks" : "" }}
      </small>
    </div>
  </div> 
  <app-input-date
    [title]="'System Date'"
    [showFlash]="false"
    [showCD]="false"
    [showPaperclip]="false"
    [inline]="true"
    [showTitle]="true"
    [disabled]="true"
  >
  </app-input-date>

  <div class="wide btn-group input-group-sm" style="vertical-align: middle;">
    <a [attr.id] = "eid + '-log-out'" href="#" class="btn primary-color-active btn-xs">
      <small>
        <mat-icon aria-hidden="true" aria-label="Entities">flight_takeoff</mat-icon>
        <span [hidden]="isNarrow" class="hidden-xs">&nbsp; Log out</span
        >&nbsp;</small
      >
    </a>
    <a [attr.id] = "eid + '-feedback'" href="#" class="btn primary-color-active btn-xs">
      <small>
        <mat-icon aria-hidden="true" aria-label="Entities">reply</mat-icon>
        <span [hidden]="isNarrow" class="hidden-xs">&nbsp; Feedback</span
        >&nbsp;</small
      >
    </a>
    
  </div>
</div>


