<app-input-select-list
  [title]="'Please select an entity'"
  [value]="0"
  [values]="entities"
  [autoFocus]="true"
  [showHeading]="false"
  [disabled]="false"
  [heightName]="'full'"
  [showOk]="true"
  [showCancel]="true"
  [radioChoice]="'ok'"
  [captionOk]="'Active'"
  [captionCancel]="'Closed'"
  [countOk]="countActive"
  [countCancel]="countClosed"
  (onSelect)="doEntityChoose($event)"
  (onRadioChoice) = "doRadioChoice($event)"
></app-input-select-list>


<!-- <div class="wide btn-group input-group-sm" style="vertical-align: middle">
    <a
      [attr.id]="eid + '-log-out'"
      href="#"
      class="btn primary-color-active btn-xs"
    >
      <small>
        <mat-icon aria-hidden="true" aria-label="Entities"
          >flight_takeoff</mat-icon
        >
        <span [hidden]="isNarrow" class="hidden-xs">&nbsp; Log out</span
        >&nbsp;</small
      >
    </a>
    <a
      [attr.id]="eid + '-feedback'"
      href="#"
      class="btn primary-color-active btn-xs"
    >
      <small>
        <mat-icon aria-hidden="true" aria-label="Entities">reply</mat-icon>
        <span [hidden]="isNarrow" class="hidden-xs">&nbsp; Feedback</span
        >&nbsp;</small
      >
    </a>
  </div> -->
