<div class="form-group">
  <app-input-filter-add
    [filterCount]="countFiltered"
    [showAdd]="true"
    [showFilterCount]="true"
    (onFilter)="doFilter($event)"
    [title]="entityTypeName"
    [titlePlural]="entityTypeNamePlural"
    [showList]="true"
    [listValues]="entityTypesPlural"
    [listValue]="entityType"
    (onListChange)="doEntityTypeChange($event)"
    [showFlash]="entityType != 0 && entityType < entityTypeNames.size - 1"
    [showPlay]="!this.showActiveOnly"
    [showPause]="!this.showActiveOnly"
    [showAll]="true"
    [radioChoice]="rdoActiveDormantAll"
    [countFlash]="countTasks"
    [countPause]="countDormant"
    [countPlay]="countActive"
    [countAll]="countAll"
    (onChoice)="doChangeRdo($event)"
    [titleFlash]="'Entities with active tasks'"
    [titlePlay]="'Active Entities'"
    [titleAll]="'All Entities'"
    [titlePause]="'Dormant Entities'"
    [captionFlash]="'With tasks'"
    [captionPlay]="'Active'"
    [captionAll]="'All'"
    [captionPause]="'Inactive'"
    [isNarrow]="isNarrow"
    [showInputFilter]="true"
    [showA]="true"
    [isA]="showActiveOnly"
    (onA)="doChangeShowActive($event)"
    [titleA]="'Active only ' + entityTypeNamePlural.toLowerCase()"
    [titleList]="'Select entity type'"
  ></app-input-filter-add>
  <div >
    <div
      [class.entities-full]="isFullScreen()"
      [class.entities-half]="isHalfScreen()"
      style="overflow-y: scroll; overflow-x: auto; scrollbar-width: thin;"
      (scroll)="onScrollTable($event)"
    >
      <ng-container *ngFor="let t of entityTypeNames | keyvalue">
        <table
          class="table table-condensed table-bordered less-bottom"
          [hidden]="entityType != t.key"
        >
          <thead class="info">
            <tr class="info">
              <th><small>Name</small></th>
              <th><small>Tasks</small></th>
              <th><small>Suffix</small></th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let e of entities | keyvalue;let i = index">
              <ng-container
                *ngIf="
                  e.value.type == entityTypeNames.get(t.key).name.toLowerCase() && getDoLoad(e.key, e.value.type,e.value.isActive)
                "
              >
                <tr
                  [class.info]="e.value.isActive"
                  [hidden]="isHiddenMap.get(e.key)"
                >
                  <td
                    [style.border-bottom]="
                      e.key == selectedEntityKey ? '1px solid black' : 'inherit'
                    "
                  >
                    <a
                      href="#"
                      (click)="doEntityChoose(e.key)"
                      [attr.id]="e.key"
                      [attr.name]="e.key"
                      routerLink="."
                      fragment="e.key"
                      ><span [class.text-bright]="e.key == selectedEntityKey">
                        {{ e.value.name }}</span
                      >
                    </a>
                  </td>
                  <td
                    [style.border-bottom]="
                      e.key == selectedEntityKey ? '1px solid black' : 'inherit'
                    "
                  >
                    <span
                      [class.text-bright]="e.key == selectedEntityKey"
                      >{{ e.value.tasksCount }}</span
                    >
                  </td>
                  <td
                    [style.border-bottom]="
                      e.key == selectedEntityKey ? '1px solid black' : 'inherit'
                    "
                  >
                    <span
                      [class.text-bright]="e.key == selectedEntityKey"
                      >{{ e.value.suffix }}</span
                    >
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </ng-container>

      <small class="text-primary"
        >Total {{ countAll }}. Showing
        {{ (rdoActiveDormantAll == "all" ? "all " : "") + countFiltered }}
        {{
          rdoActiveDormantAll == "play"
            ? "active "
            : rdoActiveDormantAll == "pause"
            ? "dormant "
            : ""
        }}
        {{ entityTypeNamePlural.toLowerCase() }}
        {{ rdoActiveDormantAll == "flash" ? " with outstanding tasks" : "" }}
      </small>
    </div>
  </div>
  
  <app-input-date
    [title]="'System Date'"
    [showFlash]="false"
    [showCD]="false"
    [showPaperclip]="false"
    [inline]="true"
    [showTitle]="true"
    [disabled]="true"
  >
  </app-input-date>

  <div class="wide btn-group input-group-sm" style="vertical-align: middle;">
    <a href="#" class="btn primary-color">
      <small>
        <mat-icon aria-hidden="true" aria-label="Entities">flight_takeoff</mat-icon>
        <span [hidden]="isNarrow" class="hidden-xs">&nbsp; Log Out</span
        >&nbsp;</small
      >
    </a>
  </div>
  <div class="progress" style="margin-bottom:0px;height:5px;border-radius: 1px;">
    <div
      class="progress-bar primary-color"
      role="progressbar"
      aria-valuenow="40"
      aria-valuemin="0"
      aria-valuemax="40"
      [style.width] = "data.progress*10/4 + '%'"
      style="border-radius: 1px;"
    >
      <span class="sr-only">70% Loaded</span>
    </div>
  </div>
</div>

<!-- Modal content-->
<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
        <p>Custom settings...</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn primary-color" data-dismiss="modal">
          <small>
            <mat-icon aria-hidden="true" aria-label="Entities">clear</mat-icon>
            <span [hidden]="isNarrow" class="hidden-xs">&nbsp; Close</span
            >&nbsp;</small
          >
        </a>
        
      </div>
    </div>
  </div>
</div> -->

