<div [hidden]="hideByFilter()">
  <div style="margin-right: 0px;" [style.margin-top]="inline ? '0px' : '5px'">
    <app-buttons-input-text
      (onFile)="doFile()"
      (onRecord)="doRecord()"
      (onTask)="doTask()"
      [showFlash]="showFlash"
      [showPaperclip]="showPaperclip"
      [showCD]="showCD"
      [showCheck]="showCheck"
      [title]="title"
    ></app-buttons-input-text>
    <label
      *ngIf="!inline && showTitle"
      class="nobottom text-primary-bold label-buttons-3"
      >{{ title }}</label
    >

    <div class="input-group date input-group-sm">
      <span
        *ngIf="inline && showTitle"
        class="hidden-xs input-group-addon"
        (click)="dpDate.toggle()"
      >
        {{ title }}
      </span>
      <input
        type="text"
        bsDatepicker
        class="form-control custom-today-class"
        #dpDate="bsDatepicker"
        [(ngModel)]="value_"
        [bsConfig]="{
          dateInputFormat: 'YYYY/MM/DD',
          containerClass: 'theme-red',
          showWeekNumbers: false,
          adaptivePosition: true
        }"
        [placeholder]="placeholder"
        [disabled]="disabled"
        autocomplete="nope"
        [title]="title"
        (changeDate) = "doChange()"
        (change) = "doChange()"
        (onchange) = "doChange()"
        (onchangeDate) = "doChange()"
      />
      <span
        *ngIf="!disabled"
        class="input-group-addon primary-color-reverse"
        
        (click)="gotoToday()"
        [title]="'Today'"
      >
        <mat-icon aria-hidden="true" aria-label="Entities">today</mat-icon>
      </span>
      <span
        class="input-group-addon"
        (click)="disabled ? '' : dpDate.toggle()"
        [title]="(disabled ? '' : 'Choose ') + title"
        [class.primary-color-reverse]="!disabled"
      >
        <mat-icon aria-hidden="true" aria-label="Entities">calendar_today</mat-icon>
      </span>
    </div>
  </div>
</div>
