<div [hidden]="hideByFilter()">
  <div style="margin-top: 5px; margin-right: 0px;">
    <app-buttons-input-text
      (onFile)="doFile()"
      (onRecord)="doRecord()"
      (onTask)="doTask()"
      [showFlash]="showFlash"
      [showPaperclip]="showPaperclip"
      [showCD]="showCD"
    ></app-buttons-input-text>
    <label class="nobottom text-primary label-buttons-3">{{ title }}</label>

    <div class="input-group date input-group-sm">
      <input
        type="text"
        bsDatepicker
        class="form-control"
        #dpDate="bsDatepicker"
        [bsValue]=""
        [bsConfig]="{
          dateInputFormat: 'YYYY/MM/DD',
          containerClass: 'theme-dark-blue',
          showWeekNumbers: false,
          adaptivePosition: true
        }"
        [placeholder]="placeholder"
        [disabled]="disabled"
        autocomplete="nope"
      />

      <span class="input-group-addon" (click)="dpDate.toggle()">
        <span class="glyphicon glyphicon-calendar primary-color-reverse"></span>
      </span>
    </div>
  </div>
</div>
