/* #theme-sss {
  .theme-red;
} */

/* .theme-dark-orange.bs-datepicker-head {
    background-color: #f58025; }
    
    .theme-dark-orange .bs-datepicker-body table td span.selected,
    .theme-dark-orange .bs-datepicker-body table td.selected span,
    .theme-dark-orange .bs-datepicker-body table td span[class*="select-"]:after,
    .theme-dark-orange .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #f58025; }
    
    .theme-dark-orange .bs-datepicker-body table td.week span {
    color: #f58025; } */
