<app-input-panel
  [title]="stepNumber + '.' + taskFlow.name + (choiceIndex>0?(': ' + choiceIndex + (choiceValue ? '.' + choiceValue : '')):'')"
  [collapsed]="!taskFlow.isCurrent"
  [panelDanger]="taskFlow.isCurrent"
  [panelSuccess]="taskFlow.isDone"
  (document:keydown.control.arrowright)="doNextValue()"
  (document:keydown.control.arrowleft)="doPrevValue()"
>
  <app-input-select-entity
    [hidden]="taskFlow.errorMessage != ''"
    [title]="'Please select' + (taskFlow.values.size<2?'':' 1 of ' + taskFlow.values.size)"
    [value]="taskFlow.value"
    [values]="taskFlow.values"
    [showSmall]="true"
    (onChange)="doChange($event)"
    [autoFocus] = "taskFlow.isCurrent"
  ></app-input-select-entity>
  <div [hidden]="taskFlow.errorMessage == ''" class="text-primary-bold">
    <div
      style="display: inline-block"
    >
      <mat-icon aria-hidden="true" aria-label="Entities" [title]="'Show more'"
        >error_outline</mat-icon
      >
    </div>
    <div style="display: inline-block;vertical-align: top;padding-left:2px;padding-top:2px"> {{ taskFlow.errorMessage }}</div>
  </div>
</app-input-panel>
