<app-input-panel
  [title]="taskFlow.name + (choiceValue? ': ' + choiceValue:'')"
  [collapsed]="!taskFlow.isCurrent"
  [panelDanger]="taskFlow.isCurrent"
  [panelSuccess]="taskFlow.isDone"
  [showSaveNext] = "true"
  (onSaveNext) = "doSaveNext()"
  [showSavePrev] = "showSavePrev"
  (onSavePrev) = "doSavePrev()"
> 
  <app-input-select-entity
    [title]="'Please select one'"
    [value]="value"
    [values] = "taskFlow.values"
    [showSmall]="true"
    (onChange) = "doChange($event)"
  ></app-input-select-entity>
</app-input-panel>
