<div class="container-flex">
  <div class="row">
    <div class="col-xs-6">
      <app-input-text
        [filterText]="filterText"
        [doHideByFilter]="doHideByFilter"
        [title]="titleLeft"
        [placeholder]="placeHolderLeft"
        (onFile) = "doFileLeft()"
        (onRecord) = "doRecordLeft()"
      ></app-input-text>
    </div>
    <div class="col-xs-6" >
        <app-input-text
          [filterText]="filterText"
          [doHideByFilter]="doHideByFilter"
          [title]="titleRight"
          [placeholder]="placeHolderRight"
          (onFile) = "doFileRight()"
          (onRecord) = "doRecordRight()"
        ></app-input-text>
      </div>
  </div>
</div>
