/* ::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: black;
} */

.mat-icon {
  vertical-align: middle;
  font-size: 15px;
  width: 15px;
  height: 17px;
}

.mat-icon-small {
  vertical-align: middle;
  font-size: 12px;
  width: 11.9px;
  height: 13px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background-color: var(
    --color-bright
  ) !important; /* Red background for example */
}

a {
  padding: 2px 6px;
}

.a-small {
  padding: 1px 4px;
}

.comp-width{
    width:calc(100%-50px);
    overflow: hidden;
    white-space: nowrap;
}

/* .btn:hover{

} */
