<div
  [hidden]="hideByFilter()"
  style="margin-bottom: 0px;  vertical-align: middle;display:inline-block"
  [style.margin-top]="showSmall ? '0px' : '5px'"
>
  <a
    href="#"
    class="btn primary-color"
    [class.btn-xs] = "showSmall"
    [class.a-small] = "showSmall"
    [style.display]="value ? 'inline-block' : 'none'"
    (click)="doChange()"
  >
    <mat-icon
      [class.mat-icon-small]="showSmall"
      aria-hidden="true"
      aria-label="Entities"
      >thumb_up</mat-icon
    >
  </a>
  <a
    href="#"
    class="btn primary-color-reverse"
    [class.btn-xs] = "showSmall"
    [class.a-small] = "showSmall"
    [style.display]="value ? 'none' : 'inline-block'"
    (click)="doChange()"
  >
    <mat-icon
      [class.mat-icon-small]="showSmall"
      aria-hidden="true"
      aria-label="Entities"
    ></mat-icon>
  </a>
  <label
    [hidden]="noTitle"
    style="padding-left: 5px; vertical-align: middle;"
    class="nobottom label-checkbox text-primary"
    [class.text-primary-bold] = "titleBold"
    [class.label-buttons-3]="showFlash || showPaperclip || showCheck || showCD"
    (click)="doChange()"
  >
    {{ title }}
  </label>

  <!-- <label
    class="nobottom text-primary-bold label-checkbox"
    [class.label-buttons-3]="showFlash || showPaperclip || showCheck || showCD"
  >
    <mat-checkbox class="example-margin" [checked]="value" ></mat-checkbox 
    <a
      *ngIf="showFlash"
      href="#"
      class="btn primary-color-reverse btn-xs"
      (click)="doChange()"
    >
      <mat-icon aria-hidden="true" aria-label="Entities">done_outline</mat-icon
      >&nbsp;{{ title }}
    </a>
  </label> -->

  <!-- <div
    class="checkbox"
    style="margin-bottom: 0px; margin-top: 5px; vertical-align: middle;"
  >
  
    <label
      class="nobottom text-primary-bold label-checkbox"
      [class.label-buttons-3]="
        showFlash || showPaperclip || showCheck || showCD
      "
      >
      <input
        type="checkbox"
        value=""
        [checked]="value"
        [disabled]="disabled"
        (change)="doChange($event)"
      />
      
      <span *ngIf="showTitle"
        class="hidden-xs"
        [class.text-primary-bold]="!inline"
        style="padding-top: 10px; margin-top: 10px;"
        [style.word-wrap]="'none'"
        >&nbsp;{{ title }}</span
      >
      <span *ngIf="showTitle"
        class="hidden-sm hidden-md hidden-lg"
        [class.text-primary-bold]="!inline"
        [style.font-size] = "inline ? 'x-small' : 'normal'"
        style="padding-top: 10px; margin-top: 10px; "
        [style.word-wrap]="'none'"
        >&nbsp;{{ title }}</span
      >
    </label>

    <app-buttons-input-text
      [title]="title"
      (onTask)="doTask()"
      (onFile)="doFile()"
      (onRecord)="doRecord()"
      [showFlash]="showFlash"
      [showPaperclip]="showPaperclip"
      [showCD]="showCD"
      [showCheck]="showCheck"
      [title]="title"
    ></app-buttons-input-text>
  </div> -->
</div>
