<div [hidden]="hideByFilter()" style="margin-top: 5px;margin-right: 0px;">
  <div class="btn-group pull-right" style="margin-right:1px">
    <a href="#" class="btn btn-primary primary-color btn-xs">
      <span class="glyphicon" [class.glyphicon-paperclip]="true"></span>
    </a>
    <a href="#" class="btn btn-primary primary-color btn-xs">
      <span class="glyphicon" [class.glyphicon-cd]="true"></span>
    </a>
  </div>
  <label class="nobottom text-primary">{{ title }}</label>

  <div class="input-group date input-group-sm">
    <input
      type="text"
      bsDatepicker
      class="form-control"
      #dpDate="bsDatepicker"
      [bsValue]=""
      [bsConfig]="{
        dateInputFormat: 'YYYY/MM/DD',
        containerClass: 'theme-dark-blue',
        showWeekNumbers: false,
        adaptivePosition: true
      }"
      [hidden]="hideByFilter()"
    />

    <span
      class="input-group-addon btn-primary primary-color"
      (click)="dpDate.toggle()"
    >
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>
