
<div class="text-primary-h4" style="margin-top: 5px;">
  <u>Primary Details: User</u>
</div>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  
  [typeLeft]="'date'"
  [titleLeft]="'Activation Date'"

  [typeRight]="'date'"
  [titleRight]="'Deactivation Date'"

  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
></app-input-duo>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'text'"
  [titleLeft]="'Employee Number'"

  [typeRight]="'text'"
  [titleRight]="'Office Location'"

  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
></app-input-duo>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'text'"
  [titleLeft]="'Position'"

  [typeRight]="'text'"
  [titleRight]="'Job Grade'"

  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
></app-input-duo>

<div style="padding-bottom: 5px;"> </div>
<hr>
<div class="container-flex">
  <div class="row">
    <app-input-duo-column
    [title]="'Manager access: Groups'"
      [isNarrow]="isNarrow"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'checkbox'"
      [titleLeft]="'Select all groups'"
      [valueLeft]="false"
      [typeRight]="'select-checkbox'"
      [titleRight]="'Select specific groups'"
      [valuesRight]="data.getEntityGroups()"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo-column>

    <app-input-duo-column
    [title]="'Admin access: Groups'"
      [isNarrow]="isNarrow"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'checkbox'"
      [titleLeft]="'Select all groups'"
      [valueLeft]="false"
      [typeRight]="'select-checkbox'"
      [titleRight]="'Select specific groups'"
      [valuesRight]="data.getEntityGroups()"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    >
    </app-input-duo-column>
  </div>
  <div class="row">
    <app-input-duo-column
    [title]="'Manager access: Companies'"
      [isNarrow]="isNarrow"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'checkbox'"
      [titleLeft]="'Select all companies'"
      [valueLeft]="false"
      [typeRight]="'select-checkbox'"
      [titleRight]="'Select specific companies'"
      [valuesRight]="data.getCompanies()"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo-column>
    
    <app-input-duo-column
        [title] ="'Admin access: Companies'"
      [isNarrow]="isNarrow"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'checkbox'"
      [titleLeft]="'Select all companies'"
      [valueLeft]="false"
      [typeRight]="'select-checkbox'"
      [titleRight]="'Select specific companies'"
      [valuesRight]="data.getCompanies()"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    >
    </app-input-duo-column>
  </div>
</div>

<app-input-file [title]="'Signature'" []>

</app-input-file>

<div style="padding-bottom: 5px;"> </div>
<hr>