<hr class="primary-color" style="height: 1px; margin: 0px;" />
<div class="h4 text-primary" style="margin-top: 5px;">
  <u>Primary Details: User</u>
</div>

<app-input-textarea
  [title]="'Description'"
  [placeholder]="'Position, contact details...'"
  [showCheck]="false"
></app-input-textarea>

<div class="container-flex">
  <div class="row">
    <app-input-duo-column
    [title]="'Manager access: Groups'"
      [isNarrow]="isNarrow"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'checkbox'"
      [titleLeft]="'Select all groups'"
      [valueLeft]="false"
      [typeRight]="'select-checkbox'"
      [titleRight]="'Select specific groups'"
      [valuesRight]="dataService.getEntityGroups()"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo-column>

    <app-input-duo-column
    [title]="'Admin access: Groups'"
      [isNarrow]="isNarrow"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'checkbox'"
      [titleLeft]="'Select all groups'"
      [valueLeft]="false"
      [typeRight]="'select-checkbox'"
      [titleRight]="'Select specific groups'"
      [valuesRight]="dataService.getEntityGroups()"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    >
    </app-input-duo-column>
  </div>
  <div class="row">
    <hr style="height: 1px; margin: 0px;" />
    <app-input-duo-column
    [title]="'Manager access: Companies'"
      [isNarrow]="isNarrow"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'checkbox'"
      [titleLeft]="'Select all companies'"
      [valueLeft]="false"
      [typeRight]="'select-checkbox'"
      [titleRight]="'Select specific companies'"
      [valuesRight]="dataService.getCompanies()"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo-column>
    <hr style="height: 1px; margin: 0px;" />
    <app-input-duo-column
        [title] ="'Admin access: Companies'"
      [isNarrow]="isNarrow"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'checkbox'"
      [titleLeft]="'Select all companies'"
      [valueLeft]="false"
      [typeRight]="'select-checkbox'"
      [titleRight]="'Select specific companies'"
      [valuesRight]="dataService.getCompanies()"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    >
    </app-input-duo-column>
  </div>
</div>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  
  [typeRight]="'date'"
  [titleRight]="'Date of Birth'"

  [typeLeft]="'checkbox'"
  [titleLeft]="'Active Record'"
  [valueLeft]="true"

  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
></app-input-duo>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'text'"
  [titleLeft]="'Employee Number'"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
></app-input-duo>

<hr style="height: 1px; margin: 0px;" />
