.mat-icon {
    vertical-align: middle;
    font-size: 15px;
    width: 11.9px;
    height: 16px;
  }

  .panel,.panel-body{
    /* opacity: 0.1; */
    /* background-image: url('src/assets/images/absa-logo-passion.jpg'); */
    background: rgba(255,255,255, 0)
  }