<div class="btn-group pull-right" [style.width]="filterInputTotalWidth()" >
  <div class="pull-right">
    <a
      *ngIf = "showContract && showExpandContract"
      href="#"
      class="btn  primary-color-reverse btn-xs"
      (click)="doContract()"
      ><span
        class="glyphicon glyphicon-menu-up"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="'Show less'"
      ></span
    ></a>
    <a
      *ngIf = "showExpand && showExpandContract"
      href="#"
      class="btn  primary-color-reverse btn-xs"
      (click)="doExpand()"
      ><span
        class="glyphicon glyphicon-menu-down"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="'Show more'"
      ></span
    ></a>
    <a
      *ngIf = "showFilter && (this.countItems>15 || !filterText)"
      href="#"
      class="btn  primary-color-reverse btn-xs"
      (click)="showHideFilterInput()"
      ><span
        class="glyphicon glyphicon-filter"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="'Filter the list'"
      ></span
    ></a>

    <a
      *ngIf="showCancel"
      href="#"
      class="btn  primary-color-reverse btn-xs"
      (click)="doEdit()"
      ><span
        class="glyphicon glyphicon-remove"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="'Cancel the changes'"
      ></span
    ></a>

    <a
      *ngIf="showEdit"
      href="#"
      class="btn  primary-color-reverse btn-xs"
      (click)="doEdit()"
      ><span
        class="glyphicon glyphicon-pencil"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="'Edit the selected item'"
      ></span
    ></a>
    <a
      *ngIf="showSave"
      href="#"
      class="btn  primary-color-reverse btn-xs"
      (click)="showNew()"
    >
      <span
        class="glyphicon glyphicon-cloud-upload"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="'Save'"
      ></span>
    </a>

    <a
      *ngIf="showAdd"
      href="#"
      class="btn  primary-color-reverse btn-xs"
      (click)="showNew()"
    >
      <span
        class="glyphicon glyphicon-plus"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="'Add an item to the list'"
      ></span>
    </a>
    <a
      *ngIf="showDelete"
      href="#"
      class="btn  primary-color-reverse btn-xs"
      (click)="deleteItem()"
    >
      <span
        class="glyphicon glyphicon-minus"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Delete the selected item"
      ></span>
    </a>

    <a
      *ngIf="showFlash"
      href="#"
      class="btn  primary-color-reverse btn-xs"
    >
      <span
        class="glyphicon"
        [class.glyphicon-flash]="true"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="'Manage tasks for ' + title"
        (click)="doTask()"
      ></span>
    </a>

    <a
      *ngIf="showPaperclip"
      href="#"
      class="btn primary-color-reverse btn-xs"
      (click)="doFile()"
    >
      <span
        class="glyphicon"
        [class.glyphicon-paperclip]="true"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="'Source documents for ' + title"
      ></span>
    </a>
    <a
      *ngIf="showCD"
      href="#"
      class="btn  primary-color-reverse btn-xs"
      (click)="doRecord()"
    >
      <span
        class="glyphicon"
        [class.glyphicon-cd]="true"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="'Record of changes for ' + title"
      ></span>
    </a>
    <a
      *ngIf="showCheck"
      href="#"
      class="btn  primary-color-reverse btn-xs"
      (click)="doRecord()"
    >
      <span
        class="glyphicon glyphicon-check"
        data-toggle="tooltip"
        data-placement="bottom"
        [title]="'Audit of changes for ' + title"
      ></span>
    </a>
  </div>
  <div class="pull-right" [hidden]="!isFilter">
    <div class="input-group">
      <span
        class="input-group-addon progress-bar-default"
        style="padding: 2px; "
        title="Number of items"
        ><small>
          {{ (countItemsSelected == -1 ? "" : countItemsSelected + ":") + countItems}}</small
        >
      </span>
      <input
        class="form-control"
        style="height: 20px;padding-right:6px;padding-left:6px"
        [style.width]="filterInputWidth()"
        [(ngModel)]="filterText"
        (keyup)="doKey($event)"
        (focusout)="lostFocus()"
        #inputFilter
      />

      
    </div>
  </div>
</div>
