<!-- <div class="text-primary-h 4" style="margin-top: 5px;">
  Primary details: auditor
</div> -->
<app-label-h [title]="'Primary details: auditor'"></app-label-h>
<app-input-duo
[isNarrow]="isNarrow"
[typeLeft]="'select-entity'"
[filterText]="filterText"
[doHideByFilter]="true"
[titleLeft]="'Country'"
[valuesLeft]="data.getCountries()"
[valueLeft]="data.getDefault('countryKey')"

(onFile)="doFile($event)"
(onRecord)="doRecord($event)"
(onTask)="doTask($event)"
[showCheckLeft]="false"
[showCheckRight]="false"
></app-input-duo>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'text'"
  [titleLeft]="'Profession Number'"
  [typeRight]="'person'"
  [titleRight]="'Partner'"
  [valuesRight] = "data.individuals"
  [valueRight] = "0"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="false"
  [showCheckRight]="false"
></app-input-duo>


<div style="padding-bottom: 5px;"> </div>
<hr>



