<hr>
<div class="h4 text-primary-h4" style="margin-top: 5px;">
  <u>Primary Details: Auditor</u>
</div>

<app-input-duo
  [isNarrow]="isNarrow"
  [typeLeft]="'text'"
  [titleLeft]="'Suffix'"
  [placeholderLeft]="
    'Suffix - used to differenciate entities with the same name'
  "
  [typeRight]="'checkbox'"
  [titleRight]="'Active'"
  [valueRight]="true"
  [doHideByFilter]="false"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
>
</app-input-duo>

<app-input-textarea
  [title]="'Description'"
  [placeholder]="'Purpose, intent, notes...'"
  [showCheck]="false"
></app-input-textarea>

<app-input-duo
[isNarrow]="isNarrow"
[typeLeft]="'select-entity'"
[filterText]="filterText"
[doHideByFilter]="true"
[titleLeft]="'Country'"
[valuesLeft]="dataService.getCountries()"
[valueLeft]="dataService.getDefault('countryKey')"

(onFile)="doFile($event)"
(onRecord)="doRecord($event)"
(onTask)="doTask($event)"
[showCheckLeft]="true"
[showCheckRight]="true"
></app-input-duo>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'text'"
  [titleLeft]="'Profession Number'"
  [typeRight]="'person'"
  [titleRight]="'Partner'"
  [valuesRight] = "dataService.persons"
  [valueRight] = "0"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
></app-input-duo>

<div style="padding-bottom: 5px;"> </div>




