<app-input-filter-add
  [title]="'Search all entities'"
  [titlePlural] = "'All Entities'"
  [showA] = "true"
  [isA] = "true"
  [showSearch] = "true"
  (onFilter)="doFilter($event)"
></app-input-filter-add>

<!-- <app-test-material></app-test-material> -->

<form autocomplete="off">
  <div
    [class.settings-detail-form-full]="isFullScreen()"
    [class.settings-detail-form-half]="isHalfScreen()"
  >
    <div class="text-primary-h4" style="margin-top: 5px;">
      Search results: Companies
    </div>
    <hr />
    <div class="text-primary-h4" style="margin-top: 5px;">
      Search results: Individuals
    </div>
    <hr />
    <div class="text-primary-h4" style="margin-top: 5px;">
      Search results: Users
    </div>
    <hr />
    <div class="text-primary-h4" style="margin-top: 5px;">
      Search results: Groups
    </div>
    <hr />
    <div class="text-primary-h4" style="margin-top: 5px;">
      Search results: Trusts
    </div>
    <hr />
    <div class="text-primary-h4" style="margin-top: 5px;">
      Search results: Regulators
    </div>
    <hr />
    <div class="text-primary-h4" style="margin-top: 5px;">
      Search results: Regulations
    </div>
    <hr />
    <div class="text-primary-h4" style="margin-top: 5px;">
      Search results: Auditors
    </div>
    <hr />
    <div class="text-primary-h4" style="margin-top: 5px;">
      Search results: Secreteriats
    </div>
    <hr />
    <div class="text-primary-h4" style="margin-top: 5px;">
      Search results: Templates
    </div>
    <hr />
  </div>
</form>
