<app-input-filter-add
  [title]="'Dashboard'"
  [titlePlural]="'Dashboard'"
  [showT]="true"
  (onFilter)="doFilter($event)"
  [titleT]="'field values'"
></app-input-filter-add>
<form autocomplete="off">
  <div
    [class.settings-detail-form-full]="isFullScreen()"
    [class.settings-detail-form-half]="isHalfScreen()"
  >

    <!-- <app-flow-task ></app-flow-task>     -->

    <app-label-h [title]="'Dashboard: reminders'" [hr]="false"></app-label-h>
    <app-input-table
    [headings]="['Date/Time','Title', 'Description']"
    [fields]="['dateTime','name', 'description']"
    [withCheckbox]="true"
    [entities]="data.meetings"
    [inputType]="'reminder'"
  ></app-input-table>

  <app-label-h [title]="'Dashboard: awaiting authorisation'" [hr]="false"></app-label-h>
    <app-input-table
    [headings]="['Date/Time','Title', 'Description']"
    [fields]="['dateTime','name', 'description']"
    [withCheckbox]="true"
    [entities]="data.meetings"
    [inputType]="'reminder'"
  ></app-input-table>

  <app-label-h [title]="'Dashboard: tasks in progress'" [hr]="false"></app-label-h>
    <app-input-table
    [headings]="['Date/Time','Title', 'Description']"
    [fields]="['dateTime','name', 'description']"
    [withCheckbox]="false"
    [entities]="data.meetings"
    [inputType]="'reminder'"
  ></app-input-table>
  </div>
  
</form>


