<app-input-filter-add
  [title]="'Dashboard'"
  [titlePlural]="'Dashboard'"
  [showT]="true"
  (onFilter)="doFilter($event)"
  [titleT]="'field values'"
></app-input-filter-add>

<!-- <svg class="bi" width="32" height="32" fill="currentColor">
  <use xlink:href="bootstrap-icons.svg#heart-fill"/>
</svg>-->
<!-- <img
  src="/assets/icons/heart.svg"
  class="primary-color text-primary"
  style="color: red;fill:yellow"
  alt=""
  width="32"
  height="32"
  title="Bootstrap"
  fill="yellow"
/>
<svg
  style="
    background-position: center;
    background-color: white;
    vertical-align: middle;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    color: red;
    fill: yellow;
  "
  fill="yellow"
  
><path src='/assets/icons/heart.svg'></path></svg>
<object data="/assets/icons/heart.svg" type="image/svg+xml" style="fill:red;color:yellow"  fill="yellow">h</object>
<img src="/assets/icons/heart.svg" style="fill:red;color:white;background-color: blue;" fill="yellow">
d
<div style="
  background-image: url('/assets/icons/heart.svg');
  color:yellow;fill:red;
"
fill="yellow"
></div> -->
<!-- e
<svg viewBox="0 0 100 100"  fill="yellow">
  <use xlink:href="/assets/icons/heart.svg"></use>
</svg> -->
<!-- f
<svg class="bi text-success" width="32" height="32" fill="yellow">
  <use src="/assets/icons/alarm.svg"/>
</svg>
g -->
<!-- <app-test-material></app-test-material> -->

<form autocomplete="off">
  <div
    [class.settings-detail-form-full]="isFullScreen()"
    [class.settings-detail-form-half]="isHalfScreen()"
  >
    <!-- <div class="text-primary-h 4" style="margin-top: 5px;">
      Dashboard: tasks in progress
    </div> -->
    <app-label-h [title]="'Dashboard: tasks in progress'" [hr]="true"></app-label-h>
    <!-- <app-input-duo
  [filterText]="filterText"
  [isNarrow]="isNarrow"
  [typeLeft]="'text'"
  [typeRight]="'date'"
  [titleLeft]="'Registration Number'"
  [placeholderLeft]="'Registration Number of the Entity'"
  [titleRight]="'Curr. Name Effective Date'"
  [doHideByFilter]="true"
  [showCheckLeft]="true"
  [showCheckRight]="true"
>
</app-input-duo> -->
   
    <!-- <div class="text-primary-h 4" style="margin-top: 5px;">
      Dashboard: incomplete entities
    </div>
    <hr /> -->
    <app-label-h [title]="'Dashboard: incomplete entities'" [hr]="true"></app-label-h>
    <app-label-h [title]="'Dashboard: upcoming tasks'" [hr]="true"></app-label-h>
<!--     
    <div class="text-primary-h 4" style="margin-top: 5px;">
      Dashboard: incomplete companies
    </div>
    <hr />
    <div class="text-primary-h 4" style="margin-top: 5px;">
      Dashboard: incomplete individuals
    </div>
    <hr />
    <div class="text-primary-h 4" style="margin-top: 5px;">
      Dashboard: incomplete users
    </div>
    <hr />
    <div class="text-primary-h 4" style="margin-top: 5px;">
      Dashboard: incomplete groups
    </div>
    <hr />
    <div class="text-primary-h 4" style="margin-top: 5px;">
      Dashboard: upcoming tasks
    </div>
    <hr /> -->
    <!-- 
    <app-input-duo
      [isNarrow]="isNarrow"
      [typeLeft]="'select-entity'"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [titleLeft]="'Countries'"
      [valuesLeft]="data.countries"
      [valueLeft]="data.getDefault('countryKey')"
      [typeRight]="'select-entity'"
      [titleRight]="'Industries'"
      [valuesRight]="data.industries"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo>

    <app-input-duo
      [isNarrow]="isNarrow"
      [typeLeft]="'select-entity'"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [titleLeft]="'Business Areas'"
      [valuesLeft]="data.businessAreas"
      [valueLeft]="0"
      [typeRight]="'select-entity'"
      [titleRight]="'Business Divisions'"
      [valuesRight]="data.businessDivisions"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo>

    <app-input-duo
      [isNarrow]="isNarrow"
      [typeLeft]="'select-entity'"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [titleLeft]="'Legal Classes'"
      [valuesLeft]="data.legalClasses"
      [valueLeft]="0"
      [typeRight]="'select-entity'"
      [titleRight]="'Contact Preferences'"
      [valuesRight]="data.contactPreferences"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo>

    <app-input-duo
      [isNarrow]="isNarrow"
      [typeLeft]="'select-entity'"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [titleLeft]="'Entity Statuses'"
      [valuesLeft]="data.entityStatuses"
      [valueLeft]="0"
      [typeRight]="'select-entity'"
      [titleRight]="'Entity Status Tiers'"
      [valuesRight]="data.entityStatusTiers"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo>

    <app-input-duo
      [isNarrow]="isNarrow"
      [typeLeft]="'select-entity'"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [titleLeft]="'Accounting Classes'"
      [valuesLeft]="data.accountingClasses"
      [valueLeft]="0"
      [typeRight]="'select-entity'"
      [titleRight]="'Accounting Class Tiers'"
      [valuesRight]="data.accountingTiers"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo>
<div style="padding-bottom: 5px;"> </div>
    <hr>
    <div class="text-primary-h 4" style="margin-top: 5px;">
      Settings: Contact Details
    </div>

    <app-input-person-contact
      [title]="'Super User Contact Details'"
    ></app-input-person-contact>

    <app-input-person-contact
      [title]="'Support Contact Details'"
    ></app-input-person-contact>

    <app-input-address
      [title]="'Entity Default Address'"
      [filterText]="filterText"
      [doHideByFilter]="true"
    ></app-input-address> -->
  </div>
</form>
