<app-input-panel
  [title]="stepNumber + '. ' + taskFlow.name + ': ' + getValueString()"
  [collapsed]="!taskFlow.isCurrent"
  [panelDanger]="taskFlow.isCurrent"
  [panelSuccess]="taskFlow.isDone"
>
  {{ taskFlow.description }}
  <app-input-address
    [title]="'Please amend'"
    [value]="taskFlow.value"
    (onChange) = "doChange($event)"
    [autoFocus] = "taskFlow.isCurrent"
  ></app-input-address>
  <div [hidden]="taskFlow.errorMessage == ''" class="text-primary-bold" style='margin-top: 10px;'>
    <div
      style="display: inline-block"
    >
      <mat-icon aria-hidden="true" aria-label="Entities" [title]="'Show more'"
        >error_outline</mat-icon
      >
    </div>
    <div style="display: inline-block;vertical-align: top;"> {{ taskFlow.errorMessage }}</div>
  </div>
</app-input-panel>
