.mat-icon {
    vertical-align: middle;
    font-size: 15px;
    width: 11.9px;
    height: 16px;
  }

.panel-body-height{
  height: calc(100vh - 32px);
  overflow-y: hidden;
  margin-bottom: 0px;
}
  /* <svg
  style="
    background-position: center;
    vertical-align:middle;
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
    color: white;
  "
  [style.background-image] = "'url(\'../assets/svg/Icon_List_SVG_Black.svg\')'"
></svg> */