<div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <!--column 1: Entities, Tasks, Records, Files-->
      <div
        class="col-xs-4"
        [class.col-sm-2]="showPanelRight"
        [class.col-sm-4]="!showPanelRight"
      >
        <!-- Entities -->
        <div class="panel panel-primary no-gutter nobottom">
          <div class="panel-heading mt3 primary-color">
            <small>
              <mat-icon aria-hidden="true" aria-label="Entities"
                >verified_user</mat-icon
              >
              &nbsp;Entities
            </small>
            <div class="btn-group pull-right">
              <!-- <a
                href="#"
                class="btn btn-info btn-xs"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Refresh"
              >
                <span class="glyphicon glyphicon-refresh"></span>
              </a> -->

              <!-- <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showFilesAll()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideFiles ? 'Show' : 'Hide') + ' Docs panel'"
              >
                <span class="glyphicon glyphicon-paperclip"></span>
              </a> -->

              <!-- <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideHistory ? 'Show' : 'Hide') + ' Records panel'"
              >
                <span class="glyphicon glyphicon-cd"></span>
              </a> -->
            </div>
          </div>
          <div
            class="panel-body mt3"
            [class.container-panel-left-full]="panelRows == 1"
            [class.container-panel-left-half]="panelRows == 2"
          >
            <app-entities
              [panelRows]="panelRows"
              [isNarrow]="showPanelRight"
              (onEntityTypeChange)="doEntityTypeChange($event)"
              (onEntityChange)="doEntityChange($event)"
            ></app-entities>
          </div>
          <!-- <div class="panel-footer mt3">
            <small>Last refresh: 14:31</small>
          </div> -->
        </div>

        <!-- Tasks hidden-->
        <!-- <div class="panel panel-primary no-gutter nobottom" [hidden]="true">
          <div class="panel-heading mt3">
            <span class="glyphicon glyphicon-flash"></span><small> Tasks</small>
            <div class="btn-group pull-right">
              <a href="#" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-refresh"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showFilesAll()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideFiles ? 'Show' : 'Hide') + ' Files panel'"
              >
                <span class="glyphicon glyphicon-paperclip"></span>
              </a>

              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
              >
                <span class="glyphicon glyphicon-cd"></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3 "
            [class.container-panel-left-full]="panelRows == 1"
            [class.container-panel-left-half]="panelRows == 2"
          >
            <app-tasks [panelRows]="panelRows"></app-tasks>
          </div>
          <div class="panel-footer mt3">
            <small>Last refresh: 14:32</small>
          </div>
        </div> -->

        <!-- Records -->
        <!-- <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideHistory"
        >
          <div class="panel-heading mt3">
            <span class="glyphicon glyphicon-cd"></span
            ><small
              ><span class="hidden-xs hidden-sm">&nbsp;Records</span></small
            >
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showFilesAll()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideFiles ? 'Show' : 'Hide') + ' Docs panel'"
              >
                <span class="glyphicon glyphicon-paperclip"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
              >
                <span class="glyphicon glyphicon-cd"></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3"
            [class.container-panel-left-full]="panelRows == 1"
            [class.files-details-half]="panelRows == 2"
          >
            <app-records [panelRows]="panelRows"></app-records>
          </div>
        </div> -->

        <!-- Files -->
        <!-- <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideFiles"
        >
          <div class="panel-heading mt3">
            <span class="glyphicon glyphicon-folder-open"></span>&nbsp;<small>
              <span class="hidden-xs hidden-sm">&nbsp;Doc Types</span></small
            >
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showFilesAll()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideFiles ? 'Show' : 'Hide') + ' Docs panel'"
              >
                <span class="glyphicon glyphicon-paperclip"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
              >
                <span class="glyphicon glyphicon-cd"></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3"
            [class.container-panel-left-full]="panelRows == 1"
            [class.files-details-half]="panelRows == 2"
            style="overflow-y: hidden;"
          >
            <app-files-attributes
              [panelRows]="panelRows"
              [isShowAll]="isShowAllFiles"
              (onSelectFields)="doSelectFields($event)"
              [showFileFields]="showFileFields"
            ></app-files-attributes>
          </div>
        </div> -->
      </div>
      <!--column 2: Details of Entities, Records, Docs-->
      <div
        [class.hidden-xs]="showPanelRight"
        [class.col-xs-8]="!showPanelRight"
        [class.col-sm-5]="showPanelRight"
        [class.col-sm-8]="!showPanelRight"
      >
        <!-- col 2: Entity Detail -->
        <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="
            (expandHistoryDetail || expandFilesDetail) &&
            (!hideHistory || !hideFiles)
          "
        >
          <div class="panel-heading mt3">
            <small
              [hidden]="entityType == entityTypes.size - 1 || entityType == 0"
            >
              <span class="glyphicon glyphicon-th-list"></span>

              <!-- <svg
              style="
                background-position: center;
                vertical-align:middle;
                background-repeat: no-repeat;
                height: 19px;
                width: 19px;
                color: white;
              "
              [style.background-image] = "'url(\'../assets/svg/Icon_List_SVG_Black.svg\')'"
            ></svg> -->

              <span
                class="hidden-xs hidden-sm hidden-md"
                [hidden]="showPanelRight"
                >&nbsp;Entity Details</span
              >&nbsp;
              <!-- <div class="btn-group"> -->
              <div class="btn-group" style="vertical-align: top; height: 20px;">
                <!-- <a href="#" style="vertical-align: top;" >Bah</a> -->
                <!-- <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-info">
                    <input type="checkbox" checked autocomplete="off"> Checked
                  </label>
                </div> -->
                <!-- <app-buttons-toggle
                [title]="'Primary'"
                [glyphiconClass] = "'glyphicon-flag'"
                [toggleValue] = "hidePrimary"
                (onToggle) = "hidePrimary = $event"
                ></app-buttons-toggle> -->

                <!-- <label
                  style="
                    white-space: nowrap;
                    height: 20px;
                    overflow: hidden;
                    display: inline-block;
                    margin-bottom: 0px;
                    font-weight: normal;
                  "
                >
                  <a
                    data-toggle="button"
                    href="#"
                    class="btn btn-info btn-xs active"
                    (click)="hidePrimary = !hidePrimary"
                  >
                    <span class="glyphicon glyphicon-flag"></span>
                  </a>
                  <span
                    class="hidden-xs hidden-sm hidden-md"
                    [hidden]="showPanelRight"
                  >
                    <small> Primary </small></span
                  >
                </label> -->
                <!--
                    <img [src]="'assets/images/Plus.png'" style="height:20px;width:20px;text-align: center"> 
                    <input
                    type="checkbox"
                    class="btn btn-info"
                    [checked]="!hidePrimary"
                    (change)="hidePrimary = !hidePrimary" /> -->
                <!-- <a
                  data-toggle="button"
                  href="#"
                  class="btn btn-info btn-xs active"
                  (click)="hidePrimary = !hidePrimary"
                  style="height:19px"
                  ><label
                    style="
                      white-space: nowrap;
                      overflow: hidden;
                      display: inline-block;
                      margin-bottom: 0px;
                      font-weight: normal;
                    "
                  >
                    <span class="glyphicon glyphicon-flag"></span>

                    <span
                      class="hidden-xs hidden-sm hidden-md"
                      [hidden]="showPanelRight"
                    >
                      <small> World </small></span
                    >
                  </label></a
                > -->

                <!-- <a href="#">Bah</a> -->
                <app-buttons-toggle
                  [title]="'Info'"
                  [placeholder]="'Headline Informaion'"
                  [dataTarget]="'#page-header'"
                  [matIcon]="'priority_high'"
                  [glyphiconClass]="'glyphicon-pushpin'"
                  [svgUrlPath]="'../assets/svg/Icon_Paper_Clip_SVG_Black.svg'"
                  [toggleValue]="!hideHeader"
                  (onToggle)="hideHeader = !hideHeader"
                  [isNarrow]="showPanelRight"
                  [showMe]="true"
                ></app-buttons-toggle>
                <app-buttons-toggle
                  [title]="'Primary'"
                  [placeholder]="'Primary page'"
                  [dataTarget]="'#page-primary-' + entityTypeName"
                  [matIcon]="'star'"
                  [glyphiconClass]="'glyphicon-flag'"
                  [svgUrlPath]="
                    '../assets/svg/Icon_Exclamation square_SVG_Black.svg'
                  "
                  [toggleValue]="!hidePrimary"
                  (onToggle)="hidePrimary = !hidePrimary"
                  [isNarrow]="showPanelRight"
                  [showMe]="true"
                ></app-buttons-toggle>
                <app-buttons-toggle
                  [title]="'Secondary'"
                  [placeholder]="'Secondary page'"
                  [matIcon]="'star_half'"
                  [dataTarget]="'#page-secondary-' + entityTypeName"
                  [glyphiconClass]="'glyphicon-king'"
                  [svgUrlPath]="
                    '../assets/svg/Icon_Exclamation circle_SVG_Black.svg'
                  "
                  [toggleValue]="!hideSecondary"
                  (onToggle)="hideSecondary = !hideSecondary"
                  [isNarrow]="showPanelRight"
                  [showMe]="entityType == 1 || entityType == 2"
                >
                </app-buttons-toggle>

                <app-buttons-toggle
                  [title]="'Optional'"
                  [placeholder]="'Optional page'"
                  [matIcon]="'more'"
                  [dataTarget]="'#page-optional-' + entityTypeName"
                  [glyphiconClass]="'glyphicon-gift'"
                  [svgUrlPath]="'../assets/svg/Icon_Stationary_SVG_Black.svg'"
                  [toggleValue]="!hideOptional"
                  (onToggle)="hideOptional = !hideOptional"
                  [isNarrow]="showPanelRight"
                  [showMe]="entityType == 1"
                ></app-buttons-toggle>
                <app-buttons-toggle
                  [title]="'Contacts'"
                  [placeholder]="'Contact page'"
                  [matIcon]="'contacts'"
                  [dataTarget]="'#page-contact'"
                  [glyphiconClass]="'glyphicon-envelope'"
                  [svgUrlPath]="'../assets/svg/Icon_Envelope_SVG_Black.svg'"
                  [toggleValue]="!hideContacts"
                  (onToggle)="hideContacts = !hideContacts"
                  [isNarrow]="showPanelRight"
                  [showMe]="true"
                ></app-buttons-toggle>
                <app-buttons-toggle
                  [title]="'Custom'"
                  [placeholder]="'Custom page'"
                  [matIcon]="'build'"
                  [dataTarget]="'#page-custom'"
                  [glyphiconClass]="'glyphicon-wrench'"
                  [svgUrlPath]="'../assets/svg/Icon_Envelope_SVG_Black.svg'"
                  [toggleValue]="!hideCustom"
                  (onToggle)="hideCustom = !hideCustom"
                  [isNarrow]="showPanelRight"
                  [showMe]="true"
                ></app-buttons-toggle>
                <app-buttons-toggle
                  [title]="'Files'"
                  [placeholder]="'Files page'"
                  [dataTarget]="'#page-file'"
                  [matIcon]="'attachment'"
                  [glyphiconClass]="'glyphicon-paperclip'"
                  [svgUrlPath]="'../assets/svg/Icon_Paper_Clip_SVG_Black.svg'"
                  [toggleValue]="!hideDetailFiles"
                  (onToggle)="hideDetailFiles = !hideDetailFiles"
                  [isNarrow]="showPanelRight"
                  [showMe]="true"
                ></app-buttons-toggle>
                &nbsp;<span
                  [style.display]="
                    hideHeader &&
                    hidePrimary &&
                    hideSecondary &&
                    hideOptional &&
                    hideCustom &&
                    hideDetailFiles
                      ? 'inherit'
                      : 'none'
                  "
                  class="hidden-xs"
                >
                  <span class="glyphicon glyphicon-arrow-left"></span> Select
                  pages
                </span>
              </div>

              <!-- </div> -->
            </small>

            <small [hidden]="entityType < entityTypes.size - 1"
              ><span class="glyphicon glyphicon-cog"></span>

              <span>&nbsp;Settings</span>
            </small>

            <small [hidden]="entityType != 0"
              ><span class="glyphicon glyphicon-globe"></span>

              <span>&nbsp;Dashboard</span>
            </small>

            <div class="btn-group pull-right">
              <app-buttons-toolbar-button
                [hidden]="entityType == entityTypes.size - 1"
                [title]="(showPanelRight ? 'Hide' : 'Show') + ' right panel'"
                [placeholder]="
                  (showPanelRight ? 'Hide' : 'Show') + ' right panel'
                "
                [glyphiconClass]="
                  showPanelRight
                    ? 'glyphicon-menu-right'
                    : 'glyphicon-menu-left'
                "
                [svgUrlPath]="
                  '../assets/svg/Icon_Exclamation square_SVG_Black.svg'
                "
                (onClick)="showPanelRight = !showPanelRight"
                [isNarrow]="showPanelRight"
                [showMe]="true"
              ></app-buttons-toolbar-button>
              <!-- <a
                href="#"
                class="btn btn-info btn-xs"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(showPanelRight ? 'Hide' : 'Show') + ' right panel'"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-right]="showPanelRight"
                  [class.glyphicon-menu-left]="!showPanelRight"
                ></span>
              </a> -->
            </div>
          </div>
          <div
            class="panel-body mt3"
            [class.container-panel-center-full]="panelRows == 1"
            [class.container-panel-center-half]="panelRows == 2"
          >
            <div
              *ngIf="
                getIsLoaded(
                  entityType != 0 && entityType != entityTypes.size - 1,
                  'entities'
                )
              "
              [hidden]="entityType == 0 || entityType == entityTypes.size - 1"
            >
              <app-entity-details
                [panelRows]="panelRows"
                (onFile)="doFile($event)"
                (onRecord)="doRecord($event)"
                (onTask)="doTask($event)"
                [hidePrimary]="hidePrimary"
                [hideSecondary]="hideSecondary"
                [hideOptional]="hideOptional"
                [hideCustom]="hideCustom"
                [hideFiles]="hideDetailFiles"
                [hideUsers]="false"
                [hideHeader]="hideHeader"
                [hideContacts]="hideContacts"
                [isNarrow]="showPanelRight"
                [entityType]="entityType"
                [entityKey]="entityKey"
              ></app-entity-details>
            </div>
            <div
              *ngIf="
                getIsLoaded(entityType == entityTypes.size - 1, 'settings')
              "
              [hidden]="entityType < entityTypes.size - 1"
            >
              <app-settings
                [panelRows]="panelRows"
                (onFile)="doFile($event)"
                (onRecord)="doRecord($event)"
                (onTask)="doTask($event)"
                [hidePrimary]="hidePrimary"
                [hideSecondary]="hideSecondary"
                [hideOptional]="hideOptional"
                [hideCustom]="hideCustom"
                [hideFiles]="hideDetailFiles"
                [hideUsers]="false"
                [hideContacts]="hideContacts"
                [isNarrow]="showPanelRight"
                [entityType]="entityType"
              ></app-settings>
            </div>
            <div
              *ngIf="getIsLoaded(entityType == 0, 'dashboard')"
              [hidden]="entityType == entityTypes.size - 1 && entityType != 0"
            >
              <app-entity-details-dashboard
                [panelRows]="panelRows"
                (onFile)="doFile($event)"
                (onRecord)="doRecord($event)"
                (onTask)="doTask($event)"
                [hidePrimary]="hidePrimary"
                [hideSecondary]="hideSecondary"
                [hideOptional]="hideOptional"
                [hideCustom]="hideCustom"
                [hideFiles]="hideDetailFiles"
                [hideUsers]="false"
                [hideContacts]="hideContacts"
                [isNarrow]="showPanelRight"
                [entityType]="entityType"
              ></app-entity-details-dashboard>
            </div>
          </div>

          <!-- col 2: Record Detail -->
          <!-- <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideHistory && hideFiles"
        >
          <div class="panel-heading mt3">
            <span class="glyphicon glyphicon-tasks"></span>
            <small> {{ hideHistory ? "Docs" : "Record Details" }}</small>
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="'Minimise Detail panel'"
              >
                <span class="glyphicon" [class.glyphicon-minus]="true"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="expandHistoryDetail = !expandHistoryDetail"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="
                  (expandHistoryDetail ? 'Shrink' : 'Expand') + ' Detail panel'
                "
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-down]="expandHistoryDetail"
                  [class.glyphicon-menu-up]="!expandHistoryDetail"
                ></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showPanelRight = !showPanelRight"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(showPanelRight ? 'Hide' : 'Show') + ' right panel'"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-right]="showPanelRight"
                  [class.glyphicon-menu-left]="!showPanelRight"
                ></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3"
            [class.files-details-half]="panelRows == 2 && !expandHistoryDetail"
            [class.container-panel-center-full]="
              panelRows == 2 && expandHistoryDetail
            "
          >
            <div [hidden]="hideHistory">
              <app-record-details [panelRows]="panelRows"></app-record-details>
            </div>
            <div [hidden]="hideFiles">
              <app-files-details
                [panelRows]="panelRows"
                [showFileFields]="showFileFields"
              ></app-files-details>
            </div>
          </div>
        </div> -->

          <!-- col 2: Files Detail -->
          <!-- <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideFiles"
        >
          <div class="panel-heading mt3">
            <small
              ><span class="glyphicon glyphicon-paperclip"></span> Docs</small
            >
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showFilesAll()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="'Minimise Detail panel'"
              >
                <span class="glyphicon" [class.glyphicon-minus]="true"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="expandFilesDetail = !expandFilesDetail"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="
                  (expandFilesDetail ? 'Shrink' : 'Expand') + ' Detail panel'
                "
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-down]="expandFilesDetail"
                  [class.glyphicon-menu-up]="!expandFilesDetail"
                ></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showPanelRight = !showPanelRight"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(showPanelRight ? 'Hide' : 'Show') + ' right panel'"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-right]="showPanelRight"
                  [class.glyphicon-menu-left]="!showPanelRight"
                ></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3"
            [class.container-panel-center-half]="
              panelRows == 2 && !expandFilesDetail
            "
            [class.container-panel-center-full]="
              panelRows == 2 && expandFilesDetail
            "
            style="overflow-y: hidden; overflow-x: auto;"
          >
            <app-files-details
              [panelRows]="panelRows"
              [showFileFields]="showFileFields"
            ></app-files-details>
          </div>
        </div> -->
        </div>
      
        
      </div>
      <!-- column 3: Articles -->
      <div
      class="col-xs-8"
      [class.hidden-xs]="!showPanelRight"
      
      [class.col-sm-5]="showPanelRight"
      [style.visibility] = "showPanelRight ? 'visible': 'hidden'"
      style="transition: visibility 5s"
      *ngIf="getIsLoaded(showPanelRight, 'panelRight')"
    >
      <div class="panel panel-primary no-gutter nobottom">
        <div class="panel-heading mt3">
          <small
            ><span
              class="glyphicon"
              [class.glyphicon-comment]="!hidePosts"
              [class.glyphicon-flash]="!hideTasks"
              [class.glyphicon-check]="!hideAudits"
            ></span>
            <span
              >&nbsp;
              {{
                hidePosts && hideAudits && hideTasks
                  ? ""
                  : hidePosts && hideAudits
                  ? "Tasks"
                  : hideAudits
                  ? "Articles"
                  : "Audit"
              }}
            </span>
          </small>

          <div class="btn-group pull-right">
            <app-buttons-toggle
              [title]="'Tasks'"
              [placeholder]="'Tasks Page'"
              [matIcon]="'flash_on'"
              [glyphiconClass]="'glyphicon-flash'"
              [svgUrlPath]="
                '../assets/svg/Icon_Exclamation square_SVG_Black.svg'
              "
              (onToggle)="
                hideTasks = !hideTasks; hidePosts = true; hideAudits = true
              "
              [isNarrow]="showPanelRight"
              [showMe]="true"
              [toggleValue]="!hideTasks"
            ></app-buttons-toggle>

            <!-- <app-buttons-toggle
            [title]="'Articles'"
            [placeholder]="'Articles Page'"
            [glyphiconClass]="'glyphicon-comment'"
            [svgUrlPath]="
              '../assets/svg/Icon_Exclamation square_SVG_Black.svg'
            "
            (onToggle)="hidePosts = !hidePosts; hideTasks = true; hideAudits = true; "
            [isNarrow]="showPanelRight"
            [showMe]="true"
            [toggleValue] = "!hidePosts"
          ></app-buttons-toggle> -->
            <app-buttons-toggle
              [title]="'Audit'"
              [placeholder]="'Audit Page'"
              [matIcon]="'done_all'"
              [glyphiconClass]="'glyphicon-check'"
              [svgUrlPath]="
                '../assets/svg/Icon_Exclamation square_SVG_Black.svg'
              "
              (onToggle)="
                hideAudits = !hideAudits; hideTasks = true; hidePosts = true
              "
              [isNarrow]="showPanelRight"
              [showMe]="true"
              [toggleValue]="!hideAudits"
            ></app-buttons-toggle>

            <app-buttons-toolbar-button
              [title]="(showPanelRight ? 'Hide' : 'Show') + ' right panel'"
              [placeholder]="
                (showPanelRight ? 'Hide' : 'Show') + ' right panel'
              "
              [glyphiconClass]="
                showPanelRight
                  ? 'glyphicon-menu-right'
                  : 'glyphicon-menu-left'
              "
              [svgUrlPath]="
                '../assets/svg/Icon_Exclamation square_SVG_Black.svg'
              "
              (onClick)="showPanelRight = !showPanelRight"
              [isNarrow]="showPanelRight"
              [showMe]="true"
            ></app-buttons-toolbar-button>
          </div>
          <small>
            <span
              class="pull-right"
              [style.display]="
                hidePosts && hideAudits && hideTasks ? 'inherit' : 'none'
              "
              style="vertical-align: bottom;"
              >Select page&nbsp;<span
                class="glyphicon glyphicon-arrow-right"
              ></span
              >&nbsp;
            </span>
          </small>
        </div>
        <!-- <div class="panel-body mt3" [hidden]="hidePosts">
        <app-entity-messages [isNarrow]="true"></app-entity-messages>
      </div>  -->
        <div
          class="panel-body mt3"
          *ngIf="getIsLoaded(!hideTasks, 'tasks')"
          [hidden]="hideTasks"
        >
          <app-entity-tasks [isNarrow]="true"></app-entity-tasks>
        </div>
        <div
          class="panel-body mt3"
          *ngIf="getIsLoaded(!hideAudits, 'audits')"
          [hidden]="hideAudits"
        >
          <app-entity-audits [isNarrow]="true"></app-entity-audits>
        </div>
      </div>
      <div
        [hidden]="!(hideTasks && hideAudits)"
        class="h4 text-primary"
        style="margin: 5px;"
      >
        <u>Please select a page to display</u>
      </div>
    </div>
    </div>
  </div>
</div>
