<div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <!--column 1: Entities, Tasks, Records, Files-->
      <div class="col-xs-4 col-sm-2">
        <!-- Entities -->
        <div class="panel panel-primary no-gutter nobottom">
          <div class="panel-heading mt3 primary-color">
            <small>
              <span class="glyphicon glyphicon-home"></span
              ><span class="hidden-xs hidden-sm">&nbsp;Entities</span></small
            >
            <div class="btn-group pull-right">
              <!-- <a
                href="#"
                class="btn btn-info btn-xs"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Refresh"
              >
                <span class="glyphicon glyphicon-refresh"></span>
              </a> -->

              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showFilesAll()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideFiles ? 'Show' : 'Hide') + ' Docs panel'"
              >
                <span class="glyphicon glyphicon-paperclip"></span>
              </a>

              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideHistory ? 'Show' : 'Hide') + ' Records panel'"
              >
                <span class="glyphicon glyphicon-cd"></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3"
            [class.container-panel-left-full]="panelRows == 1"
            [class.container-panel-left-half]="panelRows == 2"
          >
            <app-entities [panelRows]="panelRows"></app-entities>
          </div>
          <div class="panel-footer mt3">
            <small>Last refresh: 14:31</small>
          </div>
        </div>

        <!-- Tasks hidden-->
        <!-- <div class="panel panel-primary no-gutter nobottom" [hidden]="true">
          <div class="panel-heading mt3">
            <span class="glyphicon glyphicon-flash"></span><small> Tasks</small>
            <div class="btn-group pull-right">
              <a href="#" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-refresh"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showFilesAll()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideFiles ? 'Show' : 'Hide') + ' Files panel'"
              >
                <span class="glyphicon glyphicon-paperclip"></span>
              </a>

              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
              >
                <span class="glyphicon glyphicon-cd"></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3 "
            [class.container-panel-left-full]="panelRows == 1"
            [class.container-panel-left-half]="panelRows == 2"
          >
            <app-tasks [panelRows]="panelRows"></app-tasks>
          </div>
          <div class="panel-footer mt3">
            <small>Last refresh: 14:32</small>
          </div>
        </div> -->

        <!-- Records -->
        <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideHistory"
        >
          <div class="panel-heading  mt3">
            <span class="glyphicon glyphicon-cd"></span
            ><small
              ><span class="hidden-xs hidden-sm">&nbsp;Records</span></small
            >
            <div class="btn-group pull-right">
              <!-- <a href="#" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-refresh"></span>
              </a> -->
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showFilesAll()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideFiles ? 'Show' : 'Hide') + ' Docs panel'"
              >
                <span class="glyphicon glyphicon-paperclip"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
              >
                <span class="glyphicon glyphicon-cd"></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3"
            [class.container-panel-left-full]="panelRows == 1"
            [class.container-panel-left-half]="panelRows == 2"
          >
            <app-records [panelRows]="panelRows"></app-records>
          </div>
          <div class="panel-footer mt3">
            <small>Last refresh: 14:32</small>
          </div>
        </div>

        <!-- Files -->
        <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideFiles"
        >
          <div class="panel-heading mt3">
            <span class="glyphicon glyphicon-folder-open"></span>&nbsp;<small>
              <span class="hidden-xs hidden-sm">&nbsp;Doc Types</span></small
            >
            <div class="btn-group pull-right">
              <!-- <a href="#" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-refresh"></span>
              </a> -->
              <!-- <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideTasks('')"
              >
                <span class="glyphicon glyphicon-flash"></span>
              </a> -->
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showFilesAll()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideFiles ? 'Show' : 'Hide') + ' Docs panel'"
              >
                <span class="glyphicon glyphicon-paperclip"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
              >
                <span class="glyphicon glyphicon-cd"></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3"
            [class.container-panel-left-full]="panelRows == 1"
            [class.container-panel-left-half]="panelRows == 2"
          >
            <app-files-attributes
              [panelRows]="panelRows"
              [isShowAll]="isShowAllFiles"
              (onSelectFields)="doSelectFields($event)"
              [showFileFields]="showFileFields"
            ></app-files-attributes>
          </div>
          <div class="panel-footer mt3">
            <small> Last refresh: 14:32</small>
          </div>
        </div>
      </div>
      <!--column 2: Details of Entities, Records, Docs-->
      <div
        [class.hidden-xs]="showPanelRight"
        [class.col-xs-8]="!showPanelRight"
        [class.col-sm-5]="showPanelRight"
        [class.col-sm-10]="!showPanelRight"
      >
        <!-- col 2: Entity Detail -->
        <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="
            (expandHistoryDetail || expandFilesDetail) &&
            (!hideHistory || !hideFiles)
          "
        >
          <div class="panel-heading mt3">
            <span
              class="glyphicon glyphicon-th-large"
              style="height: 20px;"
            ></span>
            <small>
              <span class="hidden-xs hidden-sm hidden-md">Entity Details:</span
              >&nbsp;
              <!-- <div class="btn-group"> -->
              <div class="btn-group" style="vertical-align: top; height: 20px;">
                <label
                  style="
                    white-space: nowrap;
                    height: 20px;
                    overflow: hidden;
                    display: inline-block;
                    margin-bottom: 0px;
                  "
                  ><input
                    type="checkbox"
                    class="btn btn-info"
                    [checked]="!hidePrimary"
                    (change)="hidePrimary = !hidePrimary"
                  />
                  <span class="hidden-md hidden-lg"> 1</span>
                  <span class="hidden-xs hidden-sm">
                    <small>Primary</small></span
                  ></label
                >
                &nbsp;
                <label
                  style="
                    white-space: nowrap;
                    height: 20px;
                    overflow: hidden;
                    display: inline-block;
                    margin-bottom: 0px;
                  "
                  ><input
                    type="checkbox"
                    class="btn btn-info"
                    [checked]="!hideSecondary"
                    (change)="hideSecondary = !hideSecondary"
                  />
                  <span class="hidden-md hidden-lg"> 2</span>
                  <span class="hidden-xs hidden-sm">
                    <small>Secondary</small></span
                  ></label
                >&nbsp;
                <label
                  style="
                    white-space: nowrap;
                    height: 20px;
                    overflow: hidden;
                    display: inline-block;
                    margin-bottom: 0px;
                  "
                  ><input
                    type="checkbox"
                    class="btn btn-info"
                    [checked]="!hideOptional"
                    (change)="hideOptional = !hideOptional"
                  />
                  <span class="hidden-md hidden-lg"> 3</span>
                  <span class="hidden-xs hidden-sm">
                    <small>Optional</small></span
                  ></label
                >
                &nbsp;
                <label
                  style="
                    white-space: nowrap;
                    height: 20px;
                    overflow: hidden;
                    display: inline-block;
                    margin-bottom: 0px;
                  "
                  ><input
                    type="checkbox"
                    class="btn btn-info"
                    [checked]="!hideCustom"
                    (change)="hideCustom = !hideCustom"
                  />
                  <span class="hidden-md hidden-lg"> 4</span>
                  <span class="hidden-xs hidden-sm">
                    <small>Custom</small></span
                  >
                </label>
              </div>

              <!-- </div> -->
            </small>

            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showPanelRight = !showPanelRight"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(showPanelRight ? 'Hide' : 'Show') + ' right panel'"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-right]="showPanelRight"
                  [class.glyphicon-menu-left]="!showPanelRight"
                ></span>
              </a>
            </div>

            <!-- <app-buttons-cancel-save
              (clickCancel)="doCancel_EntityDetail()"
              (clickSave)="doSave_EntityDetail()"
            ></app-buttons-cancel-save> 
          
          --></div>
          <div
            class="panel-body mt3"
            [class.container-panel-center-full]="panelRows == 1"
            [class.container-panel-center-half]="panelRows == 2"
          >
            <app-entity-details
              [panelRows]="panelRows"
              (onFile)="doFile($event)"
              (onRecord)="doRecord($event)"
              (onTask)="doTask($event)"
              [hidePrimary]="hidePrimary"
              [hideSecondary]="hideSecondary"
              [hideOptional]="hideOptional"
              [hideCustom]="hideCustom"
            ></app-entity-details>
          </div>
          <div class="panel-footer mt3">
            <small>1 detail is not complete</small>
          </div>
        </div>

        <!-- col 2: Record Detail -->
        <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideHistory"
        >
          <div class="panel-heading mt3">
            <span class="glyphicon glyphicon-tasks"></span>
            <small> Record Details</small>
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="expandHistoryDetail = !expandHistoryDetail"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="
                  (expandHistoryDetail ? 'Shrink' : 'Expand') + ' Detail panel'
                "
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-down]="expandHistoryDetail"
                  [class.glyphicon-menu-up]="!expandHistoryDetail"
                ></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showPanelRight = !showPanelRight"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(showPanelRight ? 'Hide' : 'Show') + ' right panel'"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-right]="showPanelRight"
                  [class.glyphicon-menu-left]="!showPanelRight"
                ></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3"
            [class.container-panel-center-half]="
              panelRows == 2 && !expandHistoryDetail
            "
            [class.container-panel-center-full]="
              panelRows == 2 && expandHistoryDetail
            "
            style="overflow-y: scroll;"
          >
            <app-record-details [panelRows]="panelRows"></app-record-details>
          </div>
          <div class="panel-footer mt3">
            <small>2 details are not complete</small>
          </div>
        </div>

        <!-- col 2: Files Detail -->
        <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideFiles"
        >
          <div class="panel-heading mt3">
            <span class="glyphicon glyphicon-paperclip"></span>
            <small> Docs</small>
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="expandFilesDetail = !expandFilesDetail"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="
                  (expandFilesDetail ? 'Shrink' : 'Expand') + ' Detail panel'
                "
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-down]="expandFilesDetail"
                  [class.glyphicon-menu-up]="!expandFilesDetail"
                ></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showPanelRight = !showPanelRight"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(showPanelRight ? 'Hide' : 'Show') + ' right panel'"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-right]="showPanelRight"
                  [class.glyphicon-menu-left]="!showPanelRight"
                ></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3"
            [class.container-panel-center-half]="
              panelRows == 2 && !expandFilesDetail
            "
            [class.container-panel-center-full]="
              panelRows == 2 && expandFilesDetail
            "
            style="overflow-y: hidden; overflow-x: auto;"
          >
            <app-files-details
              [panelRows]="panelRows"
              [showFileFields]="showFileFields"
            ></app-files-details>
          </div>
          <div class="panel-footer mt3"><small>2 new docs</small></div>
        </div>
      </div>
      <!-- column 3: Articles -->
      <div
        class="col-xs-8"
        [class.hidden-xs]="!showPanelRight"
        [hidden]="!showPanelRight"
        [class.col-sm-5]="showPanelRight"
      >
        <div class="panel panel-primary no-gutter nobottom">
          <div class="panel-heading mt3">
            <small
              ><span
                class="glyphicon"
                [class.glyphicon-comment]="!hidePosts"
                [class.glyphicon-flash]="!hideTasks"
              ></span>
              <span class="hidden-xs hidden-sm"
                >&nbsp;
                {{ hidePosts ? "Tasks" : "Articles" }}
              </span>
            </small>
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideTasks()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideTasks ? 'Show' : 'Hide') + ' Tasks panel'"
              >
                <span class="glyphicon glyphicon-flash"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHidePosts()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideTasks ? 'Show' : 'Hide') + ' Articles panel'"
              >
                <span class="glyphicon glyphicon-comment"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showPanelRight = !showPanelRight"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(showPanelRight ? 'Hide' : 'Show') + ' right panel'"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-right]="showPanelRight"
                  [class.glyphicon-menu-left]="!showPanelRight"
                ></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3 container-panel-right"
            [hidden]="hidePosts"
          >
            <app-entity-messages></app-entity-messages>
          </div>
          <div
            class="panel-body mt3 container-panel-right"
            [hidden]="hideTasks"
          >
            <app-entity-tasks></app-entity-tasks>
          </div>
          <div class="panel-footer mt3">
            <small>Last post: 3 days ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
