<div class="btn-group pull-right" style="margin-right: 1px;">
  <a
    *ngIf="showFlash"
    href="#"
    class="btn primary-color-reverse btn-xs"
    (click)="doTask()"
  >
    <mat-icon
      aria-hidden="true"
      aria-label="Entities"
      [title]="'Audit of changes for ' + title"
      >flash_on</mat-icon
    >
  </a>
  <a
    *ngIf="showPaperclip"
    href="#"
    class="btn primary-color-reverse btn-xs"
    (click)="doFile()"
  >
    <mat-icon
      aria-hidden="true"
      aria-label="Entities"
      [title]="'Audit of changes for ' + title"
      >attachment</mat-icon
    >
  </a>
  <a
    *ngIf="showCD"
    href="#"
    class="btn primary-color-reverse btn-xs"
    (click)="doRecord()"
  >
    <mat-icon
      aria-hidden="true"
      aria-label="Entities"
      [title]="'Audit of changes for ' + title"
      >cd</mat-icon
    >
  </a>
  <a
    *ngIf="showCheck"
    href="#"
    class="btn primary-color-reverse btn-xs"
    (click)="doRecord()"
  >
    <mat-icon
      aria-hidden="true"
      aria-label="Entities"
      [title]="'Audit of changes for ' + title"
      >done_all</mat-icon
    >
  </a>
</div>
