<div
  class="form-group input-group-sm nobottom"
  [hidden]="hideByFilter()"
  style="margin-top: 5px; margin-right: 1px;"
>
  <div>
    <label class="nobottom text-primary label-buttons-3">{{ title }}</label>
  </div>
  <div class="input-group input-group-sm" style="margin-bottom: 5px;">
    <input
      type="text"
      class="form-control input-sm"
      [placeholder]="'File name'"
      (keyup)="doKey($event)"
      style="font-weight: normal;"
      autocomplete="nope"
      [ngModel]="value"
      (ngModelChange)="doChange($event)"
    />

    <span
      *ngIf="showMinus"
      class="input-group-addon btn primary-color-reverse"
      (click)="doMinus()"
      [title]="'Decrease'"
    >
      <span class="glyphicon glyphicon-minus"></span>
    </span>

    <span
      *ngIf="showPlus"
      class="input-group-addon btn primary-color-reverse"
      (click)="doPlus()"
      [title]="'Increase'"
    >
      <span class="glyphicon glyphicon-plus"></span>
    </span>
    
  </div>
</div>
