<!-- <div class="text-primary-h 4" style="margin-top: 5px;" >
    Attendance details: {{ title }}
  </div> -->
  <app-label-h [title]="'Attendance details: ' + title " [hidden]="!showTitle"></app-label-h>
  <app-input-table
    [headings]="['Title', 'Attended','Description']"
    [fields]="['name', 'attendedIs','description']"
    [withCheckbox]="true"
    [entities]="data.attendances"
    [inputType] = "'checkbox'"
  ></app-input-table>
  <ng-container *ngIf="showTitle">
    <div style="padding-bottom: 5px;"></div>
    <hr />
  </ng-container>
