<!-- <div class="form-group nobottom">
  <input
    type="text"
    class="form-control input-sm"
    placeHolder="Filter attributes"
    style="margin-bottom: 2px;"
    [(ngModel)]="filterText"
  />
</div> -->

<app-input-filter-add
  [title]="dataService.getEntityTypes().get(entityType).name"
  [showSave]="true"
  [showCancel]="true"
  [showT]="true"
  [showDuplicate]="true"
  [showDownload]="true"
  (onFilter)="doFilter($event)"
></app-input-filter-add>
<form autocomplete="off">
  <div *ngIf="entityType != 1 && entityType != 2" style="overflow-y: scroll;">
    <app-input-text
      [filterText]="filterText"
      [doHideByFilter]="false"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [title]="'Entity Name*'"
      [placeholder]="'Legal name of the entity (required)'"
      [showCheck]="true"
      [value] = "getEntityName()"
      (onChange) = "setEntityName($event)"
    ></app-input-text>
  </div>
  <div *ngIf="entityType == 1 || entityType == 2">
    <app-input-duo
      [typeLeft]="'text'"
      [typeRight]="'text'"
      [titleLeft]="'Surname'"
      [titleRight]="'First Name'"
      [doHideByFilter]="false"
      [showCheckLeft]="true"
      [showCheckRight]="true"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [overflowY]="'scroll'"

      [valueLeft] = "getSurname()"
      [valueRight] = "getFirstName()"
      (onChangeLeft) = "setSurname($event)"
      (onChangeRight) = "setFirstName($event)"
    >
    </app-input-duo>
  </div>

  <div
    [class.entities-detail-form-full]="isFullScreen()"
    [class.entities-detail-form-half]="isHalfScreen()"
  >
    <div style="padding-bottom: 5px;">
      <app-input-duo
        [isNarrow]="isNarrow"
        [filterText]="filterText"
        [doHideByFilter]="true"
        [typeLeft]="'select-entity'"
        [titleLeft]="'Entity Type'"
        [valuesLeft]="dataService.getEntityTypes()"
        [valueLeft]="entityType"
        [showAddLeft]="false"
        [showEditLeft]="false"
        [showDeleteLeft]="false"
        [showCheckLeft]="true"
        [typeRight]="'text'"
        [titleRight]="'Internal Code'"
        [showCheckRight]="true"
        (onChangeLeft)="doChangeEntityType($event)"
        (onFile)="doFile($event)"
        (onRecord)="doRecord($event)"
        (onTask)="doTask($event)"
      >
      </app-input-duo>
    </div>
    <div [hidden]="entityType != 0">
      <div [hidden]="hidePrimary">
        <app-entity-details-company-primary
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-company-primary>
      </div>
      <div [hidden]="hideSecondary">
        <app-entity-details-company-secondary
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-company-secondary>
      </div>
      <div [hidden]="hideOptional">
        <app-entity-details-company-optional
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-company-optional>
      </div>
      <div [hidden]="hideContacts">
        <app-entity-details-contact
          [title]="'Company'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-contact>
      </div>
      <div [hidden]="hideCustom">
        <app-entity-details-custom
          [title]="'Company'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-custom>
      </div>
      <div [hidden]="hideFiles">
        <app-entity-details-files
          [title]="'Company'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-files>
      </div>
      <!-- <div [hidden]="hideUsers">
        <app-entity-details-users
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [users]="dataService.getUsers()"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-users>
      </div> -->
      <div
        [hidden]="
          !(
            hidePrimary &&
            hideSecondary &&
            hideOptional && hideContacts &&
            hideCustom &&
            hideFiles
          )
        "
      >
        <hr class="text-primary-bold" style="height: 1px; margin: 0px;" />
        <div class="h4 text-primary" style="margin-top: 5px;">
          <u>Please tick above to select the detail pages to display</u>
        </div>
      </div>
    </div>
    <div [hidden]="entityType != 1">
      <div [hidden]="hidePrimary">
        <app-entity-details-individual
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-individual>
      </div>
      <div [hidden]="hideSecondary">
        <app-entity-details-individual-secondary
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-individual-secondary>
      </div>
      <div [hidden]="hideContacts">
        <app-entity-details-contact
          [title]="'Individual'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-contact>
      </div>
      <div [hidden]="hideCustom">
        <app-entity-details-custom
          [title]="'Individual'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-custom>
      </div>
      <div [hidden]="hideFiles">
        <app-entity-details-files
          [title]="'Individual'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-files>
      </div>
      <div
        [hidden]="!(hidePrimary && hideSecondary && hideContacts && hideCustom && hideFiles)"
      >
        <hr class="text-primary-bold" style="height: 1px; margin: 0px;" />
        <div class="h4 text-primary" style="margin-top: 5px;">
          <u>Please tick above to select the detail pages to display</u>
        </div>
      </div>
    </div>
    <div [hidden]="entityType != 2">
      <div [hidden]="hidePrimary">
        <app-entity-details-user
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-user>
      </div>
      <div [hidden]="hideContacts">
        <app-entity-details-contact
          [title]="'User'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-contact>
      </div>
      <div [hidden]="hideCustom">
        <app-entity-details-custom
          [title]="'User'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-custom>
      </div>
      <div [hidden]="hideFiles">
        <app-entity-details-files
          [title]="'User'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-files>
      </div>
      <div [hidden]="!(hidePrimary && hideContacts && hideCustom && hideFiles)">
        <hr class="text-primary-bold" style="height: 1px; margin: 0px;" />
        <div class="h4 text-primary" style="margin-top: 5px;">
          <u>Please tick above to select the detail pages to display</u>
        </div>
      </div>
    </div>
    <div [hidden]="entityType != 3">
      <div [hidden]="hidePrimary">
        <app-entity-details-group
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-group>
      </div>
      <div [hidden]="hideContacts">
        <app-entity-details-contact
          [title]="'Group'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-contact>
      </div>
      <div [hidden]="hideCustom">
        <app-entity-details-custom
          [title]="'Group'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-custom>
      </div>
      <div [hidden]="hideFiles">
        <app-entity-details-files
          [title]="'Group'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-files>
      </div>
      <div [hidden]="!(hidePrimary && hideContacts && hideCustom && hideFiles)">
        <hr class="text-primary-bold" style="height: 1px; margin: 0px;" />
        <div class="h4 text-primary" style="margin-top: 5px;">
          <u>Please tick above to select the detail pages to display</u>
        </div>
      </div>
    </div>
    <div [hidden]="entityType != 4">
      <div [hidden]="hidePrimary">
        <app-entity-details-trust
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-trust>
      </div>
      <div [hidden]="hideContacts">
        <app-entity-details-contact
          [title]="'Trust'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-contact>
      </div>
      <div [hidden]="hideCustom">
        <app-entity-details-custom
          [title]="'Trust'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-custom>
      </div>
      <div [hidden]="hideFiles">
        <app-entity-details-files
          [title]="'Trust'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-files>
      </div>
      <div [hidden]="!(hidePrimary && hideContacts && hideCustom && hideFiles)">
        <hr class="text-primary-bold" style="height: 1px; margin: 0px;" />
        <div class="h4 text-primary" style="margin-top: 5px;">
          <u>Please tick above to select the detail pages to display</u>
        </div>
      </div>
    </div>
    <div [hidden]="entityType != 5">
      <div [hidden]="hidePrimary">
        <app-entity-details-regulator
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-regulator>
      </div>
      <div [hidden]="hideContacts">
        <app-entity-details-contact
          [title]="'Regulator'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-contact>
      </div>
      <div [hidden]="hideCustom">
        <app-entity-details-custom
          [title]="'Regulator'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-custom>
      </div>
      <div [hidden]="hideFiles">
        <app-entity-details-files
          [title]="'Regulator'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-files>
      </div>

      <div [hidden]="!(hidePrimary && hideContacts && hideCustom && hideFiles)">
        <hr class="text-primary-bold" style="height: 1px; margin: 0px;" />
        <div class="h4 text-primary" style="margin-top: 5px;">
          <u>Please tick above to select the detail pages to display</u>
        </div>
      </div>
    </div>
    <div [hidden]="entityType != 6">
      <div [hidden]="hidePrimary">
        <app-entity-details-regulation
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-regulation>
      </div>
      <div [hidden]="hideContacts">
        <app-entity-details-contact
          [title]="'Regulation'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-contact>
      </div>
      <div [hidden]="hideCustom">
        <app-entity-details-custom
          [title]="'Regulation'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-custom>
      </div>
      <div [hidden]="hideFiles">
        <app-entity-details-files
          [title]="'Regulation'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-files>
      </div>

      <div [hidden]="!(hidePrimary && hideContacts && hideCustom && hideFiles)">
        <hr class="text-primary-bold" style="height: 1px; margin: 0px;" />
        <div class="h4 text-primary" style="margin-top: 5px;">
          <u>Please tick above to select the detail pages to display</u>
        </div>
      </div>
    </div>
    <div [hidden]="entityType != 7">
      <div [hidden]="hidePrimary">
        <app-entity-details-auditor
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-auditor>
      </div>
      <div [hidden]="hideContacts">
        <app-entity-details-contact
          [title]="'Auditor'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-contact>
      </div>
      <div [hidden]="hideCustom">
        <app-entity-details-custom
          [title]="'Auditor'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-custom>
      </div>
      <div [hidden]="hideFiles">
        <app-entity-details-files
          [title]="'Auditor'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-files>
      </div>

      <div [hidden]="!(hidePrimary && hideContacts && hideCustom && hideFiles)">
        <hr class="text-primary-bold" style="height: 1px; margin: 0px;" />
        <div class="h4 text-primary" style="margin-top: 5px;">
          <u>Please tick above to select the detail pages to display</u>
        </div>
      </div>
    </div>
    <div [hidden]="entityType != 8">
      <div [hidden]="hidePrimary">
        <app-entity-details-secretary
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-secretary>
      </div>
      <div [hidden]="hideContacts">
        <app-entity-details-contact
          [title]="'External Secretary'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-contact>
      </div>
      <div [hidden]="hideCustom">
        <app-entity-details-custom
          [title]="'External Secretary'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-custom>
      </div>
      <div [hidden]="hideFiles">
        <app-entity-details-files
          [title]="'External Secretary'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-files>
      </div>

      <div [hidden]="!(hidePrimary && hideContacts && hideCustom && hideFiles)">
        <hr class="text-primary-bold" style="height: 1px; margin: 0px;" />
        <div class="h4 text-primary" style="margin-top: 5px;">
          <u>Please tick above to select the detail pages to display</u>
        </div>
      </div>
    </div>
  </div>
</form>
