<!-- <div class="form-group nobottom">
  <input
    type="text"
    class="form-control input-sm"
    placeHolder="Filter attributes"
    style="margin-bottom: 2px;"
    [(ngModel)]="filterText"
  />
</div> -->

<app-input-filter-add
  [title]="data.getEntityTypes().get(entityType).name"
  [showSave]="true"
  [showCancel]="true"
  [showT]="true"
  [showDuplicate]="true"
  [showDownload]="true"
  [disabledSave]="!dirty"
  [disabledCancel]="!dirty"
  (onFilter)="doFilter($event)"
  (onSave)="doSave()"
  (onCancel)="doCancel()"
></app-input-filter-add>
<form autocomplete="off">
  <div *ngIf="entityType != 1 && entityType != 2" style="overflow-y: scroll;">
    <app-input-text
      [filterText]="filterText"
      [doHideByFilter]="false"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [title]="'Entity Name*'"
      [placeholder]="'Legal name of the entity (required)'"
      [showCheck]="true"
      [value]="getEntityName()"
      (onChange)="setEntityName($event)"
    ></app-input-text>
  </div>
  <div *ngIf="entityType == 1 || entityType == 2">
    <app-input-duo
      [typeLeft]="'text'"
      [typeRight]="'text'"
      [titleLeft]="'Surname'"
      [titleRight]="'First Name'"
      [doHideByFilter]="false"
      [showCheckLeft]="true"
      [showCheckRight]="true"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [overflowY]="'scroll'"
      [valueLeft]="getSurname()"
      [valueRight]="getFirstName()"
      (onChangeLeft)="setSurname($event)"
      (onChangeRight)="setFirstName($event)"
    >
    </app-input-duo>
  </div>

  <div style="padding-bottom: 5px;"></div>
  <hr />

  <div
    [class.entities-detail-form-full]="isFullScreen()"
    [class.entities-detail-form-half]="isHalfScreen()"
  >
    <div *ngIf="getIsLoaded(!hideHeader, 'header')">
      <div [hidden]="hideHeader">
        <app-entity-details-header
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [entityKey]="entityKey"
          [entity]="entity"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
          (onDirty)="dirty = true"
        ></app-entity-details-header>
      </div>
    </div>

    <div [hidden]="entityType != 0" >
      <div [hidden]="hidePrimary">
        <app-entity-details-company-primary
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [entityKey]="entityKey"
          [entity]="entity"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
          (onDirty)="dirty = true"
        ></app-entity-details-company-primary>
      </div>
      <div [hidden]="hideSecondary">
        <app-entity-details-company-secondary
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          [entity]="entity"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-company-secondary>
      </div>
      <div [hidden]="hideOptional">
        <app-entity-details-company-optional
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          [entity]="entity"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-company-optional>
      </div>
      <!-- <div [hidden]="hideUsers">
        <app-entity-details-users
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [users]="data.getUsers()"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-users>
      </div> -->
      
    </div>

    <div *ngIf="getIsLoaded(entityType == 1, 'individual')" [hidden]="entityType != 1">
      <div [hidden]="hidePrimary">
        <app-entity-details-individual
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [entity]="entity"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-individual>
      </div>
      <div [hidden]="hideSecondary">
        <app-entity-details-individual-secondary
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [entity]="entity"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-individual-secondary>
      </div>
    </div>

    <div *ngIf="getIsLoaded(entityType == 2, 'user')" [hidden]="entityType != 2">
      <div [hidden]="hidePrimary">
        <app-entity-details-user
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-user>
      </div>
    </div>
    <div *ngIf="getIsLoaded(entityType == 3, 'group')" [hidden]="entityType != 3">
      <div [hidden]="hidePrimary">
        <app-entity-details-group
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-group>
      </div>
    </div>
    <div *ngIf="getIsLoaded(entityType == 4, 'trust')" [hidden]="entityType != 4">
      <div [hidden]="hidePrimary">
        <app-entity-details-trust
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-trust>
      </div>
    </div>
    <div *ngIf="getIsLoaded(entityType == 5, 'regulator')" [hidden]="entityType != 5">
      <div [hidden]="hidePrimary">
        <app-entity-details-regulator
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-regulator>
      </div>
    </div>
    <div *ngIf="getIsLoaded(entityType == 6, 'regulation')" [hidden]="entityType != 6">
      <div [hidden]="hidePrimary">
        <app-entity-details-regulation
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-regulation>
      </div>
    </div>
    <div *ngIf="getIsLoaded(entityType == 7, 'auditor')" [hidden]="entityType != 7">
      <div [hidden]="hidePrimary">
        <app-entity-details-auditor
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-auditor>
      </div>
    </div>
    <div *ngIf="getIsLoaded(entityType == 8, 'secretariat')" [hidden]="entityType != 8">
      <div [hidden]="hidePrimary">
        <app-entity-details-secretary
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-secretary>
      </div>
    </div>

    <div *ngIf="getIsLoaded(!hideContacts, 'contacts')">
      <div [hidden]="hideContacts">
        <app-entity-details-contact
          [title]="'Company'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-contact>
      </div>
    </div>
    <div *ngIf="getIsLoaded(!hideContacts, 'custom')">
      <div [hidden]="hideCustom">
        <app-entity-details-custom
          [title]="'Company'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-custom>
      </div>
    </div>
    <div *ngIf="getIsLoaded(!hideContacts, 'files')">
      <div [hidden]="hideFiles">
        <app-entity-details-files
          [title]="'Company'"
          [isNarrow]="isNarrow"
          [filterText]="filterText"
          [persons]="persons"
          (onFile)="doFile($event)"
          (onRecord)="doRecord($event)"
          (onTask)="doTask($event)"
        ></app-entity-details-files>
      </div>
    </div>

    <div
        [hidden]="
          !(
            hidePrimary &&
            (hideSecondary || (entityType != 0 && entityType != 1)) &&
            (hideOptional || entityType != 0) &&
            hideContacts &&
            hideCustom &&
            hideFiles &&
            hideHeader
          )
        "
      >
        <div class="h4 text-primary" style="margin-top: 5px;">
          <u>Please select detail pages to display</u>
        </div>
      </div>

  </div>
</form>
