<app-input-number
  *ngIf="type == 'number'"
  [filterText]="filterText"
  [doHideByFilter]="doHideByFilter"
  [title]="title"
  [value]="value"
  [increment]="increment"
  (onFile)="doFile()"
  (onRecord)="doRecord()"
  (onTask)="doTask()"
  (onChange)="doChange($event)"
  [minValue]="minValue"
  [maxValue]="maxValue"
></app-input-number>

<app-input-file
  *ngIf="type == 'file'"
  [filterText]="filterText"
  [doHideByFilter]="doHideByFilter"
  [title]="title"
  [showTitleInput]="showTitleInput"
  (onFile)="doFile()"
  (onRecord)="doRecord()"
  (onTask)="doTask()"
></app-input-file>

<app-input-address
  *ngIf="type == 'address'"
  [filterText]="filterText"
  [doHideByFilter]="doHideByFilter"
  [title]="title"
  [disabled]="disabled"
  [value]="value"
>
</app-input-address>

<app-input-text
  *ngIf="type == 'text'"
  [filterText]="filterText"
  [doHideByFilter]="doHideByFilter"
  [title]="title"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [value]="value"
  (onFile)="doFile()"
  (onRecord)="doRecord()"
  (onTask)="doTask()"
  (onChange)="doChange($event)"
  [showFlash]="showFlash"
  [showPaperclip]="showPaperclip"
  [showCD]="showCD"
></app-input-text>

<app-input-textarea *ngIf="type == 'textarea'" [title]="title">
</app-input-textarea>

<app-input-checkbox
  *ngIf="type == 'checkbox'"
  [filterText]="filterText"
  [doHideByFilter]="doHideByFilter"
  [title]="title"
  [disabled]="disabled"
  [value]="value"
  (onFile)="doFile()"
  (onRecord)="doRecord()"
  (onTask)="doTask()"
  [showFlash]="showFlash"
  [showPaperclip]="showPaperclip"
  [showCD]="showCD"
></app-input-checkbox>

<app-input-date
  *ngIf="type == 'date'"
  [title]="title"
  [filterText]="filterText"
  [doHideByFilter]="true"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [value]="value"
  (onFile)="doFile()"
  (onRecord)="doRecord()"
  (onTask)="doTask()"
  [showFlash]="showFlash"
  [showPaperclip]="showPaperclip"
  [showCD]="showCD"
></app-input-date>

<app-input-select
  *ngIf="type == 'select'"
  [filterText]="filterText"
  [doHideByFilter]="doHideByFilter"
  [title]="title"
  [value]="value"
  [values]="values"
  (onChange)="doChange($event)"
  (onFile)="doFile()"
  (onRecord)="doRecord()"
  (onTask)="doTask()"
  [showFlash]="showFlash"
  [showPaperclip]="showPaperclip"
  [showCD]="showCD"
  [showAdd]="showAdd"
  [showEdit]="showEdit"
  [showDelete]="showDelete"
></app-input-select>

<app-input-select-checkbox
  *ngIf="type == 'select-checkbox'"
  [filterText]="filterText"
  [doHideByFilter]="doHideByFilter"
  [title]="title"
  [value]="value"
  [values]="values"
  (onFile)="doFile()"
  (onRecord)="doRecord()"
  (onTask)="doTask()"
  [showFlash]="showFlash"
  [showPaperclip]="showPaperclip"
  [showCD]="showCD"
></app-input-select-checkbox>

<app-input-person
  *ngIf="type == 'person'"
  [filterText]="filterText"
  [doHideByFilter]="doHideByFilter"
  [title]="title"
  [value]="value"
  [values]="values"
  (onFile)="doFile()"
  (onRecord)="doRecord()"
  [showFlash]="showFlash"
  [showPaperclip]="showPaperclip"
  [showCD]="showCD"
  [showAdd]="showAdd"
  [showEdit]="showEdit"
  [showDelete]="showDelete"
></app-input-person>
