
<app-input-panel
  [title]="workFlow.name"
  [collapsed]="false"
  [panelPrimary]="true"
  [noPadding]="true"
  [showSaveNext]="true"
  [showSavePrev]="workFlow.currentTaskIndex > 0"
  [showViewAll] = "workFlow.tasks.length>10"
  [showClose] = "true"
  [showSync] = "false"
  [syncValue] = "this.workFlow.notifyIs"
  [maxHeight] = "90"
  (onClose) = "doClose()"
  (onShowAll) = "doShowAll($event)"
  (onSaveNext)="doSaveNext()"
  (onSavePrev)="doSavePrev()"
  (document:keydown.control.arrowup)="doSavePrev()"
  (document:keydown.control.arrowdown)="doSaveNext()"
  (onMakeEID)="doMakePanelIED($event)"
  (onSync) = "doSync($event)"
>
  <ng-container *ngFor="let t of workFlow.tasks; let i = index">
    <div [hidden]="!showStep(i)">
      <app-flow-confirm
        *ngIf="t.type == 'confirm'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
        [showSavePrev]="workFlow.currentTaskIndex > 0"
        [showSaveNext]="true"
        (onEnter) = "doSaveNext()"
      ></app-flow-confirm>
      <app-flow-date
        *ngIf="t.type == 'date'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
        [showSavePrev]="workFlow.currentTaskIndex > 0"
        [showSaveNext]="true"
        (onEnter) = "doSaveNext()"
      ></app-flow-date>
      <app-flow-select
        *ngIf="t.type == 'select'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
        [showSavePrev]="workFlow.currentTaskIndex > 0"
        [showSaveNext]="true"
        (onChange) = "doSaveNext()"
      ></app-flow-select>
      <app-flow-set-reminder
        *ngIf="t.type == 'set-reminder'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
      ></app-flow-set-reminder>
      <app-flow-submit-docs
        *ngIf="t.type == 'submit-docs'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
        (onDrill)="doDrill()"
      ></app-flow-submit-docs>
      <app-flow-upload-docs
        *ngIf="t.type == 'upload-docs'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
        (onDrill)="doDrill()"
      ></app-flow-upload-docs>
      <app-flow-form
        *ngIf="t.type == 'form'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
      ></app-flow-form>
      <app-flow-message
        *ngIf="t.type == 'message'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
      ></app-flow-message>
      <app-flow-text
        *ngIf="t.type == 'text'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
        (onEnter) = "doSaveNext()"
      ></app-flow-text>
      <app-flow-text
        *ngIf="t.type == 'number'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
        (onEnter) = "doSaveNext()"
      ></app-flow-text>
      <app-flow-textarea
        *ngIf="t.type == 'desc'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
        (onEnter) = "doSaveNext()"
      ></app-flow-textarea>
      <app-flow-address
        *ngIf="t.type == 'address'"
        [stepNumber]="i + 1"
        [taskFlow]="t"
      ></app-flow-address>
    </div>
  </ng-container>
  {{this.workFlow.historyOfNames}}
  <div style='margin-left:5px;margin-right:5px;margin-top:5px'>{{this.workFlow.historyOfNames.length==1?'Finalised 1 task':(this.workFlow.historyOfNames.length!=1?'Finalised ' + this.workFlow.historyOfNames.length + ' tasks':'')}}</div>
  <div style='margin-left:5px;margin-right:5px;' *ngFor="let e of this.workFlow.historyOfNames">{{e}}</div>
  {{this.workFlow.workflowValuesObject | json}}
</app-input-panel>

<button
  style="visibility: hidden;"
  id = 'button-100001'
  type="button"
  class="btn btn-info btn-lg"
  data-toggle="modal"
  [attr.data-target]="'#dialog-close' + eid"
>
  Open Modal
</button>
<app-input-modal [id]="'dialog-close' + eid">
  <div class="modal-body">
    <app-label-h [title]="'Secretariat Software Solution'"></app-label-h>
    <div [hidden]="cancelTaskIs">
      Would you like to close the workflow to continue later, cancel the
      task or go back and carry on?
    </div>
    <app-input-textarea  [hidden]="!cancelTaskIs"
        [title]="'Audit reason for canceling the task'"
      ></app-input-textarea>
  </div>

  <div class="modal-footer" [hidden]="cancelTaskIs">
    <button type="button primary-color" class="btn btn-default" data-dismiss="modal" (click)="doReset()">
      Pause the task to continue later
    </button>
    <button type="button primary-color" class="btn btn-default"  (click)="cancelTaskIs=true">
      Cancel task
    </button>
    <button type="button primary-color" class="btn btn-default" data-dismiss="modal">
      Back
    </button>
  </div>
  <div [hidden]="!cancelTaskIs">
    <!-- <div class="modal-body">
      <app-input-textarea
        [title]="'Audit reason for canceling the task'"
      ></app-input-textarea>
    </div> -->
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="doReset()">
        Save the reason and cancel the task
      </button>
      <button type="button" class="btn btn-default" (click)="cancelTaskIs=false">
        Back
      </button>
    </div>
  </div>
</app-input-modal>
