<hr class="primary-color" style="height: 1px; margin: 0px;" />
<div class="h4 text-primary" style="margin-top: 5px;">
  <u>File Details: {{title}}</u>
</div>

<app-input-duo
  [typeLeft]="'number'"
  [titleLeft]="'Number of files'"
  [valueLeft]="1"

  [typeRight] = "'text'"
  [titleRight] = "'Number of Selected Items'"
  [valueRight] = "selectedCount"

  [minValueLeft]="1"
  [maxValueLeft]="1000"
  [incrementLeft]="1"
  (onChangeLeft)="doChangeCount($event)"
  [showCDLeft]="false"
  [showFlashLeft]="false"
  [showPaperclipLeft]="false"
  [showDownloadLeft] = "true"
  [showShareLeft] = "true"
></app-input-duo>

<div *ngFor="let e of elements; let i = index">

  <app-input-any
      [filterText]="filterText"
      [doHideByFilter]="true"
      
      [type]="'file'"
      [title]="'File ' + (i+1) + ' details'"
      [showTitleInput] = "true"
      [showSelect] = "true"
      [showShare] = "true"
      [showDownload] = "true"
      
      (onFile)="doFile(i)"
      (onRecord)="doRecord(i)"
      (onTask)="doTask(i)" 
      (onCheck) = "doSelectItem($event)"
    ></app-input-any> 
</div>

<hr style="height: 1px; margin: 0px;" />
