<div *ngIf="showMe" style="display: inline-block; vertical-align: top;padding-right:1px;padding-left:1px;">
    <!-- svgPath: {{svgUrlPath}} -->
  <label
    [attr.for]="'checkbox-toggle-' + dataService.getID(title)"
    class="btn btn-info btn-xs"
    style="padding: 1px"
    [class.active]="toggleValue"
    [title] = "title"
  >
  &nbsp;<span [class]="'glyphicon ' + glyphiconClass"> </span>&nbsp;
    <!-- <svg
      style="
        background-position: center;
        vertical-align:middle;
        background-repeat: no-repeat;
        height: 19px;
        width: 19px;
        color: white;
      "
      [style.background-image] = "'url(\'' + svgUrlPath + '\')'"
    ></svg> -->
  
    

    <!-- [style.background-image] = "'url(\'../assets/svg/Icon_Exclamation circle_SVG_Black.svg\')'" -->

    <span class="hidden-xs hidden-sm hidden-md" [hidden]="isNarrow">
      <small>{{ title }}&nbsp;</small></span
    >
  </label>
  <input
    type="checkbox"
    style="display: none;"
    [attr.id]="'checkbox-toggle-' + dataService.getID(title)"
    [checked]="toggleValue"
    (change)="doToggle($event)"
  />

  <!-- <a
    data-toggle="button"
    href="#"
    class="btn btn-info btn-xs"
    (click)="doToggle()"
    style="height: 19px; margin-top: 0px; vertical-align: top;"
  >
    <span [class]="'glyphicon ' + glyphiconClass"></span>

    <span class="hidden-xs hidden-sm hidden-md" [hidden]="isNarrow">
      <small> {{ title }} </small></span
    >
  </a> -->
</div>

<!--
    [class.active] = "toggleValue"
    <label
      style="
        white-space: nowrap;

        overflow: hidden;
        display: inline-block;
        margin-bottom: 0px;
        font-weight: normal;
      "
    >
</label> -->
