<div
  class="form-group input-group-sm nobottom app-input"
  [hidden]="hideByFilter()"
  style="margin-right: 1px;"
>
  <div style="margin-bottom: 5px;">
    <label class="nobottom text-primary-bold label-buttons-2">{{
      title
    }}</label>

    <app-buttons-input-select
      [title]="title"
      [isDoInput]="isDoInput"
      [showAdd]="false"
      [showEdit]="false"
      [showDelete]="false"
      [showFlash]="showFlash"
      [showPaperclip]="showPaperclip"
      [showCD]="showCD"
      [showCheck]="showCheck"
      [showFilter]="false"
      [showCancel]="false"
      [showSave]="false"
      [showCheck]="showCheck"
      [countItems]="countItems()"
      (onAdd)="showNew()"
      (onFile)="doFile()"
      (onRecord)="doRecord()"
      (onTask)="doTask()"
      (onFilter)="doFilter($event)"
      (onShowingFilter)="showingFilter($event)"
    ></app-buttons-input-select>
  </div>
  <br [hidden]="!isShowingFilter" />
  <div [hidden]="isDoInput">
    <!--render for larger screens: buttons on the side -->
    <div>
      <app-input-dropdown [title] = title
        [values] = "values"
        [key] = "value"
        (onChange) = "doChange($event)"
        [showDelete] = "showDelete"
        [showEdit] = "showEdit"
        [showAdd] = "showAdd"
        (onDelete) = "doDelete()"
        (onEdit) = "doEdit()"
        (onAdd) = "doAdd()"
      ></app-input-dropdown>
      <!-- <div class="input-group" style="width: 100%;">
        <select
          class="form-control input-sm collapse in"
          style="font-size: small;"
          (change)="doChange($event)"
          style="padding-left: 6px; padding-right: 6px;"
          (focus)="onScrollData($event)"
        >
        <option value="-1" [selected]="this.value<0">Please select</option>
        <ng-container *ngFor="let e of values | keyvalue">
          <option
            *ngIf="(isLoadAll || getDoLoad(e.key))"
            
            [value]="e.key"
            [selected] = "e.key == value"
            [hidden]="hideItem(e.value)"
            
            ><small>{{e.value.name}}</small></option
          >
          </ng-container>
        </select>
        <span
          *ngIf="showDelete && !disabled"
          class="input-group-addon btn primary-color-reverse hidden-xs"
          [class.disabled] = "this.value < 0"
          style="border-right: none;"
          (click)="doDelete()"
          [title]="'Delete the ' + title"
        >
          <mat-icon aria-hidden="true" aria-label="Entities">clear</mat-icon>
        </span>
        <span
          *ngIf="showEdit && !disabled"
          [class.disabled] = "this.value < 0"
          class="input-group-addon btn primary-color-reverse hidden-xs"
          (click)="doEdit()"
          [title]="'Edit the ' + title"
        >
          <mat-icon aria-hidden="true" aria-label="Entities">edit</mat-icon>
        </span>
        <span
          *ngIf="showAdd && !disabled"
          class="input-group-addon btn primary-color-reverse hidden-xs"
          (click)="doAdd()"
          [title]="'Add an ' + title"
        >
          <mat-icon aria-hidden="true" aria-label="Entities">add</mat-icon>
        </span>
      </div> -->
    </div>
    <!--render buttons for smaller screens-->
    <div class="hidden-sm hidden-md hidden-lg">
      <div style="width: 100%;">
        <span
          *ngIf="showDelete && !disabled"
          [class.disabled] = "this.value < 0"
          class="input-group-addon btn primary-color-reverse"
          style="border-right: none;"
          (click)="doDelete()"
          [title]="'Delete the ' + title"
        >
          <mat-icon aria-hidden="true" aria-label="Entities">clear</mat-icon>
        </span>
        <span
          *ngIf="showEdit && !disabled"
          [attr.disabled] = "this.value < 0"
          class="input-group-addon btn primary-color-reverse"
          (click)="doEdit()"
          [title]="'Edit the ' + title"
        >
          <mat-icon aria-hidden="true" aria-label="Entities">edit</mat-icon>
        </span>
        <span
          *ngIf="showAdd && !disabled"
          class="input-group-addon btn primary-color-reverse"
          (click)="doAdd()"
          [title]="'Add an ' + title"
        >
          <mat-icon aria-hidden="true" aria-label="Entities">add</mat-icon>
        </span>
      </div>
    </div>
  </div>

  <app-input-select-text
    [isDoInput]="isDoInput"
    [showSave]="true"
    [showCancel]="true"
    [text]="entity.name"
    (onChange)="doChangeInputText($event)"
    (onSave)="doSave()"
    (onCancel)="doCancel()"
  ></app-input-select-text>
</div>
