<div
  class="form-group input-group-sm nobottom"
  [hidden]="hideByFilter()"
  style="margin-top: 5px; margin-right: 1px;"
>
  <div>
    <label class="nobottom text-primary-bold label-buttons-4">{{
      title
    }}</label>

    <app-buttons-input-select
      [title]="title"
      [isDoInput]="isDoInput"
      [showAdd]="false"
      [showEdit]="false"
      [showDelete]="false"
      [showFlash]="showFlash"
      [showPaperclip]="showPaperclip"
      [showCD]="showCD"
      [showCheck]="showCheck"
      [showFilter]="true"
      [showCancel]="false"
      [showSave]="false"
      [showCheck]="showCheck"
      [countItems]="countItems()"
      (onAdd)="showNew()"
      (onFile)="doFile()"
      (onRecord)="doRecord()"
      (onTask)="doTask()"
      (onFilter)="doFilter($event)"
      (onShowingFilter)="showingFilter($event)"
    ></app-buttons-input-select>
  </div>
  <br [hidden]="!isShowingFilter" />
  <div [hidden]="isDoInput">
    <!--render for larger screens: buttons on the side -->
    <div class="hidden-xs">
      <div class="input-group" style="width: 100%;">
        <select
          class="form-control input-sm selectpicker"
          data-live-search="true"
          style="font-size: small;border-radius: 3px;padding-left: 6px; padding-right: 6px;"
          name="option"
          [(ngModel)]="value"
          (change)="doChange($event)"
          [disabled]="disabled"
        >
          <option
            *ngFor="let e of values | keyvalue"
            [value]="e.key"
            [selected]="e.key == value"
            [hidden]="hideItem(e.value)"
            ><small>{{ e.value.name }}</small></option
          >
        </select>
        <span
          *ngIf="showDelete && !disabled"
          class="input-group-addon btn primary-color-reverse"
          style="border-right: none;"
          (click)="doDelete()"
          [title]="'Delete the ' + title"
        >
          <span class="glyphicon glyphicon-minus"></span>
        </span>
        <span
          *ngIf="showEdit && !disabled"
          class="input-group-addon btn primary-color-reverse"
          (click)="doEdit()"
          [title]="'Edit the ' + title"
        >
          <span class="glyphicon glyphicon-pencil"></span>
        </span>
        <span
          *ngIf="showAdd && !disabled"
          class="input-group-addon btn primary-color-reverse"
          (click)="doAdd()"
          [title]="'Add an ' + title"
        >
          <span class="glyphicon glyphicon-plus"></span>
        </span>
      </div>
    </div>
    <!--render for smaller screens-->
    <div class="hidden-sm hidden-md hidden-lg">
      <div style="width: 100%;">
        <select
          class="form-control input-sm collapse in"
          style="font-size: small; margin-left: 0px;border-radius: 3px;"
          name="option"
          (change)="doChange($event)"
          [attr.id]="'#select-Item'"
          autocomplete="nope"
          [disabled]="disabled"
        >
          <option
            *ngFor="let e of values | keyvalue"
            [value]="e.key"
            [selected]="e.key == value"
            [hidden]="hideItem(e.value)"
            class="input-sm"
            ><small>{{ e.value.name }}</small></option
          >
        </select>
        <span
          *ngIf="showDelete && !disabled"
          class="input-group-addon btn primary-color-reverse"
          style="border-right: none;"
          (click)="doDelete()"
          [title]="'Delete the ' + title"
        >
          <span class="glyphicon glyphicon-minus"></span>
        </span>
        <span
          *ngIf="showEdit && !disabled"
          class="input-group-addon btn primary-color-reverse"
          (click)="doEdit()"
          [title]="'Edit the ' + title"
        >
          <span class="glyphicon glyphicon-pencil"></span>
        </span>
        <span
          *ngIf="showAdd && !disabled"
          class="input-group-addon btn primary-color-reverse"
          (click)="doAdd()"
          [title]="'Add an ' + title"
        >
          <span class="glyphicon glyphicon-plus"></span>
        </span>
      </div>
    </div>
  </div>

  <!-- <div class="panel panel-primary no-gutter nobottom" [hidden]="!isDoInput">
    <div class="panel panel-body mt3 nobottom">
      <app-buttons-cancel-save
        [glyphOnly]="true"
        (onSave)="doSave()"
        (onCancel)="doCancel()"
      ></app-buttons-cancel-save>
      <div class="input-group-sm">
        <label class="nobottom text-primary-bold">Surname</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          #inputText
          [(ngModel)]="entity.name"
          autocomplete="nope"
          (keyup)="doKeyUp($event)"
        />
      </div>
    </div>
  </div> -->

  <app-input-select-text
    [isDoInput]="isDoInput"
    [showSave]="true"
    [showCancel]="true"
    [text]="entity.name"
    (onChange)="doChangeInputText($event)"
    (onSave)="doSave()"
    (onCancel)="doCancel()"
  ></app-input-select-text>
</div>
