<!-- <div
  class="btn-group wide input-group-sm"
  data-toggle="buttons"
  style="margin-left: 1px; margin-right: 1px; margin-bottom: 1px;"
>
   <label
    class="btn"
    (click)="rdoMenu = 'Legal Entities'"
    [class.primary-color-active]="rdoMenu == 'Legal Entities'"
    [class.primary-color]="rdoMenu != 'Legal Entities'"
  >
    <input
      type="radio"
      name="rdoChoice"
      [checked]="rdoMenu == 'Legal Entities'"
      class="input-sm"
      [class.active]="rdoMenu == 'Legal Entities'"
    /><small>
      <span class="glyphicon glyphicon-home"></span>
      <span class="hidden-xs hidden-sm">&nbsp; Entities</span></small
    >
  </label>

  <label
    class="btn primary-color"
    (click)="rdoMenu = 'Natural Entities'"
    [class.primary-color-active]="rdoMenu == 'Natural Entities'"
    [class.primary-color]="rdoMenu != 'Natural Entities'"
  >
    <input
      type="radio"
      name="rdoChoice"
      value="Active"
      [checked]="rdoMenu == 'Natural Entities'"
      class="input-sm"
    />
    <small>
      <span class="glyphicon glyphicon-user"></span>
      <span class="hidden-xs hidden-sm">&nbsp; People</span></small
    >
  </label>

  <label
    class="btn"
    [class.primary-color-active]="rdoMenu == 'Reports'"
    [class.primary-color]="rdoMenu != 'Reports'"
    (click)="rdoMenu = 'Reports'"
  >
    <input
      type="radio"
      name="rdoChoice"
      value="All"
      [checked]="rdoMenu == 'Reports'"
    />
    <small>
      <span class="glyphicon glyphicon-print"></span>
      <span class="hidden-xs hidden-sm">&nbsp; Reports</span></small
    >
  </label> 

  <label
    class="btn"
    [class.primary-color-active]="rdoMenu == 'Admin'"
    [class.primary-color]="rdoMenu != 'Admin'"
    (click)="rdoMenu = 'Admin'"
  >
    <input
      type="radio"
      name="rdoChoice"
      value="All"
      [checked]="rdoMenu == 'Admin'"
    />
    <small>
      <span class="glyphicon glyphicon-cog"></span>
      <span class="hidden-xs hidden-sm">&nbsp; Admin</span>&nbsp;</small
    >

    <span class="caret"></span>
  </label>
  <div [hidden]="isLogedIn">
    <a href="#" class="btn primary-color" (click)="login()">
      <small>
        <span class="glyphicon glyphicon-log-in"></span>
        <span class="hidden-xs hidden-sm">&nbsp; Log in</span>&nbsp;</small
      >
    </a>
  </div>
  <div [hidden]="!isLogedIn">
    <a href="#" class="btn primary-color" (click)="logout()">
      <small>
        <span class="glyphicon glyphicon-log-out"></span>
        <span class="hidden-xs hidden-sm">&nbsp; Log Out</span>&nbsp;</small
      >
    </a>
  </div>
</div> -->



<!-- <button
  id="button11"
  type="button"
  data-role="ejmbutton"
  data-ej-contenttype="image"
  class="glyphter"
  data-ej-imageclass="glyphter icon-test"
></button> -->

<!-- <svg class="icon">
  <use xlink:href="../assets/svg/Icon_Africa continent_SVG_Black.svg"/>
</svg>

<button>
  <svg class="icon">
    <use xlink:href="../assets/svg/Icon_Africa continent_SVG_Black.svg"/>
  </svg>
</button> -->
<!-- <a
  href="#"
  class="btn btn-info"
  style="background-position: center; background-image: url('../assets/svg/Icon_Flag2_SVG_Black.svg'); 
  background-repeat: no-repeat; height: 19px;width: 22px; color:white"
  ></a
> -->

<!-- <button id="search-button">
  <svg id="search-icon" class="search-icon" viewBox="0 0 24 24">
      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
  </svg>
</button> -->

<!-- <app-test-material></app-test-material> -->
<app-entities-container></app-entities-container>
