<div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-xs-3 col-lg-2">
        <div class="panel panel-primary no-gutter nobottom">
          <div class="panel-heading mt3">
            <span class="glyphicon glyphicon-home"></span> Entities
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Refresh"
              >
                <span class="glyphicon glyphicon-refresh"></span>
              </a>

              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideTasks()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideTasks ? 'Show' : 'Hide') + ' Tasks panel'"
              >
                <span class="glyphicon glyphicon-flash"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(hideHistory ? 'Show' : 'Hide') + ' Records panel'"
              >
                <span class="glyphicon glyphicon-cd"></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3 panel-body-full"
            [class.panel-body-half]="panelRows == 2"
          >
            <app-entities [panelRows]="panelRows"></app-entities>
          </div>
          <div class="panel-footer mt3">
            Last refresh: 14:31
          </div>
        </div>
        <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideTasks"
        >
          <div class="panel-heading mt3">
            Tasks <span class="glyphicon glyphicon-flash"></span>
            <div class="btn-group pull-right">
              <a href="#" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-refresh"></span>
              </a>
              <a href="#" class="btn btn-info btn-xs" (click)="showHideTasks()">
                <span class="glyphicon glyphicon-flash"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
              >
                <span class="glyphicon glyphicon-cd"></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3 panel-body-full"
            [class.panel-body-half]="panelRows == 2"
          >
            <app-tasks [panelRows]="panelRows"></app-tasks>
          </div>
          <div class="panel-footer mt3">
            Last refresh: 14:32
          </div>
        </div>

        <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideHistory"
        >
          <div class="panel-heading mt3">
            Records <span class="glyphicon glyphicon-cd"></span>
            <div class="btn-group pull-right">
              <a href="#" class="btn btn-info btn-xs">
                <span class="glyphicon glyphicon-refresh"></span>
              </a>
              <a href="#" class="btn btn-info btn-xs" (click)="showHideTasks()">
                <span class="glyphicon glyphicon-flash"></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showHideHistory()"
              >
                <span class="glyphicon glyphicon-cd"></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3 panel-body-full"
            [class.panel-body-half]="panelRows == 2"
          >
            <app-records [panelRows]="panelRows"></app-records>
          </div>
          <div class="panel-footer mt3">
            Last refresh: 14:32
          </div>
        </div>
      </div>
      <div
        [class.col-xs-6]="showPosts"
        [class.col-xs-9]="!showPosts"
        [class.col-lg-7]="showPosts"
        [class.col-lg-10]="!showPosts"
      >
        <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="(expandTaskDetail || expandHistoryDetail) && (!hideTasks || !hideHistory)"
        >
          <div class="panel-heading mt3">
            Entity Details
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showPosts = !showPosts"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(showPosts ? 'Hide' : 'Show') + ' Posts panel'"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-right]="showPosts"
                  [class.glyphicon-menu-left]="!showPosts"
                ></span>
              </a>
            </div>
            <div class="btn-group pull-right">
              <a href="#" class="btn btn-info btn-xs"
                ><span class="glyphicon glyphicon-remove"></span> Cancel
              </a>
              <a href="#" class="btn btn-info btn-xs"
                ><span class="glyphicon glyphicon-cloud-upload"></span> Save</a
              >
            </div>
          </div>
          <div
            class="panel-body mt3 panel-body-full"
            [class.panel-body-half]="panelRows == 2"
            style="overflow-x: hidden;"
          >
            <app-entity-details [panelRows]="panelRows"></app-entity-details>
          </div>
          <div class="panel-footer mt3">1 detail is not complete</div>
        </div>
        <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideTasks"
        >
          <div class="panel-heading mt3">
            Task Details
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="expandTaskDetail = !expandTaskDetail"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="
                  (expandTaskDetail ? 'Shrink' : 'Expand') + ' Detail panel'
                "
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-down]="expandTaskDetail"
                  [class.glyphicon-menu-up]="!expandTaskDetail"
                ></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showPosts = !showPosts"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(showPosts ? 'Hide' : 'Show') + ' Posts panel'"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-right]="showPosts"
                  [class.glyphicon-menu-left]="!showPosts"
                ></span>
              </a>
            </div>

            <div class="btn-group pull-right">
              <a href="#" class="btn btn-info btn-xs"
                ><span class="glyphicon glyphicon-remove"></span> Cancel</a
              >
              <a href="#" class="btn btn-info btn-xs"
                ><span class="glyphicon glyphicon-cloud-upload"></span> Save</a
              >
            </div>

            <div class="form-group nobottom pull-right">
              <label class="checkbox-inline" style="padding-right: 8px;"
                ><input type="checkbox" value="" /><strong>Done</strong></label
              >
            </div>
          </div>
          <div
            class="panel-body mt3 panel-body-full"
            [class.panel-body-half]="panelRows == 2 && !expandTaskDetail"
            [class.panel-body-full]="panelRows == 2 && expandTaskDetail"
            style="overflow-y: auto; overflow-x: hidden;"
          >
            <app-task-details [panelRows]="panelRows"></app-task-details>
          </div>
          <div class="panel-footer mt3">2 details are not complete</div>
        </div>

        <div
          class="panel panel-primary no-gutter nobottom"
          [hidden]="hideHistory"
        >
          <div class="panel-heading mt3">
            Record Details
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="expandHistoryDetail = !expandHistoryDetail"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="
                  (expandHistoryDetail ? 'Shrink' : 'Expand') + ' Detail panel'
                "
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-down]="expandHistoryDetail"
                  [class.glyphicon-menu-up]="!expandHistoryDetail"
                ></span>
              </a>
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showPosts = !showPosts"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(showPosts ? 'Hide' : 'Show') + ' Posts panel'"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-right]="showPosts"
                  [class.glyphicon-menu-left]="!showPosts"
                ></span>
              </a>
            </div>
          </div>
          <div
            class="panel-body mt3 panel-body-full"
            [class.panel-body-half]="panelRows == 2 && !expandHistoryDetail"
            [class.panel-body-full]="panelRows == 2 && expandHistoryDetail"
            style="overflow-y: auto; overflow-x: hidden;"
          >
            <app-record-details [panelRows]="panelRows"></app-record-details>
          </div>
          <div class="panel-footer mt3">2 details are not complete</div>
        </div>
      </div>
      <div class="col-lg-3" [class.col-xs-3]="showPosts" [hidden]="!showPosts">
        <div class="panel panel-primary no-gutter nobottom">
          <div class="panel-heading mt3">
            Posts <span class="glyphicon glyphicon-comment"></span>
            <div class="btn-group pull-right">
              <a
                href="#"
                class="btn btn-info btn-xs"
                (click)="showPosts = !showPosts"
                data-toggle="tooltip"
                data-placement="bottom"
                [title]="(showPosts ? 'Hide' : 'Show') + ' Posts panel'"
              >
                <span
                  class="glyphicon"
                  [class.glyphicon-menu-right]="showPosts"
                  [class.glyphicon-menu-left]="!showPosts"
                ></span>
              </a>
            </div>
          </div>
          <div class="panel-body mt3 panel-body-full">
            <app-entity-messages></app-entity-messages>
          </div>
          <div class="panel-footer mt3">Last post: 3 days ago</div>
        </div>
      </div>
    </div>
  </div>
</div>
