<hr class="primary-color" style='height: 1px;margin:0px'>
<div class="h4 text-primary" style="margin-top: 5px;"><u>Secondary Details: Company</u></div>
<app-input-duo
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'text'"
      [titleLeft]="'Income Tax Number of the entity'"
      [valueLeft]=""
      [typeRight]="'text'"
      [titleRight]="'Value Added Tax (VAT) Number'"
      [placeholderRight] = "'VAT Number of the enity'"
      [valuesRight]="[]"
      [valueRight]="''"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft] = "true"
        [showCheckRight] = "true"
    ></app-input-duo>

    <app-input-duo
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'select-entity'"
      [titleLeft]="'Business Area'"
      [valuesLeft]="dataService.getBusinessAreas()"
      [valueLeft]="0"
      [typeRight]="'select-entity'"
      [titleRight]="'Business Division'"
      [valuesRight]="dataService.getBusinessDivisions()"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft] = "true"
        [showCheckRight] = "true"
    ></app-input-duo>

    <app-input-duo
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'select-entity'"
      [titleLeft]="'Legal Classification'"
      [valuesLeft]="dataService.getLegalClasses()"
      [valueLeft]="0"
      [typeRight]="'checkbox'"
      [titleRight]="'Consolidated'"
      [valuesRight]="[]"
      [valueRight]="true"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft] = "true"
        [showCheckRight] = "true"
    ></app-input-duo>

    <app-input-duo
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'select-entity'"
      [titleLeft]="'Entity Status'"
      [valuesLeft]="dataService.getEntityStatuses()"
      [valueLeft]="0"
      [typeRight]="'select-entity'"
      [titleRight]="'Entity Status Tiering'"
      [valuesRight]="dataService.getEntityStatusTiers()"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft] = "true"
        [showCheckRight] = "true"
    ></app-input-duo>

    <app-input-duo
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'select-entity'"
      [titleLeft]="'Accounting Classification'"
      [valuesLeft]="dataService.getAccountingClasses()"
      [valueLeft]="0"
      [typeRight]="'select-entity'"
      [titleRight]="'Accounting Classification Tiering'"
      [valuesRight]="dataService.getAccountingTier()"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft] = "true"
        [showCheckRight] = "true"
    ></app-input-duo>

    <app-input-duo
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'select-entity'"
      [titleLeft]="'Direct Parent'"
      [valuesLeft]="dataService.getCompanies()"
      [valueLeft]="0"
      [typeRight]="'text'"
      [titleRight]="'Absa Shareholding in Entity (%)'"
      [valueRight]="'0.00%'"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft] = "true"
        [showCheckRight] = "true"
    ></app-input-duo>

    <hr style="height: 1px; margin: 0px;" />
    
