<form class="form">
  <div style="margin-top: 5px;"></div>

  <app-step [stepNumber]="0" [noHeader]="true" [hideBody]="false"></app-step>

  <app-step [stepNumber]="1"></app-step>

  <app-step [stepNumber]="2"></app-step>

  <app-step [stepNumber]="3"></app-step>

  <app-step [stepNumber]="4"></app-step>

  <div class="btn-group pull-right">
    <a href="#" class="btn btn-primary primary-color btn-xs"
      ><span
        class="glyphicon"
        [class.glyphicon-plus]="true"
      ></span
    ></a>
  </div>
</form>

<div class="panel">
  <div></div>
</div>
