<div class="panel panel-info" style="margin-bottom:10px;">
  <div class="panel panel-heading nobottom less-padding" 
  [hidden]="noHeader">
    <a href="#" data-toggle="collapse" 
    [attr.data-target]="'#step-' + stepNumber">
      Step {{ stepNumber }}
    </a>
    <div class="btn-group pull-right">
      <a
        href="#"
        class="btn btn-primary primary-color btn-xs"
        *ngIf="stepNumber != 1"
      >
        <span
          class="glyphicon"
          [class.glyphicon-cloud-upload]="false"
          [class.glyphicon-arrow-up]="true"
        ></span>
      </a>
      <a
        href="#"
        class="btn btn-primary primary-color btn-xs"
        *ngIf="stepNumber != 4"
      >
        <span
          class="glyphicon"
          [class.glyphicon-cloud-remove]="false"
          [class.glyphicon-arrow-down]="true"
        ></span>
      </a>
      <a href="#" class="btn btn-primary primary-color btn-xs"
        ><span class="glyphicon" [class.glyphicon-remove]="true"></span
      ></a>
    </div>
    <div class="form-group pull-right nobottom">
      <label class="checkbox-inline" style="padding-right: 8px;"
        ><input type="checkbox" value="" /><strong>Done</strong></label
      >
    </div>
  </div>

  <div class="panel panel-body nobottom less-padding collapse"
    [class.in] = "!hideBody"
    id="{{ 'step-' + stepNumber }}"
    >
    <app-input-select-duo
      [titleLeft]="'Task Type'"
      [optionsLeft]="['Appointment', 'Resignation', 'Rename', 'General']"
      [selectedValueLeft]="'Appointment'"
      [titleRight]="'Assigned to'"
      [optionsRight]="['-General-', 'vlad', 'dean', 'sasha', 'ulrich']"
      [selectedValueRight]="'-General-'"
    ></app-input-select-duo>

    <app-input-textarea></app-input-textarea>

    <app-input-date-duo
      [titleLeft]="'Creation Date'"
      [titleRight]="'Done Date'"
    ></app-input-date-duo>
    <app-input-date-duo
      [titleLeft]="'Check Progress Date'"
      [titleRight]="'Due Date'"
    ></app-input-date-duo>
  </div>
</div>
