.mat-icon {
  vertical-align: middle;
  font-size: 15px;
  width: 15px;
  height: 15px; 
}

.input-group-addon{
  padding-top:3px;
  padding-bottom:3px;
  padding-left:9px;
  padding-right:9px;
  height: 16px;
  width: 16px;
}
.input-group{
  width:100%;
}

.form-control{
  height:28px;
}

  /* input[type="text"] {
    padding-bottom: 4px;
    padding-top: 4px;
    width:100%;
  } */

  
  