<div
  class="input-group input-group-sm"
  style="width: 100%; vertical-align: middle;"
>
  <!-- [style.border-bottom] = "(showDelete || showEdit || showAdd)?'1px solid':'none'" -->
  <a
    href="#"
    [attr.id]="'dropdown-button-' + id"
    class="btn btn-sm primary-color"
    style="width: 100%; text-align: left;"
    [style.border] = "(showDelete || showEdit || showAdd)?'1px solid':'none'"
    (click)="doModal($event)"
    data-toggle="modal"
    [attr.data-target]="'#dropdown-' + id"
    ><span class="caret" style="margin-right:5px"></span>{{value}}
    <!-- <div class="pull-right"><span class="caret"></span></div> -->
  </a>
  <span
    *ngIf="showDelete && !disabled"
    class="input-group-addon btn primary-color-reverse hidden-xs"
    [class.disabled]="this.key < 0"
    style="border-right: none;"
    (click)="onDelete.emit()"
    [title]="'Delete the ' + title"
  >
    <mat-icon aria-hidden="true" aria-label="Entities">clear</mat-icon>
  </span>
  <span
    *ngIf="showEdit && !disabled"
    [class.disabled]="this.key < 0"
    class="input-group-addon btn primary-color-reverse hidden-xs"
    (click)="onEdit.emit()"
    [title]="'Edit the ' + title"
  >
    <mat-icon aria-hidden="true" aria-label="Entities">edit</mat-icon>
  </span>
  <span
    *ngIf="showAdd && !disabled"
    class="input-group-addon btn primary-color-reverse hidden-xs"
    (click)="onAdd.emit()"
    [title]="'Add an ' + title"
  >
    <mat-icon aria-hidden="true" aria-label="Entities">add</mat-icon>
  </span>
</div>

<!-- Modal -->

<div [attr.id]="'dropdown-' + id" class="modal" role="dialog">
  <div
    [attr.id]="'dropdown-dialog-' + id"
    class="modal-dialog modal-sm"
    style="position: fixed; margin: 0px; width: 100%;"
    [style.left]="thisX + 'px'"
    [style.top]="thisY + 'px'"
  >
    <!-- Modal content-->
    <div class="modal-content" style="display: inline-block; width: 100%;">
      <!-- <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div> -->
      <div class="modal-body">
        <div [hidden]="values.size < 6" style="width:100%">
          <div
            class="input-group input-group-sm"
            style="margin-bottom: 2px; margin-top: 2px;width:100%"
          >
            <input
              type="text"
              class="form-control input-sm primary-color"
              [placeholder]="'Search '"
              style="font-weight: normal; width: 100%; z-index: 999;"
              autocomplete="nope"
              [title]="'Type text to filter items'"
              [(ngModel)]="filterText"
              tabindex="0"
              #inputFilter
              (keyup)="doKeyUp($event)"
            />
            <span
              *ngIf="filterText != ''"
              class="input-group-addon btn primary-color btn-hover"
              style="border-left: none;"
              (click)="filterText = ''"
              [class.btn-blocked]="false"
            >
              <mat-icon
                class="mat-icon-big"
                aria-hidden="true"
                aria-label="Entities"
                >clear</mat-icon
              >
            </span>
            <span
              class="input-group-addon primary-color hidden-xs"
              title="Number of items"
              style="border-left: none; pointer-events: none;"
              [title]="'Showing ' + 0 + ' items'"
            >
              {{ values.countInFilter }}
            </span>
          </div>
        </div>
        <div style="max-height: 141px; overflow-y: scroll; overflow-x: hidden;">
          <div
            *ngIf="showNoSelection"
            (click)="selectMe(-1)"
            style="
              cursor: pointer;
              font-size: small;
              margin-left: 5px;
              margin-bottom: 2px;
            "
          >
            <!-- <a href="#" (click)="selectMe(-1)" routerLink="." fragment="-1"
            ><span class="text-plain" [class.text-bright]="key == -1"> Please select</span>
          </a> -->
            <a
              data-dismiss="modal"
              href="#"
              class="btn btn-sm primary-color"
              style="width: 100%; text-align: left; border: none;"
              (click)="selectMe(-1)"
              ><span class="text-plain" [class.text-bright]="key == -1">
                Please select</span
              >
            </a>
          </div>
          <ng-container *ngFor="let e of values | keyvalue">
            <div
              [hidden]="!values.inFilter(e.key, viewAll)"
              (click)="selectMe(e.key)"
              style="cursor: pointer; font-size: small; margin-bottom: 2px;"
            >
              <a
                data-dismiss="modal"
                href="#"
                class="btn btn-sm primary-color"
                style="width: 100%; text-align: left; border: none;"
                (click)="selectMe(e.key)"
                ><span
                  [class.text-plain]="e.key != key"
                  [class.text-bright]="e.key == key"
                >
                  {{ e.value.name }}</span
                >
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
    </div>
  </div>
</div>
