<div
  class="form-group input-group-sm nobottom"
  [hidden]="hideByFilter()"
  style="margin-top: 5px; margin-right: 1px;"
>
  <div>
    <label class="nobottom text-primary-bold label-buttons-6">{{ title }}</label>

    <app-buttons-input-select
      [title]="title"
      [isDoInput]="isDoInput"
      [showAdd]="false"
      [showEdit]="false"
      [showDelete]="false"
      [showFlash]="showFlash"
      [showPaperclip]="showPaperclip"
      [showCD]="showCD"
      [showCheck] = "showCheck"
      [showFilter]="true"
      [showCancel]="false"
      [showSave]="false"
      [countItems]="countItems()"
      (onAdd)="showNew()"
      (onFile)="doFile()"
      (onRecord)="doRecord()"
      (onTask)="doTask()"
      (onFilter)="doFilter($event)"
      (onShowingFilter)="showingFilter($event)"
    ></app-buttons-input-select>
  </div>
  <br [hidden]="!isShowingFilter" />
  <div [hidden]="isDoInput">
    <div class="hidden-xs">
      <div class="input-group">
        <select
          class="form-control input-sm collapse in"
          style="font-size: small;"
          name="option"
          (change)="doChange($event)"
          style="padding-left: 6px; padding-right: 6px;"
          [attr.id]="'#select-Item'"
        >
          <option
            *ngFor="let e of values | keyvalue"
            [value]="e.key"
            [selected]="e.key == value"
            [hidden]="hideItem(e.value)"
            ><small>{{ e.value.fullName}}</small></option
          >
        </select>
        <span
          [hidden]="!showDelete"
          class="input-group-addon btn primary-color-reverse"
          style = "border-right:none"
          (click)="doDelete()"
          [title]="'Delete the ' + title"
        >
          <span class="glyphicon glyphicon-minus"></span>
        </span>
        <span
          [hidden]="!showEdit"
          class="input-group-addon btn primary-color-reverse"
          (click)="doEdit()"
          [title]="'Edit the ' + title"
        >
          <span class="glyphicon glyphicon-pencil"></span>
        </span>
        <span
          [hidden]="!showAdd"
          class="input-group-addon btn primary-color-reverse"
          (click)="doAdd()"
          [title]="'Add an ' + title"
        >
          <span class="glyphicon glyphicon-plus"></span>
        </span>
      </div>
    </div>
    <div class="hidden-sm hidden-md hidden-lg">
      <div >
        <select
          class="form-control input-sm collapse in"
          style="font-size: small;"
          name="option"
          (change)="doChange($event)"
          style="padding-left: 6px; padding-right: 6px;"
          [attr.id]="'#select-Item'"
        >
          <option
            *ngFor="let e of values | keyvalue"
            [value]="e.key"
            [selected]="e.key == value"
            [hidden]="hideItem(e.value)"
            ><small>{{ e.value.fullName}}</small></option
          >
        </select>
        <span
          [hidden]="!showDelete"
          class="input-group-addon btn primary-color-reverse"
          style = "border-right:none"
          (click)="doDelete()"
          [title]="'Delete the ' + title"
        >
          <span class="glyphicon glyphicon-minus"></span>
        </span>
        <span
          [hidden]="!showEdit"
          class="input-group-addon btn primary-color-reverse"
          (click)="doEdit()"
          [title]="'Edit the 0' + title"
        >
          <span class="glyphicon glyphicon-pencil"></span>
        </span>
        <span
          [hidden]="!showAdd"
          class="input-group-addon btn primary-color-reverse"
          (click)="doAdd()"
          [title]="'Add an ' + title"
        >
          <span class="glyphicon glyphicon-plus"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="panel panel-primary no-gutter nobottom" [hidden]="!isDoInput">
    <div class="panel panel-body mt3 nobottom">
      <app-buttons-cancel-save
        [glyphOnly]="true"
        (onSave)="doSave()"
        (onCancel)="doCancel()"
      ></app-buttons-cancel-save>
      <div class="input-group-sm">
        <label class="nobottom text-primary-bold">Surname</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          #inputText
          [(ngModel)]="person.surname"
          autocomplete="nope"
          (keyup)="doKeyUp($event)"
        />
        <label class="nobottom text-primary-bold">First Name</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          [(ngModel)]="person.firstName"
          autocomplete="nope"
          (keyup)="doKeyUp($event)"
        />
        <label class="nobottom text-primary-bold">Optional Suffix</label>
        <input
          type="text"
          class="form-control"
          placeholder="Optional suffix to differenciate same names"
          [(ngModel)]="person.suffix"
          autocomplete="nope"
          (keyup)="doKeyUp($event)"
        />
      </div>
    </div>
  </div>
</div>
