<app-input-panel
  [title]="stepNumber + '.' + taskFlow.name"
  [collapsed]="!taskFlow.isCurrent"
  [panelDanger]="taskFlow.isCurrent"
  [panelSuccess]="taskFlow.isDone"
>
  {{ taskFlow.description }}
  <app-input-date
    [title]="'Date of the reminder'"
    [value]="taskFlow.reminderDate"
    [inline]="true"
  ></app-input-date>

  <app-input-textarea
    [title]="'Reminder message'"
    [value]= "'Please follow up with CIPC regarding application #'  + taskFlow.referenceCode + '. Call: 012-394-9573'" 
  >
  </app-input-textarea>
</app-input-panel>
