<app-input-panel
  [title]="taskFlow.name"
  [collapsed]="!taskFlow.isCurrent"
  [panelDanger]="taskFlow.isCurrent"
  [panelSuccess]="taskFlow.isDone"
  [showSaveNext] = "true"
  (onSaveNext) = "doSaveNext()"
  [showSavePrev] = "showSavePrev"
  (onSavePrev) = "doSavePrev()"
>
  {{ taskFlow.description }}
  <app-input-date
    [title]="'Date of the reminder'"
    [value]="taskFlow.reminderDate"
    [inline]="true"
  ></app-input-date>

  <app-input-textarea
    [title]="'Reminder message'"
    [text]="'Please follow up with CIPC regarding application #12345'"
  >
  </app-input-textarea>
</app-input-panel>
