<app-input-panel [title]="'first step'">
  Hello World
  <br>
      
      Bey world
</app-input-panel>

<div class="panel panel-primary no-gutter nobottom" style="margin-top: 5px;">
  <div
    class="panel-heading mt3"
    style="vertical-align: middle; cursor: pointer;"
    data-target="#step-1"
    data-toggle="collapse"
  >
    Step 1: Hello
  </div>
  <div class="panel-body mt3 collapse" style="margin-bottom: 0px;" id="step-1">
    <div class="entities-tasks">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>

<div class="panel panel-primary no-gutter nobottom" style="margin-top: 5px;">
  <div
    class="panel-heading mt3"
    style="vertical-align: middle; cursor: pointer;"
    data-target="#step-2"
    data-toggle="collapse"
  >
    Step 2: How are you?
  </div>
  <div class="panel-body mt3 collapse" style="margin-bottom: 0px;" id="step-2">
    <div class="entities-tasks">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>

<div class="panel panel-primary no-gutter nobottom" style="margin-top: 5px;">
  <div
    class="panel-heading mt3"
    style="vertical-align: middle; cursor: pointer; "
    data-target="#step-3"
    data-toggle="collapse"
  >
    Step 3: Thank you
  </div>
  <div class="panel-body mt3 collapse" style="margin-bottom: 0px;" id="step-3">
    <div class="entities-tasks">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>
<div class="panel panel-primary no-gutter nobottom" style="margin-top: 5px;">
  <div
    class="panel-heading mt3"
    style="vertical-align: middle; cursor: pointer; "
    data-target="#step-4"
    data-toggle="collapse"
  >
    Step 4: Bye
  </div>
  <div class="panel-body mt3 collapse" style="margin-bottom: 0px;" id="step-4">
    <div class="entities-tasks">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>
<!-- </div> -->

<!-- <div class="container-flex"> -->
<!-- <div class="panel panel-body" style="overflow-y: scroll;">
  <h2>Active Item in a List Group</h2>
  <div class="list-group" style="overflow-y: scroll;">
    <a
      href="#"
      class="list-group-item primary-color"
      (click)="hide1 = !hide1"
      data-target="#step-1"
      data-toggle="collapse"
      >Step 1: Hello</a
    >

    <div id="step-1" class="container collapse">
      <h4>Active Item in a List Group</h4>
      <div class="list-group">
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
        <a href="#" class="list-group-item">First item</a>
        <a href="#" class="list-group-item disabled">Second item</a>
        <a href="#" class="list-group-item">Third item</a>
      </div>
    </div>

    <a href="#" class="list-group-item primary-color disabled">Second item</a>
    <a href="#" class="list-group-item primary-color">Final Step: Good Bye</a>
  </div>
</div> -->

<!-- <mat-vertical-stepper>
  <mat-step label="Step 1" style="padding: 5px;">
    Content 1
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 2">
    Content 2
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 3">
    Content 3
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 4">
    Content 4
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 5">
    Content 5
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 6">
    Content 6
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
</mat-vertical-stepper> -->

<!-- <i class="fas fa-cloud"></i>
<mat-card
  style="margin: 10px; padding: 5px;"
  class="example-card"
>
  <mat-card-title style="background: rgba(0, 0, 0, 0.06); padding: 5px 5px;"
    >Basic Cards
    <mat-icon style="padding: 0px; float: left;">code </mat-icon>
    <mat-icon style="padding: 0px; float: right;">open_in_new </mat-icon>
    <mat-icon style="padding: 0px; float: right;">code</mat-icon>
  </mat-card-title>
  <mat-card-content style="padding: 1em;">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions style="margin:10px">
    <button mat-raised-button>LIKE</button>
    <button mat-raised-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->
