
<mat-vertical-stepper>
  <mat-step label="Step 1" style="padding:5px">
    Content 1
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 2">
    Content 2
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 3">
    Content 3
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 4">
    Content 4
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 5">
    Content 5
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 6">
    Content 6
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
</mat-vertical-stepper>




<!-- <i class="fas fa-cloud"></i>
<mat-card
  style="margin: 10px; padding: 5px;"
  class="example-card"
>
  <mat-card-title style="background: rgba(0, 0, 0, 0.06); padding: 5px 5px;"
    >Basic Cards
    <mat-icon style="padding: 0px; float: left;">code </mat-icon>
    <mat-icon style="padding: 0px; float: right;">open_in_new </mat-icon>
    <mat-icon style="padding: 0px; float: right;">code</mat-icon>
  </mat-card-title>
  <mat-card-content style="padding: 1em;">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions style="margin:10px">
    <button mat-raised-button>LIKE</button>
    <button mat-raised-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->
