
<!-- <div class="text-primary-h 4" style="margin-top: 5px;">
  Primary details: regulation
</div> -->
<app-label-h [title]="'Primary details: regulation'"></app-label-h>
<app-input-duo
  [isNarrow]="isNarrow"
  [typeRight]="'date'"
  [titleRight]="'Effective Date'"

  [typeLeft] = "'select-entity'"
  [titleLeft]="'Regulator'"
  [valuesLeft]="data.getRegulators()"
  [valueLeft]="0"
  [doHideByFilter]="true"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="false"
  [showCheckRight]="false"
>
</app-input-duo>

<div style="padding-bottom: 5px;"> </div>
<hr>