
<div class="text-primary-h4" style="margin-top: 5px;">
  <u>Primary Details: Regulation</u>
</div>

<app-input-duo
  [isNarrow]="isNarrow"
  [typeRight]="'date'"
  [titleRight]="'Effective Date'"

  [typeLeft] = "'select-entity'"
  [titleLeft]="'Regulator'"
  [valuesLeft]="data.getRegulators()"
  [valueLeft]="0"
  [doHideByFilter]="true"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
>
</app-input-duo>

<div style="padding-bottom: 5px;"> </div>
<hr>