<hr class="primary-color" style="height: 1px; margin: 0px;" />
<div class="h4 text-primary" style="margin-top: 5px;">
  <u>Primary Details: Regulation</u>
</div>

<app-input-textarea
  [title]="'Description'"
  [placeholder]="'Purpose, intent, notes...'"
  [showCheck]="false"
></app-input-textarea>

<app-input-duo
  [isNarrow]="isNarrow"
  [typeLeft]="'text'"
  [typeRight]="'date'"
  [titleLeft]="'Suffix'"
  [titleRight]="'Effective Date'"
  [placeholderLeft]="
    'Suffix - used to differenciate entities with the same name'
  "
  [doHideByFilter]="false"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
>
</app-input-duo>

<app-input-duo
  [filterText]="filterText"
  [doHideByFilter]="true"
  [typeLeft]="'checkbox'"
  [titleLeft]="'Active Record'"
  [valueLeft]="true"

  [typeRight] = "'select-entity'"
  [titleRight]="'Regulator'"
  [valuesRight]="dataService.getRegulators()"
  [valueRight]="0"

  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
></app-input-duo>

<hr style="height: 1px; margin: 0px;" />
