<app-input-panel
  [title]="stepNumber + '. ' + 'Form: ' + taskFlow.name"
  [collapsed]="!taskFlow.isCurrent"
  [panelDanger]="taskFlow.isCurrent"
  [panelSuccess]="taskFlow.isDone"
  [showSaveNext] = "true"
  (onSaveNext) = "doSaveNext()"
  [showSavePrev] = "showSavePrev"
  (onSavePrev) = "doSavePrev()"
>
  {{ taskFlow.description }}

  <app-input-any *ngFor="let inp of taskFlow.inputs"
    [type] = "inp.type"
    [value] = 'getInputValue(inp)'
    [title] = 'inp.title'
    [placeholder] = 'inp.title'
    [values] = "getEntities(inp.type,inp.fieldName)"
  ></app-input-any>
</app-input-panel>

