<div class="container-flex">
  <div class="row">
    <div class="col-xs-6">
      <app-input-text
        [filterText]="filterText"
        [doHideByFilter]="doHideByFilter"
        [title]="titleLeft"
        [placeHolder]="placeHolderLeft"
      ></app-input-text>
    </div>
    <div class="col-xs-6" >
        <app-input-text
          [filterText]="filterText"
          [doHideByFilter]="doHideByFilter"
          [title]="titleRight"
          [placeHolder]="placeHolderRight"
        ></app-input-text>
      </div>
  </div>
</div>
