<hr class="text-primary" style="height: 1px; margin: 0px;" />
<div class="h4 text-primary" style="margin-top: 5px;">
  <u>Custom Details: {{title}}</u>
</div>

<app-input-duo
  [typeLeft]="'number'"
  [titleLeft]="'Number of Custom fields'"
  [valueLeft]="1"
  [minValueLeft]="1"
  [maxValueLeft]="1000"
  [incrementLeft]="1"

  (onChangeLeft)="doChangeCount($event)"
  [showCDLeft]="false"
  [showFlashLeft]="false"
  [showPaperclipLeft]="false"
  [showCheckLeft] = "true"
></app-input-duo>

<div *ngFor="let e of elements; let i = index">
  <app-input-custom
    [id]="i + 1"
    [title]="''"
    [filterText]="filterText"
    [doHideByFilter]="true"
    [persons]="persons"
    (onChange)="doChangeCustomType(i, $event)"
    [showCheck] = "true"
  >
  </app-input-custom>
</div>

<hr style="height: 1px; margin: 0px;" />