<div
  class="form-group less-bottom"
  style="margin-top: 5px; margin-bottom: 2px;"
>
  <label
    for="text"
    class="text-primary"
    style="margin-bottom: 2px;"
    [hidden]="noTitle"
    >{{ title }}
  </label>


    <!-- <div *ngIf="!noButtons" class="btn-group pull-right" style="margin-right: 1px;" >
      <a *ngIf="showFlash" href="#" class="btn btn-primary primary-color btn-xs">
        <span class="glyphicon" [class.glyphicon-flash]="true"></span>
      </a>
      <a href="#" class="btn btn-primary primary-color btn-xs">
        <span class="glyphicon" [class.glyphicon-paperclip]="true"></span>
      </a>
      <a href="#" class="btn btn-primary primary-color btn-xs">
        <span class="glyphicon" [class.glyphicon-cd]="true"></span>
      </a>
    </div>  -->

    <app-buttons-input-text
      [title]="title"
      [showFlash]="showFlash"
      [showPaperclip]="showPaperclip"
      [showCD]="showCD"
      (onFile)="doFile()"
      (onRecord)="doRecord()"
      (onTask)="doTask()"
    ></app-buttons-input-text>

  <textarea
    class="form-control"
    [rows]="rows"
    [value] = "text"
    [placeholder]="placeholder"
    autocomplete="nope"
  ></textarea>
</div>
