<app-input-filter-add
  [hidden]="fields.length < 10"
  [filterCount]="countFiltered"
  [showAdd]="false"
  [showFilterCount]="true"
  (onFilter)="filterText = $event"
  [showInputFilter]="true"
  [filterText] = "filterText"
></app-input-filter-add>
<div
  [hidden]="fields.length < 10"
  style="padding-bottom: 5px"
  
></div>
<div class="table-content">
<table
  class="table table-condensed table-bordered less-bottom"
  [style.padding-bottom]="noPadding ? '0px' : '10px'"
  [style.margin-bottom]="noPadding ? '0px' : '10px'"
  
>
  <tbody>
    <ng-container *ngFor="let e of fields | keyvalue; let i = index">
      <tr class="info" *ngIf="!isHiddenMap.get(i)">
        <td style="width: 25%">
          {{ headings[i] }}
        </td>
        <td style="padding: 0px" *ngIf="fields[i].slice(-4) == 'Keys'">
          <app-input-table
            [headings]="['Name']"
            [fields]="['name']"
            [entities]="values[i]"
            [noPadding]="true"
            [inputType]="'entity'"
          ></app-input-table>
        </td>
        <td *ngIf="fields[i].slice(-4) != 'Keys' && fields[i].slice(-7) != 'Address'">
          {{ values[i] }}
        </td>
        <td *ngIf="fields[i].slice(-7) == 'Address'">
          {{ values[i].toString() }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
</div>