<app-input-filter-add
  [hidden]="fields.length < 10"
  [filterCount]="countFiltered"
  [showAdd]="false"
  [showFilterCount]="true"
  (onFilter)="filterText = $event"
  [showInputFilter]="true"
></app-input-filter-add>
<div style="padding-bottom: 5px"></div>


  <table
    class="table table-condensed table-bordered less-bottom"
    [style.padding-bottom]="noPadding ? '0px' : '10px'"
    [style.margin-bottom]="noPadding ? '0px' : '10px'"
  >
    <!-- <thead class="info">
      <tr>
        <th *ngFor="let h of headings" class="info">
          <small>{{ h }}</small>
        </th>
      </tr>
    </thead> 
    [hidden]="isHiddenMap.get(e)"
-->
    <tbody>
      <ng-container *ngFor="let e of fields | keyvalue; let i = index">
        <tr class="info" *ngIf="!isHiddenMap.get(i)">
          <td style="width: 30%">
            {{ headings[i] }}
          </td>
          <td style="padding: 0px" *ngIf="fields[i].slice(-4) == 'Keys'">
            <app-input-table
              [headings]="['Name']"
              [fields]="['name']"
              [entities]="values[i]"
              [noPadding]="true"
              [inputType]="'entity'"
            ></app-input-table>
          </td>
          <td *ngIf="fields[i].slice(-4) != 'Keys'">
            {{ values[i] }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

