th{
    /* border-top: 2px solid lightgray;
    border-left: 2px solid lightgray; */
}

td{
    /* border-top: 1px solid lightgray;
    border-left: 1px solid lightgray; */
}

table{
    border-spacing: 0;
}

.tableFixHead {
    height: 100.7%;
    /* width: 100.2%; */
    overflow-y: auto;
    overflow-x: auto;
  }
  .tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 990;
  }