<div class="container-flex">
  <div class="row">
    <div class="col-xl-12 col-md-6 col-lg-6"
    [class.col-sm-12] = "isNarrow"
      [class.col-md-12] = "isNarrow"
      [class.col-md-6] = "!isNarrow"
      [class.col-sm-6] = "!isNarrow">
      <app-input-any
        [type] = "typeLeft"
        [filterText]="filterText"
        [doHideByFilter]="doHideByFilter"
        [title]="titleLeft"
        [placeholder]="placeholderLeft"
        [disabled]="disabledLeft"
        [value]="valueLeft"
        [values]="valuesLeft"

        (onFile)="doFileLeft()"
        (onRecord)="doRecordLeft()"
        (onTask)="doTaskLeft()"
        (onChange) = "doChangeLeft($event)"
        
        [showFlash]="showFlashLeft"
        [showPaperclip]="showPaperclipLeft"
        [showCD]="showCDLeft"
        [showAdd] = "showAddLeft"
        [showDelete] = "showDeleteLeft"
        [showEdit] = "showEditLeft"

        [maxValue] = "maxValueLeft"
        [minValue] = "minValueLeft"
        [increment] = "incrementLeft"
      ></app-input-any>

      
    </div>

    <div class="col-xl-12 col-lg-6"
      [class.col-sm-12] = "isNarrow"
      [class.col-md-12] = "isNarrow"
      [class.col-md-6] = "!isNarrow"
      [class.col-sm-6] = "!isNarrow"
      >
      <app-input-any
        [type] = "typeRight"
        [filterText]="filterText"
        [doHideByFilter]="doHideByFilter"
        [title]="titleRight"
        [placeholder]="placeholderRight"
        [disabled]="disabledRight"
        [value]="valueRight"
        [values]="valuesRight"

        (onFile)="doFileRight()"
        (onRecord)="doRecordRight()"
        (onTask)="doTaskRight()"
        (onChange) = "doChangeRight($event)"
        
        [showFlash]="showFlashLeft"
        [showPaperclip]="showPaperclipLeft"
        [showCD]="showCDLeft"
        [showAdd] = "showAddRight"
        [showDelete] = "showDeleteRight"
        [showEdit] = "showEditRight"

        [maxValue] = "maxValueRight"
        [minValue] = "minValueRight"
        [increment] = "incrementRight"
      ></app-input-any>


    </div>
  </div>
</div>
