<app-input-filter-add
  [title]="'Settings'"
  [showSave]="true"
  [showCancel]="true"
  [showT]="true"
  [showDuplicate]="false"
  [showDownload]="true"
  (onFilter)="doFilter($event)"
></app-input-filter-add>

<form autocomplete="off">
  <div
    [class.settings-detail-form-full]="isFullScreen()"
    [class.settings-detail-form-half]="isHalfScreen()"
  >
  <!-- <hr class="text-primary-bold" style="height: 1px; margin: 0px;" />
    <div class="text-primary-h4" style="margin-top: 5px;">
      <u>Settings: Miscellaneous</u>
    </div>
  <app-input-duo
      [isNarrow]="isNarrow"
      [typeLeft]="'checkbox'"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [titleLeft]="'Show Active Entities only'"
      [showCheckLeft]="false"
      
      [typeRight]="''"
      
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      
    ></app-input-duo> -->
    <!-- <hr class="text-primary-bold" style="height: 1px; margin: 0px;" /> -->
    <div class="text-primary-h4" style="margin-top: 5px;">
      <u>Settings: maintain lists and select defaults</u>
    </div>

    <app-input-duo
      [isNarrow]="isNarrow"
      [typeLeft]="'select-entity'"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [titleLeft]="'Countries'"
      [valuesLeft]="data.countries"
      [valueLeft]="data.getDefault('countryKey')"
      [typeRight]="'select-entity'"
      [titleRight]="'Industries'"
      [valuesRight]="data.industries"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo>

    <app-input-duo
      [isNarrow]="isNarrow"
      [typeLeft]="'select-entity'"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [titleLeft]="'Business Areas'"
      [valuesLeft]="data.businessAreas"
      [valueLeft]="0"
      [typeRight]="'select-entity'"
      [titleRight]="'Business Divisions'"
      [valuesRight]="data.businessDivisions"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo>

    <app-input-duo
      [isNarrow]="isNarrow"
      [typeLeft]="'select-entity'"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [titleLeft]="'Legal Classes'"
      [valuesLeft]="data.legalClasses"
      [valueLeft]="0"
      [typeRight]="'select-entity'"
      [titleRight]="'Contact Preferences'"
      [valuesRight]="data.contactPreferences"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo>

    <app-input-duo
      [isNarrow]="isNarrow"
      [typeLeft]="'select-entity'"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [titleLeft]="'Entity Statuses'"
      [valuesLeft]="data.entityStatuses"
      [valueLeft]="0"
      [typeRight]="'select-entity'"
      [titleRight]="'Entity Status Tiers'"
      [valuesRight]="data.entityStatusTiers"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo>

    <app-input-duo
      [isNarrow]="isNarrow"
      [typeLeft]="'select-entity'"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [titleLeft]="'Accounting Classes'"
      [valuesLeft]="data.accountingClasses"
      [valueLeft]="0"
      [typeRight]="'select-entity'"
      [titleRight]="'Accounting Class Tiers'"
      [valuesRight]="data.accountingTiers"
      [valueRight]="0"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
      [showCheckLeft]="true"
      [showCheckRight]="true"
    ></app-input-duo>
<div style="padding-bottom: 5px;"> </div>
    <hr>
    <div class="text-primary-h4" style="margin-top: 5px;">
      <u>Settings: contact details</u>
    </div>

    <app-input-person-contact
      [title]="'Super User Contact Details'"
    ></app-input-person-contact>

    <app-input-person-contact
      [title]="'Support Contact Details'"
    ></app-input-person-contact>

    <app-input-address
      [title]="'Entity Default Address'"
      [filterText]="filterText"
      [doHideByFilter]="true"
    ></app-input-address>
  </div>
</form>
