<div class="container-flex">
    <div class="row">
      <div class="col-xs-6">
        <app-input-select
          [filterText]="filterText"
          [doHideByFilter]="doHideByFilter"
          [title]="titleLeft"
          [selectedValue]="selectedValueLeft"
          [options] = "optionsLeft"
        ></app-input-select>
      </div>
      <div class="col-xs-6">
          <app-input-select
            [filterText]="filterText"
            [doHideByFilter]="doHideByFilter"
            [title]="titleRight"
            [selectedValue]="selectedValueRight"
            [options] = "optionsRight"
          ></app-input-select>
        </div>
    </div>
  </div>
