/* You can add global styles to this file, and also import other style files */
/*@import "/node_modules/bootstrap/dist/css/bootstrap.css"*/

body {
  overflow: hidden;
  /* min-width: 900px; */
}

.panel.nobottom {
  margin-bottom: 0px;
}
.nobottom {
  margin-bottom: 0px;
}

.less-bottom {
  margin-bottom: 10px;
}

.panel-heading.message {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: x-small;
}
.panel-body.message {
  padding: 3px;
}

.panel.narrow {
  margin-top: 2px;
  margin-bottom: 2px;
}

.panel.less-padding {
  padding: 5px;
}

.btn.btn-xs {
  font-size: x-small;
}

.no-gutter > [class*="col-"] {
  padding-right: 1px;
  padding-left: 1px;
  margin-bottom: 0px;
}

.mt3 {
  padding-right: 3px;
  padding-left: 3px;
  padding: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* .mt-0 {
    margin-top: 0 !important;
  } */

/*main content of entities in full screen*/
/* .panel-body-full {
  height: calc(100vh - 93px);
  overflow-y: hidden;
  scrollbar-width: thin;
} */

/* .entities-detail-full{
  height: calc(100vh - 91px);
  overflow-y: hidden;
  scrollbar-width: thin;
} */

/* .entities-detail-half{
  height: calc(50vh - 72px);
  overflow-y: hidden;
  scrollbar-width: thin;
} */

/* .container-panel-right {
  height: calc(100vh-0px);
  overflow-y: hidden;
  scrollbar-width: thin;
} */
.container-panel-left-full {
  height: calc(100vh - 30px);
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.container-panel-center-full {
  height: calc(100vh - 30px);
  overflow-y: hidden;
  scrollbar-width: thin;
}

.container-panel-left-half {
  height: calc(50vh - 47px);
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.container-panel-center-half {
  height: calc(50vh - 47px);
  overflow-y: hidden;
  scrollbar-width: thin;
}

/*panel body for the tasks and messages*/
.entities-tasks {
  height: calc(100vh - 85px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.entities-messages {
  height: calc(100vh - 85px);
  overflow-y: scroll;
  overflow-x: hidden;
}

/*160*/
.entities-detail-form-full {
  height: calc(100vh - 125px);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.entities-detail-form-half {
  height: calc(50vh - 145px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

/*for entities, tasks, records: halfs*/
/* .panel-body-half {
  height: calc(100vh / 2 - 71.5px);
  overflow-y: auto;
  scrollbar-width: thin;
} */

.entities-full {
  height: calc(100vh - 178px);
  overflow-y: auto;
}

.entities-half {
  height: calc(50vh - 132px);
  overflow-y: auto;
}

.details-full {
  height: calc(100vh - 128px);
  overflow-y: hidden;
  overflow-x: hidden;
}

.details-half {
  height: calc(50vh - 107px);
  overflow-y: hidden;
  overflow-x: hidden;
}

/* .tasks-full {
    height: calc(100vh - 117px);
    overflow-y: auto;
    overflow-x: hidden;
  } */

.tasks-half {
  height: calc(50vh - 152px);
  overflow-y: auto;
  overflow-x: hidden;
}

.tasks-details-full {
  height: calc(100vh - 90px);
  overflow-y: auto;
  overflow-x: hidden;
}

.tasks-details-half {
  height: calc(50vh - 143px);
  overflow-y: auto;
  overflow-x: hidden;
}

.files-attributes-half {
  height: calc(50vh - 82px);
  overflow-y: auto;
  overflow-x: hidden;
}

.files-details-full {
  height: calc(100vh - 65px);
  overflow-y: auto;
  overflow-x: auto;
}

.files-details-half {
  height: calc(50vh - 47px);
  overflow-y: auto;
  overflow-x: auto;
}

/* .table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
} */

/* .records-full {
    height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
  } */
/* 
  .headcol-1 {
    position:absolute; 
    width:5em; 
    left:0;
    top:auto;
    border-right: 0px none black; 
    border-top-width:3px; 
    margin-top:-3px; 
} */

.records-half {
  height: calc(50vh - 133px);
  overflow-y: auto;
  overflow-x: hidden;
}

.record-details-full {
  height: calc(100vh - 90px);
  overflow-y: auto;
  overflow-x: hidden;
}

.record-details-half {
  height: calc(50vh - 152px);
  overflow-y: auto;
  overflow-x: hidden;
}

hr {
  margin: 5px;
}

.btn-group.wide {
  display: flex;
}

.wide .btn {
  flex: 1;
}

.primary-color {
  /* background-color: rgb(51, 122, 183); */
  background-color: rgb(220, 0, 50); /*absa*/
  color: white;
  border-color: rgb(150, 5, 4);
  box-shadow: none;
}
/* lable{
  border-color:  rgb(150,5,4);
} */

/*rgb(236, 234, 234)*/
/*rgb(240, 90, 120);*/
.table > tbody > tr.info > td,
.table > tbody > tr.info > th {
  background-color: rgb(236, 234, 234);
  /* color: rgb(240, 90, 120); */
  color: rgb(85, 85, 85);
}
.table > tbody > tr.info > td > a,
.table > tbody > tr.info > th > a {
  color: rgb(85, 85, 85);
}
.table > tbody > tr > td > a,
.table > tbody > tr > th > a {
  color: rgb(85, 85, 85);
}

table > tbody > tr.info > td,
.table > tbody > tr > td.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr > td.info,
.table > thead > tr.info > td,
.table > thead > tr > td.info {
  background-color: rgb(240, 50, 90); /*absa*/
  color: white;
}
/* table > tbody > tr.info > td:hover,
.table > tbody > tr > td.info:hover,
.table > tfoot > tr.info > td:hover,
.table > tfoot > tr > td.info:hover,
.table > thead > tr.info > td:hover,
.table > thead > tr > td.info:hover,
.tr:hover
 {
  background-color: rgb(240, 50, 90); 
  color: white;
} */
/* .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(240, 50, 90);
} */

/* .table-hover.info tbody.info tr.info:hover td.info, .table-hover tbody tr:hover th {
  background-color: rgb(240, 50, 90);
} */
/* tr.info:hover{
  background-color: rgb(240, 50, 90);
} */

.table-hover > tr > td:hover {
  background-color: white; /*absa*/
  color: white;
}
.table > tfoot > tr.info > th,
.table > tfoot > tr > th.info,
.table > thead > tr.info > th,
.table > tbody > tr > th.info,
.table > tbody > tr.info > th,
.table > thead > tr > th.info {
  /*background-color: rgb(220, 0, 50); absa*/
  /* background-color: rgb(240, 90, 120); */
  background-color: rgb(220, 0, 50);
  color: white;
  font-weight: normal;
}
td.info > a {
  color: white;
}

/* .table > tbody > tr.info > td > a {
  color: white;
} */

/* .btn:active{
  color:pink;
} */
/*background-color: rgb(150, 5, 4); /*absa*/
.btn-primary.active.focus,
.btn-primary.active.focus:focus,
.btn-primary.focus,
.btn-primary.active,
.btn-primary.active:focus,
.btn-primary:focus {
  background-color: rgb(220, 0, 50);
  border-color: rgb(150, 5, 4);
  box-shadow: none  !important;
}
/* .btn-primary.active:focus {
  background-color: rgb(150, 5, 4); 
  border-color: white;
} */
.btn-primary.active:hover {
  background-color: rgb(220, 0, 50);
  /* background-color: rgb(150, 5, 4); */
  /* border-color: white;  */
}
.btn-primary.active:focus,
.btn-primary.active.focus,
.btn-primary.active.focus:focus {
  background-color: rgb(150, 5, 4);
  /* background-color: rgb(150, 5, 4); */
  /* border-color: white;  */
  box-shadow: none  !important;
}
.btn-primary {
  background-color: rgb(220, 0, 50); /*absa*/
  border-color: rgb(150, 5, 4);
  box-shadow: none  !important;
}
.btn-primary:hover {
  background-color: rgb(150, 5, 4);
  /* border-color: rgb(150, 5, 4); */
  box-shadow: none  !important;
}
.btn-primary:active,
.btn-primary.active:focus .btn-primary.active.focus,
.btn-primary.active.focus:focus {
  background-color: rgb(150, 5, 4);
  border-color: rgb(150, 5, 4);
  box-shadow: none  !important;
}
/* label.btn.btn-primary.active.focus,
label.btn.btn-primary.active:focus,
label.btn.btn-primary.active.focus:focus,
label.btn.btn-primary:focus{
  background-color: rgb(150, 5, 4);
  border-color: rgb(150, 5, 4);
} */
/* .btn-primary:focus {
  background-color: rgb(150, 5, 4);
  border-color: white; 
} */
/* .btn:focus{
  border-color: white;
} */

/* .btn.btn-primary.primary-color-active.active.focus,
.btn.btn-primary.primary-color-active.active.focus:focus,
.btn.btn-primary.primary-color-active.active:focus,
.btn.btn-primary.primary-color-active.active,
.btn.btn-primary.primary-color-active:active{
  background-color: rgb(150, 5, 4);
  border-color: white; 
} */
/* .btn:focus,.btn:active {
  outline: none !important;
  background-color: rgb(150, 5, 4) !important;
  border-color: white !important;
  box-shadow: none;
} */

.text-primary {
  /* color: rgb(240, 90, 120); */
  color: rgb(150, 5, 4);
}
.info {
  background-color: rgb(240, 90, 120);
}

.panel {
  border-color: rgb(240, 90, 120);
}

/* .a > strong {
  color: blue;
  text-decoration: none;
  border-bottom: 1px solid white;
} */
.panel-info > a > strong {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.panel-info > a {
  color: white;
  /* text-decoration: none;
  border-bottom: 1px solid white; */
}
.panel-info.panel-heading > a {
  color: white;
  /* text-decoration: none;
  border-bottom: 1px solid white; */
}
.panel-info > label {
  color: white;
}
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover {
  color: #fff;
  background-color: rgb(240, 90, 120);
  border-color: white; /*rgb(150, 5, 4); /*absa*/
}
.btn-info {
  color: #fff;
  background-color: rgb(240, 90, 120);
  /* border-color: rgb(150, 5, 4); absa*/
  border-color: white;
}
.btn-info:active {
  color: #fff;
  background-color: rgb(150, 5, 4); /*absa*/
  border-color: white; /*rgb(150, 5, 4); /*absa*/
}
.btn-info.active:focus {
  color: #fff;
  background-color: rgb(150, 5, 4); /*absa*/
  border-color: white; /* rgb(150, 5, 4); /*absa*/
}
.btn-info:focus {
  color: #fff;
  background-color: rgb(150, 5, 4); /*absa*/
  border-color: white; /*rgb(150, 5, 4); /*absa*/
}
.btn-info:hover {
  color: #fff;
  background-color: rgb(150, 5, 4); /*absa*/
  border-color: white; /* rgb(150, 5, 4); /*absa*/
}
.a {
  color: white;
  text-decoration: none;
}
.panel-info > div > a > strong {
  color: white;
  text-decoration: none;
}

/* background-color: rgb(32, 77, 116); */
.primary-color-active,
.primary-color-active:active,
.primary-color-active:focus,
.primary-color-active.active,
.primary-color-active.active:active,
.primary-color-active.active:focus,
.primary-color-active.active.focus,
.primary-color-active.active.focus:active,
.primary-color-active.active.focus:focus .primary-color-active.focus,
.primary-color-active.focus:active,
.primary-color-active.focus:focus {
  background-color: rgb(150, 5, 4);
  /* border-color: rgb(150, 5, 4); */
  color: white;
}
.primary-color:focus,
.primary-color.active:focus,
.primary-color.active.focus,
.primary-color.active.focus:focus {
  background-color: rgb(150, 5, 4);
  /* border-color: white; */
  color: white;
}

/* color: rgb(51, 122, 183); original */
.primary-color-reverse {
  color: rgb(220, 0, 50);
  background-color: white;
  border-color: rgb(150, 5, 4);
}

.primary-color-input-reverse{
  border-color: rgb(150, 5, 4);
}

/* background-color: rgb(55, 130, 190); original */
/* .btn-primary.primary-color {
  background-color: rgb(220, 0, 50); 
  color: white;
} */
/* .btn-primary.primary-color:active {
  background-color: rgb(55, 130, 190); original 
  /background-color: pink; 
  border-color: white;
}
.btn-primary.primary-color-active.active,
.btn-primary.primary-color-active.focus {
  /* background-color: rgb(55, 130, 190); original 
  /* background-color: pink; 
  border-color: white;
} */

.info-color {
  /* background-color: rgb(81, 145, 201); */
  background-color: rgb(220, 0, 50); /*absa*/
  color: white;
}

textarea {
  resize: none;
}

/* .p-5{
  padding-top:5px;
  padding-bottom:5px;
}

.p-7{
  padding-top:7px;
  padding-bottom:7px;
}

.navbar-nav.li.a{
  padding-top:5px;
  padding-bottom:5px;
} */

/* (80px - line-height of 27px) / 2 = 26.5px */
/* @media (min-width: 768px) {
  .navbar-nav > li > a {
    
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 5px;
  }
} */

/*narrow navbar: works but only for big screens*/
/* .navbar.narrow {
  
  height:40px;
  min-height: 40px;
} */
/* max-height: 20px; */

/* .navbar-brand {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
} */

/* .navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
} */
/* (80px - button height 34px) / 2 = 23px */

/* .nav-tabs{
  padding: 5px;
} */

.navbar {
  min-height: 20px;
  margin-bottom: 0px;
}

.navbar-brand {
  padding: 0 15px;
  height: 20px;
  line-height: 20px;
}

.navbar {
  min-height: 20px;
  margin-bottom: 0px;
}

.navbar-collapse {
  padding-left: 0px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

/* (80px - line-height of 27px) / 2 = 26.5px */
/* @media (min-width: 768px) {
  .navbar-nav > li > a {
    
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 10px;
  }
} */

.navbar-nav > li > a {
  /* (80px - line-height of 27px) / 2 = 26.5px */
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 10px;
}

.vericaltext {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* .sturdy td:nth-child(1),
.sturdy td:nth-child(3) {
  width: 25%;
}
.sturdy td:nth-child(2) {
  width: 50%;
} */

.label-buttons-3 {
  /*display: block;*/
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  display: inline-block;
  width: calc(100% - 67px);
}
.label-buttons-4 {
  /*display: block;*/
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  display: inline-block;
  width: calc(100% - 90px);
}
.label-buttons-5 {
  /*display: block;*/
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  display: inline-block;
  width: calc(100% - 115px);
}

.label-buttons-6 {
  /*display: block;*/
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  display: inline-block;
  width: calc(100% - 130px);
}

.label-buttons-7 {
  /*display: block;*/
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  overflow: hidden;
  display: inline-block;
  width: calc(100% - 153px);
}

/*checkbox sizes*/
/* .checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}

.checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}

.checkbox-xl .custom-control-label {
  padding-top: 23px;
  padding-left: 10px;
} */

.label-checkbox {
  /* display: block; */
  padding-left: 15px;
  text-indent: 0px;
  font-weight: bold;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;

  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: 1px;
  *overflow: hidden;
}
/* input[type="checkbox"]+label{
background-color: rgba(0, 0, 0, 0);
  color: white;
} */

.highlight {
  background-color: rgb(220, 0, 50); /*absa*/
  /* background-color: blue; original*/
}
/* 
.input-group-addon-xs{
  padding: 3px, 6px;
} */

.panel.noborder {
  border: none;
  box-shadow: none;
}
/* .panel.noborder > .panel-heading {
  border: 1px solid #dddddd;
  border-radius: 0;
} */

.panel-primary > .panel-heading {
  background-color: rgb(170, 5, 45);
  color: white;
  border-color: rgb(150, 5, 4);
}
.panel-info > .panel-heading {
  /* background-color: rgb(240, 90, 120); */
  background-color: rgb(175, 20, 75);
  color: white;
  border-color: rgb(150, 5, 4);
}
.panel-.info > .panel-heading {
  color: white;
}

.bs-datepicker-body table td.week span {
  color: rgb(220, 0, 50) !important;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head,
.bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover {
  background-color: rgb(220, 0, 50) !important;
} 

