<div
  class="form-group input-group-sm nobottom"
  [hidden]="hideByFilter()"
  style="margin-top: 5px; margin-right: 1px; margin-bottom: 5px;"
>
  <div class="input-group-sm" style="display: block;">
    <label class="nobottom text-primary-bold"
      [class.label-buttons-4] = "countAll>15"
      [class.label-buttons-3] = "countAll<=15"
      >{{ title }}
    </label>

    <!-- <app-buttons-input-select
      [title]="title"
      (onEdit)="showEdit()"
      (onAdd)="showNew()"
      (onDelete)="(deleteItem)"
      [isDoInput]="isDoInput"
      (onFile)="doFile()"
      (onRecord)="doRecord()"
      (onTask)="doTask()"
      [showFlash]="showFlash"
      [showPaperclip]="showPaperclip"
      [showCD]="showCD"
      [showFilter]="true"
      (onFilter)="doFilter($event)"
      (onShowingFilter) = "showingFilter($event)"
    ></app-buttons-input-select> -->

    <app-buttons-input-select
      [title]="title"
      [isDoInput]="isDoInput"
      [showAdd]="true"
      [showEdit]="false"
      [showDelete]="false"
      [showFlash]="showFlash"
      [showPaperclip]="showPaperclip"
      [showCD]="showCD"
      [showCheck]="showCheck"
      [showFilter]="countAll > 15"
      [showCancel]="false"
      [showSave]="false"
      [showExpandContract]="true"
      [showExpand]="showExpand"
      [showContract]="!showExpand"
      (onExpand)="doExpand()"
      (onContract)="doContract()"
      [countItems]="countItems()"
      [countItemsSelected]="countSelected()"
      (onAdd)="showNew()"
      (onFile)="doFile()"
      (onRecord)="doRecord()"
      (onTask)="doTask()"
      (onFilter)="doFilter($event)"
      (onShowingFilter)="showingFilter($event)"
    ></app-buttons-input-select>
  </div>

  <!-- <div class="input-group-sm" [hidden]="!isDoInput">
    <input
      type="text"
      class="form-control"
      placeholder=""
      #inputText
      name="text"
      [(ngModel)]="text"
    />
  </div> -->

  <app-input-select-text
    [isDoInput]="isDoInput"
    [showSave]="true"
    [showCancel]="true"
    [text]="text"
    (onSave)="doSave($event)"
    (onCancel)="doCancel()"
  ></app-input-select-text>

  <br [hidden]="!isShowingFilter" />
  <!-- <div style="display:block;height:0px;max-height:0px"></div> -->

  <div style="display: block; width: 100%;">
    <div class="input-group-sm">
      <ul
        class="list-group"
        style="margin-bottom: 0px; overflow-y: auto;"
        [style.max-height]="showExpand ? '90px' : '270px'"
        (scroll)="onScrollData($event)"
      >
        <div
          *ngFor="let e of values | keyvalue"
          [hidden]="hideItem(e.value.name)"
        >
          <li
            *ngIf="isLoadAll || getDoLoad(e.key)"
            class="list-group-item input-sm"
            style="vertical-align: top; padding-bottom: 5px; padding-top: 5px;"
          >
            <!-- <div class="input-checkbox-compute-width"> -->
              <app-input-checkbox
                [titleBold]="false"
                [showSmall]="true"
                [title]="e.value.name"
                [value]="selectedItems.indexOf(e.key) > -1"
                (onChange)="doCheckField(e.key, $event)"
              ></app-input-checkbox>
            <!-- </div> -->
            <a
              href="#"
              class="btn primary-color-reverse btn-xs pull-right"
              (click)="doEdit(e.key)"
              style="border-left: none;"
            >
              <mat-icon
                aria-hidden="true"
                aria-label="Entities"
                [title]="'Edit ' + e.value.name"
                >edit</mat-icon
              >
            </a>
            <a
              href="#"
              class="btn primary-color-reverse btn-xs pull-right"
              (click)="doDelete(e.key)"
            >
              <mat-icon
                aria-hidden="true"
                aria-label="Entities"
                [title]="'Delete ' + e.value.name"
                >clear</mat-icon
              >
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
