.mat-icon {
    vertical-align: middle;
    font-size: 12px;
    width: 11.9px;
    height: 13px;
  }

  .input-checkbox-compute-width{
    width:calc(100%);
    display:inline-block;
  }

  .list-group-item{
    height:28px;
    padding-top:2px;
    vertical-align: middle;
    border-bottom:none;
  }