<div
  class="form-group input-group-sm nobottom app-input"
  [class.disabled] = "disabled"
  [hidden]="hideByFilter()"
  style="margin-right: 1px;"
>
  <div class="input-group-sm" style="margin-bottom: 5px;" [class.disabled]="disabled">
    <label class="nobottom text-primary-bold label-buttons-3" [class.disabled]="disabled">{{
      title
    }}</label>

    <app-buttons-input-text
      [title]="title"
      (onFile)="doFile()"
      (onRecord)="doRecord()"
      (onTask)="doTask()"
      [showFlash]="showFlash"
      [showPaperclip]="showPaperclip"
      [showCD]="showCD"
      [showCheck]="showCheck"
      [title]="title"
    ></app-buttons-input-text>
  </div>

  <input
    type="text"
    class="form-control nobottom"
    [placeholder]="placeholder"
    [disabled]="disabled"
    autocomplete="nope"
    #inputText
    [ngModel]="value"
    (ngModelChange)="doChange($event)"
    data-toggle="tooltip"
    data-placement="bottom"
    [title]="placeholder"
  />
</div>
