
<!-- <div class="text-primary-h 4" style="margin-top: 5px;">
  Primary details: regulator
</div> -->
<app-label-h [title]="'Primary details: regulator'"></app-label-h>
<app-input-duo
[isNarrow]="isNarrow"
[typeLeft]="'select-entity'"
[filterText]="filterText"
[doHideByFilter]="true"
[titleLeft]="'Country'"
[valuesLeft]="data.getCountries()"
[valueLeft]="data.getDefault('countryKey')"

[typeRight]="'select-checkbox'"
[titleRight]="'Regulations'"
[valuesRight] = "data.getRegulations()"
[valueRight] = "0"
(onFile)="doFile($event)"
(onRecord)="doRecord($event)"
(onTask)="doTask($event)"
[showCheckLeft]="true"
[showCheckRight]="true"
></app-input-duo>

<div style="padding-bottom: 5px;"> </div>
<hr>