
<!-- <div class="text-primary-h 4" style="margin-top: 5px;">
  Headline Information
</div> -->
<app-label-h [title]="'Headline Information'"></app-label-h>

<app-input-duo
  [isNarrow]="isNarrow"
  [typeLeft]="'text'"
  [titleLeft]="'Suffix'"
  [placeholderLeft]="
    'Suffix - used to differenciate entities with the same name'
  "
  [typeRight]="'checkbox'"
  [titleRight]="'Active'"
  [valueRight]="true"
  [doHideByFilter]="true"
  (onFile)="doFile($event)"
  (onRecord)="doRecord($event)"
  (onTask)="doTask($event)"
  [showCheckLeft]="true"
  [showCheckRight]="true"
>
</app-input-duo>

<app-input-textarea
  [title]="'Description'"
  [placeholder]="'Notes, further details...'"
  [showCheck]="false"
></app-input-textarea>

<div>
    <app-input-duo
      [isNarrow]="isNarrow"
      [filterText]="filterText"
      [doHideByFilter]="true"
      [typeLeft]="'select-entity'"
      [titleLeft]="'Entity Type'"
      [valuesLeft]="data.getEntityTypes()"
      [valueLeft]="0"
      [showAddLeft]="false"
      [showEditLeft]="false"
      [showDeleteLeft]="false"
      [showCheckLeft]="true"
      [disabledLeft] = "true"

      [typeRight]="'text'"
      [titleRight]="'Internal Code'"
      [showCheckRight]="true"
      (onChangeLeft)="doChangeEntityType($event)"
      (onFile)="doFile($event)"
      (onRecord)="doRecord($event)"
      (onTask)="doTask($event)"
    >
    </app-input-duo>
  </div>

<div style="padding-bottom: 5px;"> </div>
<hr>